<template>
	<div>
        <contratodata v-if="id!=''" :id_contrato="id"></contratodata>
		<div class="col-md-12">
            <div class="mb-3 row">
                <button type="button" class="btn btn-success" @click="nuevo = true">Nuevo</button>
                <devoluciones v-if="false" :id="id" :id_tipo="1" :tipo_from="2" :tipo_to="2" />
            </div>
            <div class="card" v-if="nuevo">
                <div class="card-header">
                    <h4>Nuevo detalle</h4>
                </div>
                <div class="card-body">
                        <div class="col-md-6">        
                            <label>Fecha de Suscripción</label>
                            <vuejs-datepicker datepicker 
                                :language="es" 
                                :input-class="'form-control'" 
                                :format="datePickerFormat"
                                v-model="form.fecha_suscripcion" 
                                >
                            </vuejs-datepicker>
                            <small class="text-danger">{{error['fecha_suscripcion']}}</small>
                        </div>
                        <div class="col-md-6">        
                            <label>Periodo</label>
                            <input type="text" class="form form-control" name="periodo" id="periodo" v-model="form.periodo" required>
                        </div>
                        <div class="col-md-6">        
                            <label>Valor Avalado</label>
                            <input type="text" v-money="money" class="form form-control" name="valor_avalado" id="valor_avalado" v-model="form.valor" required>
                        </div>
                        <div class="col-md-12">        
                            <label>Observaciones</label>
                            <textarea class="form-control" v-model="form.observaciones"></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="text-right mt-2">
                                <button class="btn btn-danger" @click="nuevo = false" :disabled="disabled">Cerrar</button>
                                <button class="btn btn-secondary" @click="guardar_detalle" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                </div>
                
            </div>
            <div class="card">
                 <div class="card-header">
                    <h4>Movimientos de la REVISION Y TRAMITE</h4>
                </div>
                <div class="card-body">
                    <div id="">
                        <table border="1" class="table table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha de Suscripción</th>
                                    <th>Periodo</th>
                                    <th>Valor Avalado</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(data,index) in detalles" :key="index">
                                    <td style="text-align: right;">{{index+1}}</td>
                                    <td>{{ formatDate(data.fecha_suscripcion) }}</td>
                                    <td>{{ data.periodo }}</td>
                                    <td>{{ data.valor_avalado }}</td>
                                    <td>{{ data.observaciones }}</td>
                                </tr>
                                <tr v-if="detalles.length == 0">
                                    <td colspan="5" class="text-center"><strong>No hay movimientos</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>	
</template>
<script>
import contratodata from '../functions/datoscontrato';
import devoluciones from '../functions/devoluciones';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';

export default {
    components: {
        vuejsDatepicker,contratodata,devoluciones
    },
	data() {
        return {
            id: '',
            es:es,
            datePickerFormat: 'dd-MM-yyyy',
            money: this.formatMoney(),
            disabled: false,
            nuevo: false,
            form: {},
            error: {},
            detalles: []
        }
    },
    methods: {
        index() {
            let me = this
            axios
            .get(base+'/supervision/contrato/' + this.id)
            .then(function(response)
            {
                me.detalles = response.data.data
            })
            .catch(function(error){ })
        },
        guardar_detalle()
        {
            let me = this
            this.error = {}
            if(!this.form.fecha_suscripcion) {
                this.error.fecha_suscripcion = 'Es necesario la fecha de Suscripción'
                return
            }

            this.disabled = true

            this.form.contrato_id= this.id
            this.form.fecha_suscripcion = this.convertDate(this.form.fecha_suscripcion)

            if(this.form.valor) {
                this.form.valor_avalado = this.formatNumberReplaceCommas(this.form.valor)
            }

            axios
            .post(base+'/supervision', this.form)
            .then(function(response)
            {
                me.index()
                me.$swal(response.data.message)
                me.reset()
            })
            .catch(function(error){ 
                me.$swal('ERROR');
                me.disabled = false
            })
        },
        reset() {
            this.form = {}
            this.disabled = false
        }
    },
    mounted() {
        this.id = this.$route.params.contrato_id
        this.index()
    }
}
</script>