<template>
	<div>
            <div class="row">
				<div class="col-md-6">
					<label for="filterInput">Ingrese el valor a buscar</label>
					<div class="input-group mb-3">
						<input type="text" v-model="filter" class="form-control" placeholder="Buscar">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" :disabled="filter==''" @click="filter=''">Limpiar</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<label for="perPage">Seleccione el numero de registros a ver</label>
					<select class="form form-control" name="perPage" id="perPage" v-model="perPage">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<b-table
				show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="contratos"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
				>
				<template #cell(id)="row">
				<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                    <b-dropdown-item :to="{name:'asignarProtocolarizacion',params:{cdp_id:row.item.id}}">Asignar información de contrato</b-dropdown-item>
				</b-dropdown>
                </template>
                <template #cell(valor_contrato)="row">
					$ {{row.item.valor_contrato|currency}}
                </template>
            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
	</div>
</template>
<script>
import fn from "../functions/currency";
export default {

	filters:{
		currency:function(value){
			return fn.formatCurrency(value);
		}
	},
	data() {
		return {
			codigo: '',
			contratos: [],
			totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "numero", label: "numero", sortable: true },
				{ key: "objeto", label: "objeto", sortable: true },
				{ key: "valor_contrato", label: "Valor del contrato", sortable: true },
			]
		}
	},
	methods: {
        index(valor) {
			let me = this
            let url = '/contratos/todos'
            if(valor) {
                url = '/contratos/todos?buscar='+valor
            }

			axios
            .get(base+url)
            .then(function(response)
            {
                me.contratos = response.data.data
            })
            .catch(function(error){ })
		},
		search() {
			this.index(this.codigo)
		}
	},
	mounted() {
        this.base=base
        this.index()
	}
}
</script>