<template>
    <div id="circle">
        <div class="loader">
            <div class="loader">
                <div class="loader">
                    <div class="loader">

                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
export default {
    mounted(){  
		let me = this;			
		//if(localStorage.getItem('permisos') == null)
		if(true)
		{
			let url =base+'/usuarios/permistions';
			axios
			.get(url)
			.then(function(response)
			{
				localStorage.setItem('permisos',JSON.stringify(response.data))
                me.permisos=JSON.parse(localStorage.getItem('permisos'));
                setTimeout(()=>{window.location.href=base+'/dashboard/plananualadquisicion'}, 1000)
			})
			.catch(function(response){
				console.warn(response);
			})
		}
		else
		{
			me.permisos=JSON.parse(localStorage.getItem('permisos'));
		}
    }
}
</script>

<style>

html,body{
       width: 100%;
	   height: 100%;
}

 body {
     background: #0d161f;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
</style>