<template>
	<div>
		<router-view v-if="permisos==null"/>
		<!-- Page Wrapper -->
		<div id="wrapper" v-if="permisos!=null">
			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
				<!-- Sidebar - Brand -->
				<router-link :to="{ name: 'estudiosprevioIndex'}" class="sidebar-brand d-flex align-items-center justify-content-center">
					<div class="sidebar-brand-icon rotate-n-15">
					</div>
					<div class="sidebar-brand-text mx-3">Sistema de gestión de contratación.</div>
				</router-link>
				<hr class="sidebar-divider my-0">
					<div class="sidebar-heading">
						Opciones
					</div>
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<i class="fas fa-users-cog"></i>
						<span>Varios</span>
						</a>
						<div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<router-link class="collapse-item" :to="{ name: 'PlanAnualAdquisicionIndex'}" v-if="permisos.plan_anual_adquisicion_index">
									<i class="fas fa-list-ol"></i>
									Plan anual de<br>adquisición
								</router-link>
								<router-link v-if="false" class="collapse-item" :to="{ name: 'ListasChequeoIndex'}">
									<i class="fas fa-list-ol"></i>
									Listas de chequeo
								</router-link>

								<router-link class="collapse-item" :to="{ name: 'RecursoHumanoIndex'}" v-if="permisos.recursos_humanos_index">
									<i class="fas fa-users"></i>
									Recursos humanos
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'CargoIndex'}" v-if="permisos.cargos_index">
									<i class="fas fa-clipboard-list"></i>
									tipo de vinculacións		
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'users'}" v-if="permisos.Usuarios_index">
									<i class="fas fa-users"></i>
									Usuarios		
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'permisos'}" v-if="permisos.Usuarios_index">
									<i class="fas fa-users"></i>
									Permisos de usuarios		
								</router-link>
								
							</div>
						</div>
					</li>
					<!--
					<li class="nav-item" v-if="false">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
						<i class="fas fa-retweet"></i>
						<span>Devoluciones</span>
						</a>
						<div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'devolucionesIndex'}">
									<i class="fas fa-clipboard-list"></i>
									Devoluciones
								</router-link>
							</div>
						</div>
					</li>
					-->
					<hr class="sidebar-divider" v-if="permisos.estudios_previos_index">
					<div class="sidebar-heading" v-if="permisos.estudios_previos_index">
						Etapa pre-contractual
					</div>
					<li class="nav-item" v-if="permisos.estudios_previos_index">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-copy"></i>
						<span>Pre-contratación</span>
						</a>
						<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" v-if="permisos.estudios_previos_index">
								<router-link class="collapse-item" :to="{ name: 'estudiosprevioIndex'}">
									<i class="fas fa-pen-square"></i>
									Estudio de necesidad
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'cdpasignar'}">
									<i class="fas fa-pen-square"></i>
									CDP
								</router-link>
							</div>
						</div>
					</li>
					<hr class="sidebar-divider">
					<div class="sidebar-heading">
						Etapa contractual
					</div>
					<li class="nav-item" v-if="permisos.contratacion_update  || permisos.contratacion_index || permisos.contratacion_delete || permisos.contratacion_create">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
						<i class="fas fa-copy"></i>
						<span>Contratación</span>
						</a>
						<div id="collapseTree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" v-if="permisos.estudios_previos_index">
								<router-link class="collapse-item" :to="{ name: 'minuta'}">
									<i class="fas fa-pen-square"></i>
									Protocolarización
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'minuta'}">
									<i class="fas fa-pen-square"></i>
									Comité evaluador
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'supervision'}">
									<i class="fas fa-clipboard-list"></i>
									Informe de supervisión	
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'cobertura'}">
									<i class="fas fa-pen-square"></i>
									Cobertura		
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'acta-de-inicio'}">
									<i class="fas fa-clipboard-list"></i>
									Actas de inicio		
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'acta-de-suspension'}">
									<i class="fas fa-clipboard-list"></i>
									Actas de suspensión	
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'acta-de-reinicio'}">
									<i class="fas fa-clipboard-list"></i>
									Actas de reinicio
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'cuentassoportes'}" v-if="false">
									<i class="fas fa-clipboard-list"></i>
									Cuentas Soportes
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'pagosejecutados'}" v-if="false">
									<i class="fas fa-clipboard-list"></i>
									Pagos ejecutados	
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'informefinal'}" v-if="false">
									<i class="fas fa-clipboard-list"></i>
									Informe final
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'otros-si'}">
									<i class="fas fa-clipboard-list"></i>
									Otros sí	
								</router-link>
							</div>
						</div>
					</li>
					<li class="nav-item" v-if="permisos.estudios_previos_index ">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
						<i class="fas fa-money-check-alt"></i>
						<span>Pagos</span>
						</a>
						<div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" v-if="permisos.estudios_previos_index">

								<router-link class="collapse-item" :to="{ name: 'revision'}">
									<i class="fas fa-clipboard-list"></i>
									Presentacion de las <br> cuentas y demas<br>soportes<br><center>Revisión y Tramite</center>
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'ordenesPagoindex'}">
									<i class="fas fa-pen-square"></i>
									Elaboración de<br>orden de pago y<br>trámite de<br>cancelación
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'registroContableindex'}">
									<i class="fas fa-pen-square"></i>
									Registro contable
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'registroPresupuestalindex'}">
									<i class="fas fa-clipboard-list"></i>
									Registro presupuestal
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'administracionindex'}">
									<i class="fas fa-clipboard-list"></i>Firma de<br>profesional<br>universitario de<br>administracion
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'gerenciaFirmaindex'}">
									<i class="fas fa-clipboard-list"></i>
									Firma de Gerencia
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'tesoreriaPagosindex'}">
									<i class="fas fa-clipboard-list"></i>
									Tesorería
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'pagosejecutados'}" v-if="false">
									<i class="fas fa-clipboard-list"></i>
									Pagos ejecutado
								</router-link>
							</div>
						</div>
					</li>
					<template v-if="false">
					<hr class="sidebar-divider">
					<div class="sidebar-heading">
						Etapa post-contractual
					</div>
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRevisionInicial" aria-expanded="true" aria-controls="collapseRevisionInicial">
						<i class="fas fa-copy"></i>
						<span>Tipo de liquidación</span>
						</a>
						<div id="collapseRevisionInicial" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'liquidacionIndex'}">
									<i class="fas fa-clipboard-list"></i>
									Contratos<br>a liquidar
								</router-link>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFirmaGerencia" aria-expanded="true" aria-controls="collapseFirmaGerencia">
						<i class="fas fa-copy"></i>
						<span>Revisión inicial</span>
						</a>
						<div id="collapseFirmaGerencia" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'devolucionesIndex'}">
									<i class="fas fa-clipboard-list"></i>
									Devoluciones
								</router-link>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLiquidacion" aria-expanded="true" aria-controls="collapseLiquidacion">
						<i class="fas fa-copy"></i>
						<span>Firma de gerencia</span>
						</a>
						<div id="collapseLiquidacion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'devolucionesIndex'}">
									<i class="fas fa-clipboard-list"></i>
									Devoluciones
								</router-link>
							</div>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTipoLiquidacion" aria-expanded="true" aria-controls="collapseTipoLiquidacion">
						<i class="fas fa-copy"></i>
						<span>Liquidación</span>
						</a>
						<div id="collapseTipoLiquidacion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'devolucionesIndex'}">
									<i class="fas fa-clipboard-list"></i>
									Devoluciones
								</router-link>
							</div>
						</div>
					</li>
					<hr class="sidebar-divider">
					<div class="sidebar-heading">
						Contratos
					</div>
					</template>

					<li class="nav-item"  v-if="permisos.contratacion_update  || permisos.contratacion_index || permisos.contratacion_delete || permisos.contratacion_create">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInformes" aria-expanded="true" aria-controls="collapseInformes">
						<i class="far fa-newspaper"></i>
						<span>Contratos</span>
						</a>
						<div id="collapseInformes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded" >
								<router-link class="collapse-item" :to="{ name: 'contratos'}">
									<i class="far fa-newspaper"></i>
									Contratos
								</router-link>
								<router-link class="collapse-item" :to="{ name: 'informeOrdenesPago'}" v-if="false">
									<i class="fas fa-money-check-alt"></i>
									Estado de<br>ordenes de pago
								</router-link>
							</div>
						</div>
						
					</li>
			</ul>
			<!-- End of Sidebar -->
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
				<div id="content">
					<!-- Topbar -->
					<nav v-if="menu.superior" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
						</button>
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto" >
							<!-- Nav Item - Messages -->
							<div class="topbar-divider d-none d-sm-block"></div>
							<li class="nav-item dropdown no-arrow">
								<b-dropdown variant="link" size="lg" toggle-class="text-decoration-none" no-caret right>
									<template slot="button-content">
										<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
										<i class="fas fa-users-cog"></i>
										<img style="width: 26px;" v-if="false" class="img-profile rounded-circle" :src="base+'/images/logo-ese.png'">
									</template>
									<b-dropdown-item :to="{name:'cambiarpass'}">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										cambiar<br>contraseña
									</b-dropdown-item>
									<b-dropdown-item @click="salir()">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Salir
									</b-dropdown-item>
								</b-dropdown>
							</li>
							<li class="nav-item dropdown no-arrow">
								<b-dropdown variant="link" size="lg" toggle-class="text-decoration-none" no-caret right>
									<template slot="button-content" v-if="false">
										<i class="fas fa-bell"></i>
										<span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{alertasArray.length>0?alertasArray.length:''}}</span>
									</template>
									<table class="table table-hover" border="1" style="font-size: 9px;">
										<tr v-for="(item,idx) in alertasArray" :key="idx">
											<td v-if="idx<5">{{item.mensaje}}</td>
										</tr>
										<tr><td><center><router-link style="color:blue" :to="{name:'notificaciones'}">Ver mas</router-link></center></td></tr>
									</table>
									<b-dropdown-item>
									</b-dropdown-item>
								</b-dropdown>
							</li>
						</ul>
					</nav>
					<!-- End of Topbar -->
					<!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Content Row -->
						<div class="row">
							<!-- Area Chart -->
							<div class="col-xl-12 col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="container-fluid">
											<router-view></router-view>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<vue-snotify></vue-snotify>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Sistema de gestión de contratación.</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
		</a>
	</div>
</template>
<script>
export default
{
	data()
	{
		return {
			audio:Object,
			title: '',
			user:Object,
			name:'',
			base:'',
			menu:{superior:true,lateral:false},
			alertasArray:[]
		}
  	},
	watch: {
		'$route' (to, from)
		{
			let me = this;
			me.title=to.meta.title;
		}
    },
	methods: {
		userActual()
		{
			let me = this;
			let url =base+'/usuarios/selected';
			axios
			.get(url)
			.then(function(response)
			{
				me.name = ((response.data.nombre_primero==null)?'':response.data.nombre_primero)+' '+((response.data.apellido_primero==null)?'':response.data.apellido_primero);
				me.user = response.data;
			})
			.catch(function(response){
				console.warn(response);
			})
		},
		searchActualizaciones()
		{
			let me = this;
			let url =base+'/showAlerts';
			axios
			.get(url)
			.then(function(response)
			{
				me.alertasArray = response.data.data;
			})
		},
		salir()
		{
			localStorage.removeItem('permisos');
			let url = base+'/logout';
			window.location=url;

		},
		verAlerta(data)
		{
			let me = this;
			try {
				data.forEach((value)=>{
					me.$snotify.info(value.mensaje);
   					me.audio.play()
				})
			} catch (error) {
				console.warn(error);
			}
		},
		onlyId(data)
		{
			let res=[];
			data.forEach((value)=>{res.push(value.id)});
			return res;
		},
		comparar()
		{
			let me = this;
			let url =base+'/showAlerts';
			axios
			.get(url)
			.then(function(response)
			{
				let newAlert=[];
				let news=me.onlyId(response.data.data);
				let olds=me.onlyId(me.alertasArray)
				news.forEach((value,idx)=>{
					if(!olds.includes(value))
					{
						newAlert.push(response.data.data[idx])
					}
				})
				if(newAlert.length>0)
				{
					me.alertasArray=response.data.data;
					me.verAlerta(newAlert);
				}
			})
			.catch((response)=>{
				console.warn(response);
			})
		},
	},
	mounted()
	{
		let me = this;
		let file_path = base+'/sound/notify.mp3';
		me.audio = new Audio(file_path);
		me.menu.lateral=false;
        me.base = base;
		me.userActual();
		this.searchActualizaciones();
		//setInterval(()=>{this.comparar()},1000);
		me.title=me.$route.meta.title;
	}
}
</script>
<style>
.r:after{
	color:#C23434;
	font-size: 20px;
	content: '* ';
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 10px;
    background-color: #C23434; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>