<template>
</template>
<script>
  export default {
    data(){
      return {
        base:''
      }
    },
    methods: 
    {
      start()
      {
        let me = this;
        let url =base+'/usuarios/selected';
        axios
        .get(url)
        .then(function(response)
        {
          localStorage.setItem('rol',response.data.roles[0].name);
          me.$router.push({name:'indicadorindex'});
        })
        .catch(function(response){
          console.warn(response);
        })
      }
    },
    mounted()
    {
      let me = this;
      me.base = base;
      me.start();
    }
  } 
</script>