<template>
    <div>
        <contratodata v-if="contrato!=''" :id_contrato="contrato.tbl_revision_tramite.contrato_id"></contratodata>
         <form @submit.prevent="save">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h4>Orden de pago<br>número de orden de pago <template v-if="contrato!=''">{{contrato.numero_orden_pago}}</template></h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de ingreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de egreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_egreso"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label for="valor">Numero de registro contable</label>
                                <input type="text" class="form form-control" id="valor" name="valor" v-model="form.numero_registro_contable" :required="form.fecha_egreso!=''"/>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    data()
    {
        return {
            disabled:false,
            es:es,
            contrato:'',
            form:{
                id:'',
                contratatos_pagos_orden_id:'',
                numero_registro_contable:'',
                fecha_egreso:'',
                fecha_ingreso:''
            }
        }
    },
    watch:{

    },
    methods:{
        save()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/registroscontables';
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.contrato=response.data.data;
                    me.disabled=false;
                    me.$swal('Guardado con éxito')
                    me.$router.push({name:'registroContableindex'});
                })
                .catch((response)=>{
                    console.clear();
                    console.warn(response);
                    me.disabled=false;
                    me.$swal('Error al guardar')
                })
            }
        },
        loadData()
        {
            let me = this;
            let url = base+'/registroscontables/showxordenpago/'+me.form.contratatos_pagos_orden_id;
            axios
            .get(url)
            .then((response)=>{
                me.contrato=response.data.data;
                if(me.contrato.tramite_actual!=null)
                {
                    console.log({data:me.contrato.tramite_actual})
                    me.form.id                         = me.contrato.tramite_actual.id;
                    me.form.contratatos_pagos_orden_id = me.contrato.tramite_actual.contratatos_pagos_orden_id;
                    me.form.numero_registro_contable   = me.contrato.tramite_actual.numero_registro_contable;
                    me.form.fecha_ingreso              = me.contrato.tramite_actual.fecha_ingreso;
                }
            })
            .catch((response)=>{
                console.clear();
                console.warn(response);
                me.$router.push({name:'registroContableindex'});
            })
        }
    },
    mounted()
    {
        this.form.contratatos_pagos_orden_id = this.$route.params.id_ordenes_de_pago
        this.loadData();
        $('form').validate();
    }
}
</script>

<style>

</style>