<template>
    <div class="row">
        <div class="col-md-12">
            <br>
        </div>
        <div class="col-md-12">
            <!--<table class="table table-hover" border="1">
                <thead>

                <tr>
                    <th>#</th>
                    <th>Opciones</th>
                    <th>Fecha de<br>ingreso</th>
                    <th>Fecha de<br>egreso</th>
                    <th>Numero de<br>contrato</th>
                    <th>Numero de<br>orden pago</th>
                    <th>Porcentaje</th>
                    <th>Saldo<br>contrato</th>
                    <th>Valor<br>ejecutado</th>
                    <th>Valor de<br>contrato</th>
                    <th v-if="false">Devolucion</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in dataArray" :key="idx">
                        <td>{{idx+1}}</td>
                        <td>
                            <b-dropdown text="Opciones">
                                <b-dropdown-item v-if="item.estado=='tramite' || item.estado=='devuelto'" :to="{name:'registroContableCreate',params:{id_ordenes_de_pago:item.id}}"><i class="fas fa-pen-square"></i> Generar registro contable</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                            </b-dropdown>
                        </td>
                    <td>{{item.fecha_ingreso|formatDate}}</td>
                    <td>{{item.fecha_egreso}}</td>
                    <td>{{item.tbl_revision_tramite.tbl_contratos.numero}}</td>
                    <td>{{item.numero_orden_pago}}</td>
                    <td>{{item.porcentaje}}%</td>
                    <td style="white-space: nowrap;">$ {{item.saldo_contrato|formatCurrencyPipe}}</td>
                    <td style="white-space: nowrap;">$ {{item.valor_ejecutado|formatCurrencyPipe}}</td>
                    <td style="white-space: nowrap;">$ {{item.valor_contrato|formatCurrencyPipe}}</td>
                    <td v-if="false">
                        <devoluciones v-on:recargar="loadData" :button="false" :id="item.id" :tipo_from="4" :tipo_to="3"  v-if="item.estado=='tramite'||item.estado=='devuelto'" />
                    </td>
                    <td>
                        <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                        <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                        <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                    </td>
                    </tr>
                </tbody>
            </table> -->
            <p>
                <b-col lg="6">
                    <b-row>
                    <b-col lg="6">
                        <b-form-input placeholder="Buscar" v-model="filter">
                        </b-form-input>
                    </b-col>
                    </b-row>
                </b-col>
            </p>
            <b-table
                show-empty
				responsive
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(id)="row">
                    <b-dropdown text="Opciones">
                        <b-dropdown-item v-if="row.item.estado=='tramite' || row.item.estado=='devuelto'" :to="{name:'registroContableCreate',params:{id_ordenes_de_pago:row.item.id}}"><i class="fas fa-pen-square"></i> Generar registro contable</b-dropdown-item>
                        <b-dropdown-item><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                        <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                    </b-dropdown>
                </template>
                <template #cell(fecha_ingreso)="row">
                    {{formatDate(row.item.fecha_ingreso)}}
                </template>
                <template #cell(fecha_egreso)="row">
                    {{ row.item.fecha_egreso }}
                </template>
                <template #cell(numero_contrato)="row">
                    {{row.item.tbl_revision_tramite.tbl_contratos.numero}}
                </template>
                <template #cell(numero_orden_pago)="row">
                    {{row.item.numero_orden_pago}}
                </template>
                <template #cell(porcentaje)="row">
                    {{row.item.porcentaje}}%
                </template>
                <template #cell(saldo_contrato)="row">
                    $ {{row.item.saldo_contrato|formatCurrencyPipe}}
                </template>
                <template #cell(valor_ejecutado)="row">
                    $ {{row.item.valor_ejecutado|formatCurrencyPipe}}
                </template>
                <template #cell(valor_contrato)="row">
                    $ {{row.item.valor_contrato|formatCurrencyPipe}}
                </template>
                <template #cell(estado)="row">
                    <label class="badge badge-success" v-if="row.item.estado=='aprobado'">{{row.item.estado}}</label>
                    <label class="badge badge-warning" v-if="row.item.estado=='tramite'">{{row.item.estado}}</label>
                    <label class="badge badge-danger" v-if="row.item.estado=='devuelto'">{{row.item.estado}}</label>
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
        </div>
    </div>
</template>

<script>
import fn from './../functions/currency'
import devoluciones from '../functions/devoluciones'; 
export default {
    components: {
        devoluciones,
    },
    data()
    {
        return {
            dataArray:[],
            totalRows: 0,
            currentPage: 1,
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "fecha_ingreso", label: "Fecha de ingreso", sortable: true },
				{ key: "fecha_egreso", label: "Fecha de egreso", sortable: true },
                { key: "numero_contrato", label: "Nro de contrato", sortable: true },
                { key: "numero_orden_pago", label: "Nro de orden de pago", sortable: true },
                { key: "porcentaje", label: "Porcentaje", sortable: true },
                { key: "saldo_contrato", label: "Saldo contrato", sortable: true },
                { key: "valor_ejecutado", label: "Valor ejecutado", sortable: true },
                { key: "valor_contrato", label: "Valor del contrato", sortable: true },
                { key: "estado", label: "Estado", sortable: true },
			]
        }
    },
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        },
        
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base+'/ordenes-de-pago/status/all'
            axios
            .get(url)
            .then((response)=>{
                me.dataArray=response.data.data;
            })
        },
        formatDate(value)
        {
            return value.split(' ')[0];
        }
    },
    mounted()
    {
        this.loadData();
    }
    
}
</script>