<template>
    <form @submit.prevent="save()">
        <div class="row">
            <div class="col-md-12">
                <h4>Datos de otros sí</h4>
            </div>
            <div class="col-md-12">
              <h5>
                <strong>Modificación de plazo</strong>
              </h5>
            </div>
            <div class="col-md-12">
                <label for="ncontrato">Número de contrato</label>
                <input type="number" id="ncontrato" name="ncontrato" min="0" @change="contratosValidos" v-model="form.ncontrato" class="form form-control" required>
            </div>
            <div class="col-md-12">
                <br>
                <br>
            </div>
            <contratodata v-if="form.id_contrato!=''" :id_contrato="form.id_contrato"></contratodata>
            <div class="col-md-6">
                <label for="desde">Desde</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.desde" :required="true"></vuejs-datepicker>
            </div>
            <div class="col-md-6">
                <label for="hasta">Hasta</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.hasta" :required="true"></vuejs-datepicker>
            </div>
            <div class="col-md-4">
                <label for="valor">Valor</label>
                <input type="number" id="valor" min="0" name="valor" v-model="form.valor" class="form form-control" required>
            </div>
            <div class="col-md-4">
                <label for="no_cdp">Número de CDP</label>
                <input type="text" id="no_cdp" name="no_cdp" v-model="form.no_cdp" class="form form-control" required>
            </div>
            <div class="col-md-4">
                <label for="fecha_cdp">Fecha de CDP</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha_cdp" :required="true"></vuejs-datepicker>
            </div>
            <div class="col-md-12">
              <h5>
                <strong>Modificación del valor</strong>
              </h5>
            </div>
            <div class="col-md-6">
                <label for="registro_presupuestal">Número de registro presupuestal</label>
                <input type="number" id="registro_presupuestal" min="0" name="registro_presupuestal" v-model="form.registro_presupuestal" class="form form-control" required>
            </div>
            <div class="col-md-6">
                <label for="fecha_registro_presupuestal">Fecha registro presupuestal</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha_registro_presupuestal" :required="true"></vuejs-datepicker>
            </div>
            <div class="col-md-12">
                <label for="otras_modificaciones">Otras modificaciones a detallar</label>
                <textarea id="otras_modificaciones" rows="3" name="otras_modificaciones" v-model="form.otras_modificaciones" class="form form-control" required></textarea>
            </div>
        </div>
            <b-button type="submit" class="mt-3" :disabled="!isValid">Guardar</b-button>
    </form>
</template>

<script>
import fn from './../functions/currency'
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata,
        vuejsDatepicker
    },
    data()
    {
        return {
            base:'',
            es:es,
            form: {
                id_contrato:'',
                desde: '',
                hasta: '',
                ncontrato: '',
                valor: '',
                no_cdp: '',
                fecha_cdp: '',
                registro_presupuestal: '',
                fecha_registro_presupuestal: '',
                otras_modificaciones: ''
            },
            isValid: false,
        }
    },
    methods:{
      contratosValidos() {
        let me = this;
        axios.get(`${base}/otros-si/contratos-validos/${this.form.ncontrato}`).then( response => {
          if(response.data.count > 0) {
            me.form.id_contrato=response.data.data.id;
            me.isValid = true;
          } else {
            me.isValid = false;
          }
        });
      },
        save()
        {
            let me = this;
            if($('form').valid())
            {
                  me.disabled=true;
                  axios.get(`${base}/otros-si/contratos-validos/${this.form.ncontrato}`)
                  .then( response => {
                    if(response.data.count > 0) {
                      axios.post(base+'/otros-si',me.form).then(response => {
                          me.$swal('Otros si, registrado.');
                          me.disabled=false;
                          me.isValid = false;
                          me.form = {desde: '',hasta: '',ncontrato: '',valor: '',no_cdp:'',fecha_cdp: '',registro_presupuestal: '',fecha_registro_presupuestal: '',otras_modificaciones: '',};
                      })
                      .catch((response)=>{
                          me.$swal('ERROR');
                          me.disabled=false;
                      });
                    } else {
                      me.isValid = false;
                      me.$swal('Este numero de contrato no existe.');
                    }
                  });

            }
        },
    },
    mounted:function()
    {
        this.base=base;
        $('form').validate();
    }

}
</script>

<style>

</style>
