<template>
    <div>
        <div class="row">
            <div class="col-md-4">
              <router-link type="button" :to="{name:'asignarOtrosSi'}" class="btn btn-success mb-3" name="button">Añadir otros si</router-link>
            </div>
        </div>
        <div class="row">
            <b-col lg="12">
                <label for="search">Buscar</label>
                <div class="input-group mb-3">
                    <b-form-input placeholder="Buscar" v-model="filter">
                    </b-form-input>
                </div>
            </b-col>
        </div>
        <div class="row">
            <!--<template v-for="(item,index) in dataArray" >
            <div class="col-md-4" :key="index">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Número de contrato {{item.contrato_numero}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Desde: {{item.desde}} - hasta: {{item.hasta}}</h6>
                    </div>
                </div>
                <br>
            </div>
            </template> -->
            <b-table
                show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
            <template #cell(valor)="row">
                    $ {{row.item.valor|currency}}
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>

        </div>
    </div>
</template>

<script>
import fn from "../functions/currency";
export default {
    filters:{
		currency:function(value){
			return fn.formatCurrency(value);
		}
	},

    data()
    {
        return {
            base:'',
            dataArray:[],
            codigo:'0',
            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
                { key: "numero", label: "Contrato", sortable: true },
                { key: "registro_presupuestal", label: "Registro presupuestal", sortable: true },
				{ key: "desde", label: "Desde", sortable: true },
                { key: "hasta", label: "Hasta", sortable: true },
                { key: "valor", label: "Valor", sortable: true },
                { key: "no_cdp", label: "CDP", sortable: true },
			]
		}
    },
    methods:{
        getContratos()
        {
            let me = this;

            axios.get(base+'/otros-si').then(response => {
								me.dataArray=response.data.data;
            })
            .catch(function(response){

            })
        }
    },
    mounted(){
        this.base=base;
        this.getContratos()
    }
}
</script>
