<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <pre>{{dataArray}}</pre>
                <table class="table table-hover" border="1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Opciones</th>
                            <th>Contrato</th>
                            <th>Valor contrato</th>
                            <th>Ordenes<br>de pago<br>aprobadas</th>
                            <th>Contratista</th>
                            <th>Supervisor</th>
                            <th>Apoyo</th>
                            <th>Fecha de<br>finalización</th>
                            <th>Tiempo de<br>finalizacion</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tr v-for="(item,idx) in dataArray" :key="idx">
                        <td>{{idx+1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.numero}}</td>
                        <td>{{item.valor_contrato}}</td>
                        <td v-if="false">{{item}}</td>
                        <td v-if="false">
                            {{item.tbl_contratistas.nombre_primero}}
                            {{item.tbl_contratistas.nombre_segundo}}
                            {{item.tbl_contratistas.apellido_primero}}
                            {{item.tbl_contratistas.apellido_segundo}}
                            <br>{{item.tbl_contratistas.documento}}
                            <br>
                            <div v-if="item.tbl_contratistas.establecimiento_nombre!=''&&item.tbl_contratistas.establecimiento_nombre!=null">
                            <label>Nombre del establecimiento:</label> {{item.tbl_contratistas.establecimiento_nombre}}
                            </div>

                        </td>
                        <td v-if="false">
                            {{item.tbl_recursos_humanos_supervisor.nombre_primero}}
                            {{item.tbl_recursos_humanos_supervisor.nombre_segundo}}
                            {{item.tbl_recursos_humanos_supervisor.apellido_primero}}
                            {{item.tbl_recursos_humanos_supervisor.apellido_segundo}}
                            <br>{{item.tbl_recursos_humanos_supervisor.documento}}
                        </td>
                        <td v-if="false">
                            {{item.tbl_recursos_humanos_apoyo.nombre_primero}}
                            {{item.tbl_recursos_humanos_apoyo.nombre_segundo}}
                            {{item.tbl_recursos_humanos_apoyo.apellido_primero}}
                            {{item.tbl_recursos_humanos_apoyo.apellido_segundo}}
                            <br>{{item.tbl_recursos_humanos_apoyo.documento}}
                        </td>
                        <td>{{item.vigencia_hasta|formatDate}}</td>
                        <td>{{item.vigencia_hasta|calcularTiempo}}</td>
                        <td v-if="false">{{item.tbl_contratos_estados.nombre}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    filters:{
        formatDate(value)
        {
            let f = new Date(value)
            return f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0':'')+(f.getMonth() +1) + "-" +(f.getDate()<10?'0':'')+f.getDate();
        },
        calcularTiempo(date2)
        {
            var date1= new Date();
            date2= new Date(date2);
            var diff = Math.floor(date1.getTime() - date2.getTime());
            var day = 1000 * 60 * 60 * 24;

            var days = Math.floor(diff/day);
            var months = Math.floor(days/31);
            var years = Math.floor(months/12);

            var message ='';
            message += days + " dias "+ (months>0?months + " meses":'')+ (years>0 ?years+ " años":'')

            return message
        }
    },
    data()
    {
        return {
            dataArray:[],
            contrato:'',
            registros:10,
            pagina:1,
            cantidadPaginas:0
        }
    },
    methods:{
        loadData()
        {
            let me  = this;
            let url = base+'/informes/contratospagosestados?pag='+this.pagina+'&registros='+this.registros;
            axios
            .get(url)
            .then((response)=>
            {
                if(response.data.validate)
                {
                    let data = response.data.data;
                    me.dataArray = data.data;
                    me.cantidadPaginas=data.paginas;
                }
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
}
</script>

<style>

</style>