<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <!--<table class="table table-hover table-responsive" border="1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Opciones</th>
                            <th>Contrato</th>
                            <th>Valor contrato</th>
                            <th>Ordenes<br>de pago<br>aprobadas</th>
                            <th style="min-width:200px">Contratista</th>
                            <th style="min-width:200px">Supervisor</th>
                            <th style="min-width:200px">Apoyo</th>
                            <th>Fecha de<br>finalización</th>
                            <th>Tiempo de<br>finalizacion</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tr v-for="(row.,idx) in dataArray" :key="idx">
                        <td>{{idx+1}}</td>
                        <td>
                            <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
								<b-dropdown-item :to="{name:'contratoDetalle',params:{contrato_id:item.id}}"><i class="fas fa-scroll"></i> Detalle de contrato</b-dropdown-item>
								<b-dropdown-item v-if="item.tbl_contrato_liquidacion==null" :to="{name:'liquidacionTipo',params:{contrato_id:item.id}}"><i class="fas fa-print"></i> Liquidar contrato</b-dropdown-item>
                                <template v-if="item.tbl_contrato_liquidacion!=null">
								<template v-if="item.tbl_contratos_estados.id==4">
                                    <template v-if="item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial==null">
                                        <b-dropdown-item v-if="item.tbl_contratos_estados.id==4 && item.tbl_contrato_liquidacion!=null" :to="{name:'liquidacionRevisionInicial',params:{contrato_liquidacion_id:item.tbl_contrato_liquidacion.id}}"><i class="far fa-edit"></i> Revisión inicial</b-dropdown-item>
                                    </template>
                                    <template v-else-if="item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial!=null">
                                        <template v-if="item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial.tbl_contrato_liquidacion_firma_gerencia==null">
                                            <b-dropdown-item :to="{name:'firmagerenciaactaliquidacion',params:{contrato_liquidacion_revision_inicial_id:item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial.id}}"><i class="far fa-edit"></i> Firma de gerencia</b-dropdown-item>
                                        </template>
                                    </template>
								</template>
                                </template>
                                
                                
                                
                                <div role="separator" class="dropdown-divider"></div> 
								<b-dropdown-item v-if="item.tbl_contratos_estados.id==4" :to="{name:'observacionpostcontractual',params:{contrato_id:item.id}}"><i class="far fa-edit"></i> Observaciones postcontractuales</b-dropdown-item>
							</b-dropdown>
                        </td>
                        <td>{{item.numero}}</td>
                        <td>$ {{item.valor_contrato|formatCurrencyPipe}}</td>
                        <td>{{item.ordenesPago.length}}</td>
                        <td>
                            {{item.tbl_contratistas.nombre_primero}}
                            {{item.tbl_contratistas.nombre_segundo}}
                            {{item.tbl_contratistas.apellido_primero}}
                            {{item.tbl_contratistas.apellido_segundo}}
                            <br>{{item.tbl_contratistas.documento|formatCurrencyPipe}}
                            <br>
                            <div v-if="item.tbl_contratistas.establecimiento_nombre!=''&&item.tbl_contratistas.establecimiento_nombre!=null">
                            <label>Nombre del establecimiento:</label> {{item.tbl_contratistas.establecimiento_nombre}}
                            </div>

                        </td>
                        <td>
                            <template  v-for="(data) in item.supervisores">
                                {{data.nombre_primero}}
                                {{data.nombre_segundo}}
                                {{data.apellido_primero}}
                                {{data.apellido_segundo}}
                                <br>Documento:  {{data.documento}}
                                <hr>
                            </template>
                        </td>
                        <td>
                            <template v-for="(data) in item.apoyos">
                                {{data.nombre_primero}}
                                {{data.nombre_segundo}}
                                {{data.apellido_primero}}
                                {{data.apellido_segundo}}
                                <br> Documento:  {{data.documento}}
                                <hr>
                            </template>
                        </td>
                        <td>{{item.vigencia_hasta|formatDate}}</td>
                        <td><div v-html="$options.filters.calcularTiempo(item.vigencia_hasta,item)"></div></td>
                        <td style="white-space: nowrap;">{{item.tbl_contratos_estados.nombre}}</td>
                    </tr>
                </table> -->
                <p>
                    <b-col lg="6">
                        <b-row>
                        <b-col lg="6">
                            <b-form-input placeholder="Buscar" v-model="filter">
                            </b-form-input>
                        </b-col>
                        </b-row>
                    </b-col>
                </p>
                <b-table
                show-empty
				responsive
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(id)="row">
                    <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                        <b-dropdown-item :to="{name:'contratoDetalle',params:{contrato_id:row.item.id}}"><i class="fas fa-scroll"></i> Detalle de contrato</b-dropdown-item>
                        <b-dropdown-item v-if="row.item.tbl_contrato_liquidacion==null" :to="{name:'liquidacionTipo',params:{contrato_id:row.item.id}}"><i class="fas fa-print"></i> Liquidar contrato</b-dropdown-item>
                        <template v-if="row.item.tbl_contrato_liquidacion!=null">
                        <template v-if="row.item.tbl_contratos_estados.id==4">
                            <template v-if="row.item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial==null">
                                <b-dropdown-item v-if="row.item.tbl_contratos_estados.id==4 && row.item.tbl_contrato_liquidacion!=null" :to="{name:'liquidacionRevisionInicial',params:{contrato_liquidacion_id:row.item.tbl_contrato_liquidacion.id}}"><i class="far fa-edit"></i> Revisión inicial</b-dropdown-item>
                            </template>
                            <template v-else-if="row.item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial!=null">
                                <template v-if="row.item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial.tbl_contrato_liquidacion_firma_gerencia==null">
                                    <b-dropdown-item :to="{name:'firmagerenciaactaliquidacion',params:{contrato_liquidacion_revision_inicial_id:row.item.tbl_contrato_liquidacion.tbl_contrato_liquidacion_revision_inicial.id}}"><i class="far fa-edit"></i> Firma de gerencia</b-dropdown-item>
                                </template>
                            </template>
                        </template>
                        </template>
                        
                        
                        
                        <div role="separator" class="dropdown-divider"></div> 
                        <b-dropdown-item v-if="row.item.tbl_contratos_estados.id==4" :to="{name:'observacionpostcontractual',params:{contrato_id:row.item.id}}"><i class="far fa-edit"></i> Observaciones postcontractuales</b-dropdown-item>
                    </b-dropdown>
                </template>
                <template #cell(contrato)="row">
                    {{row.item.numero}}
                </template>
                <template #cell(valor_contrato)="row">
                    $ {{row.item.valor_contrato|formatCurrencyPipe}}
                </template>
                <template #cell(ordenes_pago)="row">
                    {{row.item.ordenesPago.length}}
                </template>
                <template #cell(contratista)="row">
                    {{row.item.tbl_contratistas.nombre_primero}}
                    {{row.item.tbl_contratistas.nombre_segundo}}
                    {{row.item.tbl_contratistas.apellido_primero}}
                    {{row.item.tbl_contratistas.apellido_segundo}}
                    <br>{{row.item.tbl_contratistas.documento|formatCurrencyPipe}}
                    <br>
                    <div v-if="row.item.tbl_contratistas.establecimiento_nombre!=''&&row.item.tbl_contratistas.establecimiento_nombre!=null">
                    <label>Nombre del establecimiento:</label> {{row.item.tbl_contratistas.establecimiento_nombre}}
                    </div>
                </template>
                <template #cell(supervisor)="row">
                    <template  v-for="(data) in row.item.supervisores">
                        {{data.nombre_primero}}
                        {{data.nombre_segundo}}
                        {{data.apellido_primero}}
                        {{data.apellido_segundo}}
                        <br>Documento:  {{data.documento}}
                        <hr>
                    </template>
                </template>
                <template #cell(apoyo)="row">
                    <template v-for="(data) in row.item.apoyos">
                        {{data.nombre_primero}}
                        {{data.nombre_segundo}}
                        {{data.apellido_primero}}
                        {{data.apellido_segundo}}
                        <br> Documento:  {{data.documento}}
                        <hr>
                    </template>
                </template>
                <template #cell(fecha_finalizacion)="row">
                    {{row.item.vigencia_hasta|formatDate}}
                </template>
                <template #cell(tiempo_finalizacion)="row">
                    <div v-html="calcularTiempo(row.item.vigencia_hasta,row.item)">h</div> 
                </template>
                <template #cell(estado)="row">
                    {{row.item.tbl_contratos_estados.nombre}}
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import fn from './../functions/currency'
export default {
    filters:{
        formatDate(value)
        {
            let f = new Date(value)
            return f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0':'')+(f.getMonth() +1) + "-" +(f.getDate()<10?'0':'')+f.getDate();
        },
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        }
    },
    data()
    {
        return {
            dataArray:[],
            contrato:'',
            registros:10,
            pagina:1,
            cantidadPaginas:0,
            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "contrato", label: "Contrato", sortable: true },
				{ key: "valor_contrato", label: "Valor Contrato", sortable: true },
                { key: "ordenes_pago", label: "Ordenes de pago", sortable: true },
                { key: "contratista", label: "Contratista", sortable: true },
                { key: "supervisor", label: "Supervisor", sortable: true },
                { key: "apoyo", label: "Apoyo", sortable: true },
                { key: "fecha_finalizacion", label: "Fecha de Finalización", sortable: true },
                { key: "tiempo_finalizacion", label: "Tiempo de finalización", sortable: true },
                { key: "estado", label: "Estado", sortable: true },
			]
        }
    },
    methods:{
        loadData()
        {
            let me  = this;
            let url = base+'/contratos/all?pag='+this.pagina+'&registros='+this.registros;
            axios
            .get(url)
            .then((response)=>
            {
                if(response.data.validate)
                {
                    let data = response.data.data;
                    me.dataArray = data;
                    me.cantidadPaginas=data.paginas;
                }
            })
            .catch((response)=>{
                console.error(response)
            })
        },
        calcularTiempo(date1, data){
            var date2= new Date();
            date1= new Date(date1);
            var diff = Math.floor(date1.getTime() - date2.getTime());
            var day = 1000 * 60 * 60 * 24;

            var days = Math.floor(diff/day);
            var months = Math.floor(days/31);
            var years = Math.floor(months/12);

            var message ='';
            if(data.tbl_contratos_estados.id==5)
            {
                if(days<0)
                {
                    message = days='Finalizó hace ' + (days*-1) + " dias "+ (months>0?months + " meses":'')+ (years>0 ?years+ " años":'')
                    message = '<label class="badge badge-pill badge-danger">'+message+'</label>';
                }
                else{
                    message = days='Faltan ' + (days) + " dias "+ (months>0?months + " meses":'')+ (years>0 ?years+ " años":'')
                    message = '<label class="badge badge-pill badge-warning">'+message+'</label>';
                }
            }
            else if(days<0)
            {
                message = days='Finalizó hace ' + (days*-1) + " dias "+ (months>0?months + " meses":'')+ (years>0 ?years+ " años":'')
                message = '<label class="badge badge-pill badge-danger">'+message+'</label>';
            }
            else if(days==0)
            {
                message = 'Finalizó hoy';
                message = '<label class="badge badge-pill badge-warning">'+message+'</label>';
            }
            else{
                message = days + " dias "+ (months>0?months + " meses":'')+ (years>0 ?years+ " años":'')
                message = '<label class="badge badge-pill badge-success">'+message+'</label>';
            }
            return message;
        },
    },
    mounted()
    {
        this.loadData();
    }
}
</script>

<style>

</style>