<template>
    <table border="1" width="100%">
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Mensaje</th>
        </tr>
        <template v-for="(item,idx) in alertasArray">
        <tr :key="idx" v-if="idx<=cant" :style="item.noleido==1?'background-color:blanchedalmond':'background-color:FFF'">
            <td>{{idx+1}}</td>
            <td>{{item.created_at|formatDate}}</td>
            <td>{{item.mensaje}}</td>
        </tr>
        </template>
        <tr @click="cant=cant+5" v-if="alertasArray.length>=cant" style="text-align: center;cursor: pointer;background-color: burlywood;">
            <td colspan="3">
                Ver mas
            </td>
        </tr>
    </table>
</template>
<script>
export default {
    filters:{
        formatDate(value)
        {
            let f = new Date(value)
            return f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0':'')+(f.getMonth() +1) + "-" +(f.getDate()<10?'0':'')+f.getDate() 
            +' '+((f.getHours()>12?(f.getHours()-12):f.getHours())<10?'0':'')+(f.getHours()>12?(f.getHours()-12):f.getHours())+':'+(f.getMinutes()<10?'0':'')+f.getMinutes()+' '
            + ((f.getHours()>12)?'A.M':'P.M.')
        }
    },
    data()
    {
        return {
            cant:5,
            alertasArray:[]
        }
    },
    methods:{
        searchActualizaciones()
		{
			let me = this;
			let url =base+'/showAlerts?status=all';
			axios
			.get(url)
			.then(function(response)
			{
				me.alertasArray = response.data.data;
			})
		}
    },
    mounted()
    {
        this.searchActualizaciones();
    }
}
</script>