<template>
    <formulario @guardar="save"></formulario>
</template>

<script>
import formulario from '../directa/form'
export default {
    components:{formulario},
    methods:{
        save(form)
        {
            let me = this;
            let url = base+'/contratacion/directa'
            form.estudios_previos_id=me.$route.params.id;
            axios
            .post(url,form)
            .then(function(response){
                me.$swal('Guardado con éxito');
                me.$router.push({ name: "contratacionDirectaIndex", params:{id:me.$route.params.id}});
            })
            .catch(function(response){
                me.$swal('Se ha presentado un error');
            })
        }
    },
    mounted()
    {

    }
}
</script>