<template>
    <form @submit.prevent="guardar" id="form">
        <div class="row">
            <div class="col-md-12">
                <label for="">Describir la causal</label>
                <textarea v-model="form.causal" class="form form-control" rows="10" required></textarea>
            </div>
            <div class="col-md-12">
                <label for="">Observacion</label>
                <textarea name="" v-model="form.observacion" class="form form-control" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" :disabled="disabled"><i class="fas fa-save"></i> <img v-if="disabled" src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif" width="10px" alt=""> <span v-if="disabled"> Guardando</span> <span v-else>Guardar</span> </button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            disabled:false,
            form:{
                id:'',
                causal:'',
                observacion:''
            }           
        }
    },
    methods:{
        start()
        {
            let me = this;
            me.detail();
            $('#form').validate();
        },
        guardar()
        {
            let me = this;
            let url = base+'/contratacion/directa/'+me.$route.params.id;
            me.disabled=true;
            axios
            .put(url,{causal:me.form.causal,observacion:me.form.observacion})
            .then(function(response){
                me.disabled=false;
                me.$swal('Guardado con éxito');
            })
            .catch(function(response){
                me.disabled=false;
                me.$swal('Se ha presentado un error');
                console.warn(response);
            })
        },
        detail()
        {
            let me = this;
            let url = base+'/contratacion/directa/'+me.$route.params.id
            axios
            .get(url)
            .then(function(response){
                me.form=response.data;
            })
            .catch(function(response){
                me.$router.push({ name: "noAutorizate" });
                me.$swal('Se ha presentado un error');
            })
        }
    },
    mounted() {
        let me = this;
        me.start();
    },
}
</script>