<template>
    <formulario @guardar="save" v-bind:forms="forms"></formulario>
</template>

<script>
import formulario from '../directa/form'
export default {
    components:{formulario},
    data()
    {
        return {
            forms:null
        }
    },
    methods:{
        save(form)
        {
            let me = this;
            let url = base+'/contratacion/directa/'+me.$route.params.id
            axios
            .put(url,form)
            .then(function(response){
                me.$swal('Guardado con éxito');
                me.$router.push({ name: "contratacionDirectaIndex" ,params:{id:me.forms.estudios_previos_id}});
            })
            .catch(function(response){
                me.$swal('Se ha presentado un error');
            })
        },
        detail()
        {
            let me = this;
            let url = base+'/contratacion/directa/'+me.$route.params.id
            axios
            .get(url)
            .then(function(response){
                me.forms=response.data;
            })
            .catch(function(response){
                console.warn(response)
                me.$router.push({ name: "noAutorizate" });
                me.$swal('Se ha presentado un error');
            })
        }
    },
    mounted()
    {
        this.detail();
    }
}
</script>