<template>
  <form @submit.prevent="save">
    <div class="row">
      <!-- FIN DATOS DEL CONTRATO -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Datos de contrato</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label for="numero">Numero de contrato</label>
                <input
                  type="text"
                  id="numero"
                  name="numero"
                  v-model="form.numero"
                  class="form form-control"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="suscripcion_fecha">Fecha de suscripcion</label>
                <vuejs-datepicker
                  datepicker
                  :language="es"
                  :input-class="'form-control'"
                  v-model="form.suscripcion_fecha"
                  :required="true"
                ></vuejs-datepicker>
              </div>
              <div class="col-md-12">
                <label for="objeto">Objeto</label>
                <textarea
                  id="objeto"
                  name="objeto"
                  v-model="form.objeto"
                  class="form form-control"
                  rows="5"
                  required
                ></textarea>
              </div>
              <div class="col-md-6">
                <label for="personeria_tipo">Clase de persona</label>
                <select
                  id="personeria_tipo"
                  name="personeria_tipo"
                  v-model="form.personeria_tipo"
                  class="form form-control"
                  required
                >
                  <option value style="display:none">Seleccione</option>
                  <option value="juridica">Jurídica</option>
                  <option value="natural">Natural</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="forma_de_pago_id">Forma de pago</label>
                <select
                  id="forma_de_pago_id"
                  name="forma_de_pago_id"
                  v-model="form.forma_de_pago_id"
                  class="form form-control"
                  disabled="disabled"
                  style="background-color: #FFF;color: #000;"
                  required
                >
                  <option value style="display:none">Seleccione</option>
                  <option
                    v-for="(item,index) in arrayFormasPago"
                    :key="index"
                    :value="item.id"
                  >{{item.nombre}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="valor_contrato">Valor de contrato</label>
                <input
                  type="text"
                  id="valor_contrato"
                  name="valor_contrato"
                  v-model="form.valor_contrato"
                  class="form form-control"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="vigencia_desde">Vigencia desde</label>
                <vuejs-datepicker
                  datepicker
                  :language="es"
                  :input-class="'form-control'"
                  v-model="form.vigencia_desde"
                  :required="true"
                ></vuejs-datepicker>
              </div>
              <div class="col-md-4">
                <label for="vigencia_hasta">Vigencia hasta</label>
                <vuejs-datepicker
                  datepicker
                  :language="es"
                  :input-class="'form-control'"
                  v-model="form.vigencia_hasta"
                  :required="true"
                ></vuejs-datepicker>
              </div>
              <div class="col-md-4">
                <label for="vigencia_hasta">Fecha de corte</label>
                <select
                  class="form-control"
                  v-model="form.fecha_corte"
                  id="fecha_corte"
                  name="fecha_corte"
                >
                  <option value>Seleccione</option>
                  <option value="01">1 de cada mes</option>
                  <option value="02">2 de cada mes</option>
                  <option value="03">3 de cada mes</option>
                  <option value="04">4 de cada mes</option>
                  <option value="05">5 de cada mes</option>
                  <option value="06">6 de cada mes</option>
                  <option value="07">7 de cada mes</option>
                  <option value="08">8 de cada mes</option>
                  <option value="09">9 de cada mes</option>
                  <option value="10">10 de cada mes</option>
                  <option value="11">11 de cada mes</option>
                  <option value="12">12 de cada mes</option>
                  <option value="13">13 de cada mes</option>
                  <option value="14">14 de cada mes</option>
                  <option value="15">15 de cada mes</option>
                  <option value="16">16 de cada mes</option>
                  <option value="17">17 de cada mes</option>
                  <option value="18">18 de cada mes</option>
                  <option value="19">19 de cada mes</option>
                  <option value="20">20 de cada mes</option>
                  <option value="21">21 de cada mes</option>
                  <option value="22">22 de cada mes</option>
                  <option value="23">23 de cada mes</option>
                  <option value="24">24 de cada mes</option>
                  <option value="25">25 de cada mes</option>
                  <option value="26">26 de cada mes</option>
                  <option value="27">27 de cada mes</option>
                  <option value="28">28 de cada mes</option>
                  <option value="29">29 de cada mes</option>
                  <option value="30">30 de cada mes</option>
                  <option value="31">31 de cada mes</option>
                </select>
              </div>
              <div :class="form.procede_liquidacion=='1'?'col-md-3':'col-md-8'">
                <label for="procede_liquidacion">Procede la liquidacion</label>
                <select
                  class="form-control"
                  v-model="form.procede_liquidacion"
                  id="procede_liquidacion"
                  name="procede_liquidacion"
                  required
                >
                  <option style="display:none" value>Seleccione</option>
                  <option value="1">Si</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="col-md-5" v-if="form.procede_liquidacion=='1'">
                <label for="procede_liquidacion">Procede la liquidacion</label>
                <vuejs-datepicker
                  datepicker
                  :language="es"
                  :input-class="'form-control'"
                  v-model="form.fecha_liquidacion"
                  :required="true"
                ></vuejs-datepicker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN DATOS DEL CONTRATISTA -->
      <!-- DATOS DEL CONTRATISTA -->
      <div class="col-md-12" v-if="form.personeria_tipo=='juridica'">
        <div class="card">
          <div class="card-header">
            <h4>Datos de la persona juridica</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <label>NIT</label>
                <input
                  class="form form-control"
                  name="persona_juridica_nit"
                  id=  "persona_juridica_nit"
                  v-model="form.persona_juridica.nit"
                  required
                />
              </div>
              <div class="col-md-8">
                <label>Nombre del establecimiento</label>
                <input
                  type="text"
                  class="form form-control"
                  name="persona_juridica_nombre_establecimiento"
                  id=  "persona_juridica_nombre_establecimiento"
                  v-model="form.persona_juridica.nombre_establecimiento"
                  required
                />
              </div>
              <div class="col-md-4">
                <label>Dirección</label>
                <input
                  type="text"
                  class="form form-control"
                  name="persona_juridica_direccion"
                  id=  "persona_juridica_direccion"
                  v-model="form.persona_juridica.direccion"
                />
              </div>
              <div class="col-md-4">
                <label>Telefono</label>
                <input
                  type="text"
                  class="form form-control"
                  name="persona_juridica_telefono"
                  id=  "persona_juridica_telefono"
                  v-model="form.persona_juridica.telefono"
                  required
                />
              </div>
              <div class="col-md-4">
                <label>Correo electronico</label>
                <input
                  type="email"
                  class="form form-control"
                  name="persona_juridica_email"
                  id=  "persona_juridica_email"
                  v-model="form.persona_juridica.email"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>
              <button
                type="button"
                v-if="estudios_previos_tipo_id!=1"
                class="btn btn-success"
                @click="buscarOferentes"
              >
                <i class="far fa-id-card"></i>
              </button> 
              <template v-if="form.personeria_tipo=='juridica'">Datos del representante legal</template>
              <template v-else>Datos del contratista </template>
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label>Tipo de documento</label>
                <select class="form form-control" name="documento_tipo" id="documento_tipo" v-model="form.contratista.documento_tipo" required>
                  <option value="">Seleccione</option>
                  <option value="cedula">Cédula de ciudadanía</option>
                  <option value="NIT">NIT</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Documento</label>
                <input type="number" min="1" class="form form-control" @change="searchDocumentContratista" name="documento" id="documento" v-model="form.contratista.documento" required/>
              </div>
              <div class="col-md-6" v-if="false">
                <label>Nombre del establecimiento (Si tiene)</label>
                <input
                  type="text"
                  class="form form-control"
                  name="establecimiento_nombre"
                  id="establecimiento_nombre"
                  v-model="form.contratista.establecimiento_nombre"
                />
              </div>
              <div class="col-md-6">
                <label>Nombre primero</label>
                <input
                  type="text"
                  class="form form-control"
                  name="nombre_primero"
                  id="nombre_primero"
                  v-model="form.contratista.nombre_primero"
                  required
                />
              </div>
              <div class="col-md-6">
                <label>Nombre segundo</label>
                <input
                  type="text"
                  class="form form-control"
                  name="nombre_segundo"
                  id="nombre_segundo"
                  v-model="form.contratista.nombre_segundo"
                />
              </div>
              <div class="col-md-6">
                <label>Apellido primero</label>
                <input
                  type="text"
                  class="form form-control"
                  name="apellido_primero"
                  id="apellido_primero"
                  v-model="form.contratista.apellido_primero"
                  required
                />
              </div>
              <div class="col-md-6">
                <label>Apellido segundo</label>
                <input
                  type="text"
                  class="form form-control"
                  name="apellido_segundo"
                  id="apellido_segundo"
                  v-model="form.contratista.apellido_segundo"
                />
              </div>
              <div class="col-md-6">
                <label>Celular</label>
                <input
                  type="number"
                  min="1"
                  class="form form-control"
                  name="celular"
                  id="celular"
                  v-model="form.contratista.celular"
                  required
                />
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <input
                  type="email"
                  class="form form-control"
                  name="email"
                  id="email"
                  v-model="form.contratista.email"
                />
              </div>
              <div class="col-md-12">
                <br />
                <h5>Ubicación</h5>
              </div>
              <div class="col-md-4">
                <label>Direccion</label>
                <input
                  type="text"
                  class="form form-control"
                  name="direccion"
                  id="direccion"
                  v-model="form.contratista.direccion"
                  required
                />
              </div>
              <div class="col-md-4">
                <label>Departamento</label>
                <select
                  class="form form-control"
                  name="direccion"
                  id="direccion"
                  v-model="id_departamento"
                  required
                >
                  <option value>Seleccione</option>
                  <option
                    v-for="(data,index) in DepartamentoArray"
                    :key="index"
                    :value="data.id"
                  >{{data.nombre}}</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Municipio</label>
                <select
                  class="form form-control"
                  name="direccion"
                  id="direccion"
                  v-model="form.contratista.municipio_id"
                  required
                >
                  <option value>Seleccione</option>
                  <template v-for="(data,index) in municipioArray">
                    <option
                      v-if="data.id_departamento==id_departamento"
                      :key="index"
                      :value="data.id"
                    >{{data.nombre}}</option>
                  </template>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN DATOS DEL CONTRATISTA -->
      <!-- DATOS DEL SUPERVISOR -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Datos del supervisor</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <label for="recursos_humano_quien_suscribe_id">
                  <b-button v-b-modal.modal-1>+</b-button>Supervisores
                </label>
                <ejs-multiselect
                  v-model="form.supervisorsupervisores_id"
                  :dataSource="arrayRecursosHumanos"
                  :fields="{ text: 'nombre_completo', value: 'id' }"
                  mode="CheckBox"
                  id="multiselect"
                ></ejs-multiselect>
              </div>
              <div class="col-md-12">
                <table v-if="form.supervisorsupervisores_id.length>0" class="table table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                    </tr>
                    <template v-for="(item) in form.supervisorsupervisores_id">
                        <template v-for="data in arrayRecursosHumanos">
                        <tr v-if="item==data.id">
                            <td>{{data.nombre_completo}}</td>
                            <td>{{data.tbl_cargos.nombre}}</td>
                            <td>{{data.celular}}</td>
                            <td>{{data.email}}</td>
                        </tr>
                    </template>
                    </template>
                </table>
              </div>
            </div>
            <b-modal ref="modal-1" id="modal-1" title="Nuevo integrante" hide-footer>
              <recursoHumano v-bind:boton="false" v-on:close="cerrar" />
            </b-modal>
          </div>
        </div>
      </div>
      <!-- FIN DATOS DEL SUPERVISOR -->
      <!-- DATOS DEL APOYO -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Datos del apoyo</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <label for="recursos_humano_quien_suscribe_id">
                  <b-button v-b-modal.modal-1>+</b-button>Apoyos
                </label>
                <ejs-multiselect
                  v-model="form.apoyos_id"
                  :dataSource="arrayRecursosHumanos"
                  :fields="{ text: 'nombre_completo', value: 'id' }"
                  mode="CheckBox"
                  id="multiselect"
                ></ejs-multiselect>
              </div>
              <div class="col-md-12">
                <table v-if="form.apoyos_id.length>0" class="table table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>tipo de vinculación</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                    </tr>
                    <template v-for="(item) in form.apoyos_id">
                        <template v-for="data in arrayRecursosHumanos">
                        <tr v-if="item==data.id">
                            <td>{{data.nombre_completo}}</td>
                            <td>{{data.tbl_cargos.nombre}}</td>
                            <td>{{data.celular}}</td>
                            <td>{{data.email}}</td>
                        </tr>
                    </template>
                    </template>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN DATOS DEL APOYO -->
      <!-- NUMERO DE CUOTAS -->
      <div class="col-md-12" v-if="false">
        <div class="card">
          <div class="card-header">
            <h4>Número de cuotas</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <template v-for="(item,idx) in form.cuotas">
                <div class="col-md-6" :key="idx" style="margin-bottom: 15px;">
                  <div class="card">
                    <div class="card-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <h5 class="card-title">Cuota número {{item.cuota}}</h5>
                          </div>
                          <div class="col-md-12">
                            <label for>Actas parciales</label>
                            <textarea
                              name
                              id
                              cols="30"
                              class="form-control"
                              v-model="item.acta"
                              rows="5"
                              required
                            ></textarea>
                          </div>
                          <div class="col-md-6">
                            <label for>Valor de la cuota</label>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input
                                type="text"
                                @keyup="formatCurrency(idx)"
                                v-model="item.valor"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for>Fecha de corte</label>
                            <vuejs-datepicker
                              :language="es"
                              :input-class="'form-control'"
                              v-on:selected="$forceUpdate()"
                              v-model="item.fecha"
                              :required="true"
                            ></vuejs-datepicker>
                          </div>
                          <div class="col-md-12" v-if="false">
                            <label for></label>
                            <button type="button" class="btn btn-success">Opciones{{item.id}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN NUMERO DE CUOTAS -->
    </div>
    <div class="col-md-12">
      <br />
      <button class="btn btn-success" :disabled="disabled">
        <i v-if="!disabled" class="far fa-save"></i>
        <img
          v-if="disabled"
          :src="base+'/image/load.gif'"
          alt="Loading"
          style="width: 15px;text-align: center;"
        /> Guardar
      </button>
    </div>
    <b-modal ref="my-modal" id="my-modal" title="Seleccionar oferente" hide-footer>
      <div class="d-block text-center">
        <div v-if="arrayOferentes.length==0">
          <img :src="base+'/image/load.gif'" alt />
          <br />
          <h3>Cargando información</h3>
        </div>
        <table v-else border="1" class="table">
          <thead>
            <tr>
              <th>Selecionar</th>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Direccion</th>
              <th>Celular</th>
              <th>Email</th>
            </tr>
          </thead>
          <tr v-for="(item,idx) in arrayOferentes" :key="idx">
            <td>
              <button type="button" @click="seleccionarOferente(item)" class="btn btn-success">
                <i class="fas fa-user-check"></i>
              </button>
            </td>
            <td>
              {{item.nombre_primero}}
              {{item.nombre_segundo}}
              {{item.apellido_primero}}
              {{item.apellido_segundo}}
            </td>
            <td>{{item.documento}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.celular}}</td>
            <td>{{item.email}}</td>
          </tr>
        </table>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('my-modal')">Cerrar</b-button>
    </b-modal>
  </form>
</template>

<script>
import fn from "./../functions/currency";
import vuejsDatepicker from "vuejs-datepicker";
import { es } from "vuejs-datepicker/dist/locale";
import recursoHumano from "../recursoshumanos/Create";
export default {
  components: {
    vuejsDatepicker,
    recursoHumano,
  },
  filters: {
    formatCurrencyPipe(value) {
      return fn.formatCurrency(value);
    },
  },
  watch: {
    "form.valor_contrato": function (valor_numero) {
      this.form.valor_contrato = fn.formatCurrency(valor_numero);
    },
    "form.procede_liquidacion": function (valor) {
      this.form.fecha_liquidacion =
        valor == "1" ? this.form.fecha_liquidacion : "";
    },
  },
  data() {
    return {
      base: "",
      arrayRecursosHumanos: [],
      es: es,
      DepartamentoArray: [],
      municipioArray: [],
      cargosArray: [],
      arrayFormasPago: [],
      arrayOferentes: [],
      id_departamento: "",
      disabled: false,
      estudios_previos_tipo_id: 1,
      estudios_previos_id: "",
      form: {
        procede_liquidacion: "",
        fecha_liquidacion: "",
        fecha_corte: "",
        cdp_id: "",
        cuotas: [],
        numero: "",
        suscripcion_fecha: "",
        objeto: "",
        personeria_tipo: "natural",
        valor_contrato: "",
        vigencia_desde: "",
        vigencia_hasta: "",
        forma_de_pago_id: "",
        persona_juridica: {
          id: "",
          nit:'',
          nombre_establecimiento:'',
          direccion:'',
          telefono:'',
          email:'',
        },
        representante_legal: {
          id: "",
          nombre_primero: "",
          nombre_segundo: "",
          apellido_primero: "",
          apellido_segundo: "",
          documento: "",
        },
        contratista: {
          id: "",
          establecimiento_nombre: "",
          nombre_primero: "",
          nombre_segundo: "",
          apellido_primero: "",
          apellido_segundo: "",
          documento_tipo:'',
          documento: "",
          celular: "",
          email: "",
          direccion: "",
          municipio_id: "",
        },
        supervisorsupervisores_id: [],
        apoyos_id: [],
      },
    };
  },
  methods: {
    cerrar()
    {
        this.loadRecursosHumanos();
        this.$refs['modal-1'].hide()
    },
    loadRecursosHumanos() {
      let me = this;
      axios.get(base + "/recursoshumanos").then((response) => {
        me.arrayRecursosHumanos = response.data.data;
      });
    },
    formatCurrency(idx) {
      this.form.cuotas[idx].valor = fn.formatCurrency(
        this.form.cuotas[idx].valor
      );
      this.$forceUpdate();
    },
    loadFormasPago() {
      let me = this;
      axios.get(base + "/formaspago").then((response) => {
        me.arrayFormasPago = response.data;
      });
    },
    buscarOferentes() {
      let me = this;
      me.arrayOferentes = [];
      me.$refs["my-modal"].show();
      axios
        .post(base + "/contratistas/veroferentes", {
          estudios_previos_tipo_id: me.estudios_previos_tipo_id,
          estudios_previos_id: me.estudios_previos_id,
        })
        .then((response) => {
          me.arrayOferentes = response.data.data;
        })
        .catch((response) => {});
    },
    loadDepartamento() {
      let me = this;
      let url = base + "/departamento";
      axios
        .get(url)
        .then(function (response) {
          me.DepartamentoArray = response.data;
        })
        .catch(function (response) {
          console.warn(response);
        });
    },
    seleccionarOferente(data) {
      let me = this;
      me.form.contratista.establecimiento_nombre = data.establecimiento_nombre;
      me.form.contratista.nombre_primero = data.nombre_primero;
      me.form.contratista.nombre_segundo = data.nombre_segundo;
      me.form.contratista.apellido_primero = data.apellido_primero;
      me.form.contratista.apellido_segundo = data.apellido_segundo;
      me.form.contratista.documento = data.documento;
      me.form.contratista.celular = data.celular;
      me.form.contratista.email = data.email;
      me.$refs["my-modal"].hide();
    },
    loadMunicipio() {
      let me = this;
      let url = base + "/municipio";
      axios
        .get(url)
        .then(function (response) {
          me.municipioArray = response.data;
        })
        .catch(function (response) {
          console.warn(response);
        });
    },
    loadData() {
      let me = this;
      axios
        .get(base + "/contratos/datosCDP/" + me.form.cdp_id)
        .then((response) => {
          let temp = response.data.data;
          me.form.numero = temp.numero_contrato;
          me.form.objeto = temp.tbl_contratos_cdp.objeto;
          me.form.forma_de_pago_id = temp.tbl_contratos_cdp.forma_de_pago_id;
          me.form.valor_contrato = temp.tbl_contratos_cdp.valor_numero
            .split(".00")
            .join("");
          me.estudios_previos_tipo_id =
            temp.tbl_contratos_cdp.estudios_previos_tipo_id;
          me.estudios_previos_id = temp.estudios_previos_id;
          me.form.cuotas =
            temp.tbl_estudios_previos.tbl_estudios_previos_cuotas;
          me.form.cuotas.forEach((value) => {
            value.fecha = "";
            value.acta = "";
            value.valor = fn.formatCurrency(value.valor);
          });
        })
        .catch((response) => {});
    },
    loadCargos() {
      let me = this;
      axios
        .get(base + "/cargos")
        .then((response) => {
          if (response.data.validate) {
            me.cargosArray = response.data.data;
          }
        })
        .catch((response) => {
          me.$swal("ERROR");
          me.disabled = false;
        });
    },
    save() {
      let me = this;
      if ($("form").valid()) {
        me.disabled = true;
        axios
          .post(base + "/contratos/datosCDP/save", me.form)
          .then((response) => {
            me.$swal("El contrato ha sido registrado");
            //me.disabled = false;
          })
          .catch((response) => {
            me.$swal("ERROR");
            me.disabled = false;
          });
      }
    },
    searchDocumentContratista() {
      let me = this;
      axios
        .post(base + "/contratistas/searcdocumento", {
          documento: me.form.contratista.documento,
        })
        .then((response) => {
          if (response.data != null) {
            const resultado = me.municipioArray.find(
              (municipios) => municipios.id === response.data.data.municipio_id
            );
            me.form.contratista.establecimiento_nombre =
              response.data.data.establecimiento_nombre;
            me.form.contratista.nombre_primero =
              response.data.data.nombre_primero;
            me.form.contratista.nombre_segundo =
              response.data.data.nombre_segundo;
            me.form.contratista.apellido_primero =
              response.data.data.apellido_primero;
            me.form.contratista.apellido_segundo =
              response.data.data.apellido_segundo;
            me.form.contratista.documento = response.data.data.documento;
            me.form.contratista.direccion = response.data.data.direccion;
            me.form.contratista.celular = response.data.data.celular;
            me.form.contratista.email = response.data.data.email;
            me.id_departamento = resultado.id_departamento;
            me.form.contratista.municipio_id = response.data.data.municipio_id;
          }
        })
        .catch((response) => {});
    },
    searchDocumentSupervisor() {
      let me = this;
      axios
        .post(base + "/recursoshumanos/documento", {
          documento: me.form.supervisor.documento,
        })
        .then((response) => {
          if (response.data != null) {
            me.form.supervisor.nombre_primero =
              response.data.data.nombre_primero;
            me.form.supervisor.nombre_segundo =
              response.data.data.nombre_segundo;
            me.form.supervisor.apellido_primero =
              response.data.data.apellido_primero;
            me.form.supervisor.apellido_segundo =
              response.data.data.apellido_segundo;
            me.form.supervisor.documento = response.data.data.documento;
            me.form.supervisor.direccion = response.data.data.direccion;
            me.form.supervisor.celular = response.data.data.celular;
            me.form.supervisor.email = response.data.data.email;
            me.form.supervisor.cargo_id = response.data.data.cargo_id;
          }
        })
        .catch((response) => {});
    },
    searchDocumentApoyo() {
      let me = this;
      axios
        .post(base + "/recursoshumanos/documento", {
          documento: me.form.apoyo.documento,
        })
        .then((response) => {
          if (response.data != null) {
            me.form.apoyo.nombre_primero = response.data.data.nombre_primero;
            me.form.apoyo.nombre_segundo = response.data.data.nombre_segundo;
            me.form.apoyo.apellido_primero =
              response.data.data.apellido_primero;
            me.form.apoyo.apellido_segundo =
              response.data.data.apellido_segundo;
            me.form.apoyo.documento = response.data.data.documento;
            me.form.apoyo.direccion = response.data.data.direccion;
            me.form.apoyo.celular = response.data.data.celular;
            me.form.apoyo.email = response.data.data.email;
            me.form.apoyo.cargo_id = response.data.data.cargo_id;
          }
        })
        .catch((response) => {});
    },
  },
  mounted: function () {
    this.base = base;
    this.form.cdp_id = this.$route.params.cdp_id;
    $("form").validate();
    this.loadCargos();
    this.loadFormasPago();
    this.loadDepartamento();
    this.loadMunicipio();
    this.loadData();
    this.loadRecursosHumanos();
  },
};
</script>

<style>
.card {
  margin-bottom: 10px;
}
</style>