<template>
    <div>
        <div>
            <div class="row">
				<div class="col-md-6">
					<label for="filterInput">Ingrese el valor a buscar</label>
					<div class="input-group mb-3">
						<input type="text" v-model="filter" class="form-control" placeholder="Buscar">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" :disabled="filter==''" @click="filter=''">Limpiar</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<label for="perPage">Seleccione el numero de registros a ver</label>
					<select class="form form-control" name="perPage" id="perPage" v-model="perPage">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<b-table
				show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
				>
				<template #cell(id)="row">
				<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2" :disabled="row.item.estado!=='tramite'">
                    <b-dropdown-item v-if="row.item.estado=='tramite'" :to="{name:'asignarProtocolarizacion',params:{cdp_id:row.item.id}}">Asignar información de contrato</b-dropdown-item>
				</b-dropdown>
                </template>
                <template #cell(estado)="row">
                    <span v-if="row.item.estado=='tramite'" class="badge badge-danger">Por asignar</span>
                    <span v-else class="badge badge-success">Contrato aprobado</span><br>
                </template>
            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
        </div>
    </div>
</template>

<script>
export default {

    data()
    {
        return {
            base:'',
            dataArray:[],
            codigo:'',

            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
                { key: "id", label: "Opciones", sortable: false },
                { key: "cdp_no", label: "CDP", sortable: false },
                { key: "tbl_contratos_cdp.tbl_estudios_previos_tipo.nombre", label: "Modalidad de selección", sortable: false },
                { key: "cdp_no", label: "CDP", sortable: false },
                { key: "estado", label: "Estado", sortable: false },
            ],
        }
    },
    filters:{
        searchMore(value)
        {
            return value.substring(0,100)+(value.length>100?'..':'');
        }
    },
    methods:{
        buscarCDPaprobados()
        {
            let me = this;
            axios
            .post(base+'/contratos/searchcpd',{codigo:me.codigo})
            .then(function(response)
            {
                me.dataArray=response.data.data;
            })
            .catch(function(response){

            })
        }
    },
    mounted(){
        this.base=base;
        this.buscarCDPaprobados()
    }
}
</script>
