<template>
	<div>
		<form @submit.prevent="save"  class="row">
			<div class="col-md-12">
				<i class="r"></i>
				<label for="">Descripción</label>
				<input id="nombre" name="name" v-model="form.nombre" type="text" class="form form-control" required>
			</div>
			<div class="col-md-12">
				<i class="r"></i>
				<label for="">Códigos UNSPSC</label>
				<input-tag v-model="form.codigos" :required="true"></input-tag>
				<br>
			</div>
			<div class="col-md-6">
				<label for="fecha_estimada_inicio_seleccion">Fecha estimada de inicio de proceso de selección</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha_estimada_inicio_seleccion"></vuejs-datepicker>
			</div>
			<div class="col-md-6">
				<label for="duracion_estimada_contrato">Duración estimada del contrato</label>
				<input type="number" min="1" v-model="form.duracion_estimada_contrato" id="duracion_estimada_contrato" name="duracion_estimada_contrato" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="modalidad_seleccion">Modalidad de selección </label>
				<input v-model="form.modalidad_seleccion" id="modalidad_seleccion" name="modalidad_seleccion" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="fuente_recursos"> Fuente de los recursos </label>
				<input v-model="form.fuente_recursos" id="fuente_recursos" name="fuente_recursos" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="valor_estimado"> Valor total estimado </label>
				<input type="number" min="1" v-model="form.valor_estimado" id="valor_estimado" name="valor_estimado" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="valor_estimado_vigencia_actual">Valor estimado en la vigencia actual</label>
				<input type="number" min="1" v-model="form.valor_estimado_vigencia_actual" id="valor_estimado_vigencia_actual" name="valor_estimado_vigencia_actual" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="require_vigencia_futura">¿Se requieren vigencias futuras?</label>
				<input v-model="form.require_vigencia_futura" id="require_vigencia_futura" name="require_vigencia_futura" class="form form-control"/>
			</div>
			<div class="col-md-6">
				<label for="estado_solicitud_vigencia_futura">Estado de solicitud de vigencias futuras</label>
				<input v-model="form.estado_solicitud_vigencia_futura" id="estado_solicitud_vigencia_futura" name="estado_solicitud_vigencia_futura" class="form form-control"/>
			</div>
			<div class="col-md-12">
				<label for="datos_contacto_responsable">Datos de contacto del responsable</label>
				<textarea v-model="form.datos_contacto_responsable" id="datos_contacto_responsable" name="datos_contacto_responsable" rows="5" class="form form-control"></textarea>
			</div>
			<div class="col-md-12">
				<br>
				<br>
				<button class="btn btn-success" :disabled="disabled" >Guardar</button>
			</div>
		</form>
	</div>
</template>

<script>
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
	components: {vuejsDatepicker},
	data()
	{
		return {
			es:es,
			disabled:false,
			form:{
				id:'',
				nombre:'',
				codigos:[],
				fecha_estimada_inicio_seleccion:'',
				duracion_estimada_contrato:'',
				modalidad_seleccion:'',
				fuente_recursos:'',
				valor_estimado:'',
				valor_estimado_vigencia_actual:'',
				require_vigencia_futura:'',
				estado_solicitud_vigencia_futura:'',
				datos_contacto_responsable:'',
			}
		}
	},
	methods:{
		save()
		{
			if(this.form.codigos.length==0){
				this.$swal('Ingrese minimo un codigo');
			}
			else{
				if($('form').valid())
				{
					let me = this;
					me.disabled=true;
					if(me.form.id=='')
					{
						axios
						.post(base+'/plananualadquisicion',this.form)
						.then((response)=>{
							me.$swal('Guardado con éxito');
							me.$router.push({ name: "PlanAnualAdquisicionIndex"});
						})
						.catch((response)=>{
							console.warn(response);
							me.$swal('Error');
							me.disabled=false;
						})
					}
					else
					{
						axios
						.post(base+'/plananualadquisicion/'+me.form.id,me.form)
						.then((response)=>{
							me.$swal('Guardado con éxito');
							me.$router.push({ name: "PlanAnualAdquisicionIndex"});
						})
						.catch((response)=>{
							console.warn(response);
							me.$swal('Error');
							me.disabled=false;
						})
					}
				}
			}
		},
		loadUpdate()
		{
			if(typeof this.$route.params.id!='undefined')
			{
				let me = this;
				this.form.id=this.$route.params.id;
				axios
				.get(base+'/plananualadquisicion/show/'+me.form.id)
				.then((response)=>{
					me.form.nombre=response.data.data.nombre,
					me.form.codigos=response.data.data.codigos.split(';');
					me.form.fecha_estimada_inicio_seleccion  = response.data.data.fecha_estimada_inicio_seleccion;
					me.form.duracion_estimada_contrato		 = response.data.data.duracion_estimada_contrato;
					me.form.modalidad_seleccion				 = response.data.data.modalidad_seleccion;
					me.form.fuente_recursos					 = response.data.data.fuente_recursos;
					me.form.valor_estimado					 = response.data.data.valor_estimado;
					me.form.valor_estimado_vigencia_actual	 = response.data.data.valor_estimado_vigencia_actual;
					me.form.require_vigencia_futura			 = response.data.data.require_vigencia_futura;
					me.form.estado_solicitud_vigencia_futura = response.data.data.estado_solicitud_vigencia_futura;
					me.form.datos_contacto_responsable		 = response.data.data.datos_contacto_responsable;
				})
				.catch((response)=>{
					console.warn(response);
					me.$swal('Error');
					me.disabled=false;
				})

			}
		}
	},
	mounted:function()
	{
		$('form').validate();
		this.loadUpdate();
	}

}
</script>