<template>
    <div class="row">
        <div class="col-md-12">
            <router-link v-if="permisos.plan_anual_adquisicion_create" :to="{name:'PlanAnualAdquisicionCreate'}" class="btn btn-success" ><i class="fas fa-user-plus"></i> Agregar plan anual de adquisición</router-link>
            <br>
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-responsive" border="1" id="planes">
                <thead>
                    <tr>
                        <th>#</th>
                        <th v-if="permisos.plan_anual_adquisicion_update && permisos.plan_anual_adquisicion_delete">Opciones</th>
                        <th style="min-width: 500px;">Códigos UNSPSC</th>
                        <th>Descripcion</th>
                        <th>Fecha estimada de<br>inicio de <br>proceso de selección</th>
                        <th>Duración<br>estimada del<br>contrato</th>
                        <th>Modalidad de<br>selección </th>
                        <th>Fuente de los<br>recursos </th>
                        <th>Valor total<br>estimado </th>
                        <th>Valor estimado<br>en la vigencia actual</th>
                        <th>¿Se requieren<br>vigencias futuras?</th>
                        <th>Estado de solicitud<br>de vigencias futuras</th>
                        <th>Datos de contacto del responsable</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(item,idx) in dataArray" style="text-align: end;">
                        <template v-if="idx%5==0&idx!=0">
                            <tr :key="idx">
                                <th>#</th>
                                <th v-if="permisos.plan_anual_adquisicion_update && permisos.plan_anual_adquisicion_delete">Opciones</th>
                                <th style="min-width: 500px;">Códigos UNSPSC</th>
                                <th>Descripcion</th>
                                <th>Fecha estimada de<br>inicio de <br>proceso de selección</th>
                                <th>Duración<br>estimada del<br>contrato</th>
                                <th>Modalidad de<br>selección </th>
                                <th>Fuente de los<br>recursos </th>
                                <th>Valor total<br>estimado </th>
                                <th>Valor estimado<br>en la vigencia actual</th>
                                <th>¿Se requieren<br>vigencias futuras?</th>
                                <th>Estado de solicitud<br>de vigencias futuras</th>
                                <th>Datos de contacto del responsable</th>
                            </tr>
                        </template>
                        <tr>
                            <td>{{idx+1}}</td>
                            <td v-if="permisos.plan_anual_adquisicion_update && permisos.plan_anual_adquisicion_delete">
                                <b-dropdown text="Opciones">
                                    <b-dropdown-item v-if="permisos.plan_anual_adquisicion_update" :to="{name:'PlanAnualAdquisicionUpdate',params:{id:item.id}}"><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                                    <b-dropdown-item v-if="permisos.plan_anual_adquisicion_delete" @click="borrar(item.id)"><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                                </b-dropdown>
                            </td>
                            <td style="text-align: left;">{{item.codigos|codigos}}</td>
                            <td style="text-align: center; min-width:400px;">{{item.nombre}}</td>
                            <td>{{item.fecha_estimada_inicio_seleccion}}</td>
                            <td>{{item.duracion_estimada_contrato}}</td>
                            <td style="text-align: left;">{{item.modalidad_seleccion}}</td>
                            <td style="text-align: left;">{{item.fuente_recursos}}</td>
                            <td>{{item.valor_estimado|formatCurrency}}</td>
                            <td>{{item.valor_estimado_vigencia_actual|formatCurrency}}</td>
                            <td style="text-align: left;">{{item.require_vigencia_futura}}</td>
                            <td style="text-align: left;">{{item.estado_solicitud_vigencia_futura}}</td>
                            <td style="text-align: left;">{{item.datos_contacto_responsable}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import fn from './../functions/currency'
export default {
    data()
    {
        return {
            dataArray:[]
        }
    },
    filters:{
        codigos(value){
            value = value.split(';');
            value.forEach((val,idx)=>{
                value[idx]=(""+val+"").trim()
            });
            return value.join(', ');
        },
        formatCurrency(value)
        {
            return fn.formatCurrency(value);
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            axios
            .get(base+'/plananualadquisicion')
            .then((response)=>{
                me.dataArray=response.data.data;
            })
        },
        borrar(id)
        {
            let me = this;
            me.$swal.fire({
            title: 'Borrar',
            text: "¿Desea borrar este elemento?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, borrar!'
            }).then((result) => {
            if (result.value) 
            {
                axios
                .delete(base+'/plananualadquisicion/'+id,)
                .then((response)=>{
                    if(response.data.validate)
                    {
                        me.loadData();
                        me.$swal.fire(
                        'Borrado',
                        'Este plan ha sido eliminado del sistema.',
                        'success'
                        )
                    }
                })
            }
            })
        }
    },
    mounted:function(){
        this.loadData();
    }
}
</script>
<style>
</style>
