<template>
  <div>
      <formulario v-on:guardar="saveData"/>
  </div>
</template>

<script>
import formulario from '../listachequeo/form'
export default {
    components:{formulario},
    methods:{
        saveData(form)
        {
            console.log({formulario:form})
            
        }
    }
}
</script>

<style>

</style>