<template>
    <div>
        <form @submit.prevent="guardar" id="form">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Aplica</th>
                                <th>Cumple requisitos</th>
                                <th>Documentos</th>
                                <th>Folio NRO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,index) in form.detalles" :key="index">
                                <td>{{index+1}}</td>
                                <td>
                                    <div class="onoffswitch">
                                        <input type="checkbox" :name="'onoffswitch'+item.lista_chequeo_plantilla_id" class="onoffswitch-checkbox" :id="'myonoffswitch'+item.lista_chequeo_plantilla_id" tabindex="0" v-model="item.aplica">
                                        <label class="onoffswitch-label" :for="'myonoffswitch'+item.lista_chequeo_plantilla_id">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="onoffswitch">
                                        <input type="checkbox" :name="'onoffswitch_'+item.lista_chequeo_plantilla_id" class="onoffswitch-checkbox" :id="'myonoffswitch_'+item.lista_chequeo_plantilla_id" tabindex="0" v-model="item.cumple_requisitos">
                                        <label class="onoffswitch-label" :for="'myonoffswitch_'+item.lista_chequeo_plantilla_id">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{item.documentos}}</td>
                                <td>
                                    <input type="text" v-model="item.folio" :name="'folio'+item.id">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success" :disabled="disabled"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>  
</template>

<script>
export default {
    props:['revisiones_tramites_id'],
    data()
    {
        return{
            arrayContratos:[],
            disabled:false,
            base:'',
            form:{
                _revisiones_tramites_id:'',
                id:'',
                detalles:[]

            }
        };
    },
    methods:{
        loadContratos(){
            axios
            .get(this.base+'/contratos')
            .then((response)=>{
                this.arrayContratos=response.data.data;
            })
        },
        loadPlantilla(){
            axios
            .post(this.base+'/plantilla/listachequeo',{revisiones_tramites_id:this.revisiones_tramites_id})
            .then((response)=>{
                this.form.detalles=[];
                response.data.data.forEach((data)=>{
                    this.form.detalles.push({
                        folio:                      data.folio_no,
                        aplica:                     (data.aplica == 1),
                        documentos:                 data.documentos,
                        cumple_requisitos:          (data.cumple_requisitos == 1),
                        lista_chequeo_plantilla_id: data.id,
                    });
                })
            })
        },
        guardar(){
            let me = this;
            if($('#form').valid())
            {
                me.disabled=true;
                axios
                .post(base+'/listachequeo',me.form)
                .then((response)=>{
                    me.disabled=false;
                    me.$emit('save')

                })
            }
        }
    },
    mounted()
    {
        this.base = base;
        this.loadPlantilla();
        $('#form').validate()
        this.form._revisiones_tramites_id=this.revisiones_tramites_id;
    }
}
</script>

<style>

</style>