<template>
    <div>
        <router-link class="btn btn-success" :to="{ name: 'ListasChequeoCreate'}"><i class="far fa-edit"></i> Nueva lista de chequo</router-link>
        <br>
        <br>
        <table border="1" class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Opcionse</th>
                    <th>Causal</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data()
    {
        return {}
    },
    methods:{
    },
    mounted(){
        this.base = base;
    }
}
</script>