<template>
	<div>
		<contratodata v-if="(Object.keys(detalle).length)>0" :id_contrato="detalle.id"></contratodata>
		<div class="mt-3">
			<button 
				class="btn btn-success" 
				@click.prevent="nueva"
				:disabled="disabled">
				<i class="far fa-edit"></i>
				Nueva Presentación
			</button>
			<devoluciones v-if="false" :id="id" :tipo_from="9" :tipo_to="9"/>
		</div>
		<div class="row mt-3">
			<div class="col-md-12">
				<div id="scroll_bar" style="overflow-y: auto;">
	                <h4>Detalle de la revisión de contrato</h4>
	                <table border="1" class="table table-hover">
	                	<thead>
	                		<tr>
	                			<th>Lista de chequeo</th>
	                			<th>Fecha de Presentación</th>
	                			<th>Fecha de Egreso</th>
	                			<th v-if="nuevo || edit"></th>
	                		</tr>
	                	</thead>
	                	<tbody>
							<template v-for="(data,index) in contratos">
	                		<tr :key="'0'+index">
	                			<td style="text-align: right;">
									<button class="btn btn-warning" @click="data.show=false; $forceUpdate()"  v-if="data.show">-</button>
									<button class="btn btn-success" @click="data.show=true;  $forceUpdate()"  v-if="!data.show">+</button>
								</td>
	                			<td>
	                				<div v-if="nuevo && row==index">
	                					<vuejs-datepicker datepicker 
						                	:language="es" 
						                	:input-class="'form-control'" 
						                	:format="datePickerFormat"
						                	v-model="editable.fecha_presentacion" 
						                	>
					                	</vuejs-datepicker>
	                				</div>
	                				<div v-else>
	                					{{ formatDate(data.fecha_presentacion) }}
	                				</div>
	                			</td>
	                			<td @click="clic(data, index, 5)">
	                				<div v-if="row==index && edit && column==5 && data.fecha_presentacion != ''">
	                					<vuejs-datepicker datepicker 
						                	:language="es" 
						                	:input-class="'form-control'"
						                	:format="datePickerFormat"
						                	:disabled-dates="disabledDates"
						                	v-model="editable.fecha_egreso" 
						                	>
					                	</vuejs-datepicker>
	                				</div>
	                				<div v-else>
	                					{{ formatDate(data.fecha_egreso) }}
	                				</div>
	                			</td>
	                			<td v-if="nuevo || edit">
	                				<div class="form-inline">
	                					<button @click="guardar" class="btn btn-success btn-sm" v-if="data.fecha_presentacion ==''"><i class="far fa-save"></i></button>
	                					<button v-show="edit && row==index" @click="editar(data)" class="btn btn-warning btn-sm" v-else><i class="far fa-edit"></i></button>
	                				</div>
	                			</td>
	                		</tr>
							<tr :key="'1'+index" v-if="data.show">
								<td colspan="3">
									<listachequeo v-bind:revisiones_tramites_id="data.id" v-on:save="data.show=false; $forceUpdate()"/>
								</td>
							</tr>
							</template>
	                		<tr v-if="contratos.length == 0">
	                			<td colspan="7" class="text-center"><strong>No hay movimientos</strong></td>
	                		</tr>
	                	</tbody>
	                </table>
            	</div>
            </div>
		</div>
	</div>
</template>
<script>
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import contratodata from '../functions/datoscontrato';
import listachequeo from '../listachequeo/form'

export default {
	components: {
		listachequeo,
		contratodata,
        vuejsDatepicker
    },
    computed: {
    	contratista() {
    		if(this.detalle.contratista_id != null) {
    			return this.detalle.tbl_contratistas.nombre_primero + ' ' + (this.detalle.tbl_contratistas.nombre_segundo != null? this.detalle.tbl_contratistas.nombre_segundo :'') + ' ' + this.detalle.tbl_contratistas.apellido_primero + ' ' + (this.detalle.tbl_contratistas.apellido_segundo != null? this.detalle.tbl_contratistas.apellido_segundo:'')
    		}
    	},
    	supervisor() {
    		if(this.detalle.recursos_humanos_supervisor_id != null) {
    			return this.detalle.tbl_recursos_humanos_supervisor.nombre_primero + (this.detalle.tbl_recursos_humanos_supervisor.nombre_segundo != null? this.detalle.tbl_recursos_humanos_supervisor.nombre_segundo :' ') + ' '+ this.detalle.tbl_recursos_humanos_supervisor.apellido_primero + ' ' + (this.detalle.tbl_recursos_humanos_supervisor.apellido_segundo != null? this.detalle.tbl_recursos_humanos_supervisor.apellido_segundo:'')
    		}
    	}
    },
	data() {
		return {
			es:es,
			edit: false,
			row: null,
			column: null,
			nuevo: false,
			id: null,
			contratos: [],
			detalle: [],
			form: {},
			editable: {},
			disabled: false,
			datePickerFormat: 'dd-MM-yyyy',
			disabledDates: {
				to: new Date(Date.now() - 8640000)
			}
		}
	},
	methods: {
		index() {
			let me = this
			this.id = this.$route.params.contrato_id
			axios
            .get(base+'/revisiones/contratos/' + this.id)
            .then(function(response)
            {
            	me.detalle = response.data.data.detalle_contrato
				me.contratos = response.data.data.presentaciones
				me.contratos.forEach((data,index)=>{
					me.contratos[index].show=false;
				})
				me.valida_presentacion()
            })
            .catch(function(error){ })
		},
		nueva() {
			let row = {
				show:false,
				index: '',
				fecha_presentacion: '',
				fecha_devolucion: '',
				motivo_devolucion: '',
				fecha_reingreso: '',
				fecha_egreso: ''
			}

			this.contratos.push(row)
			this.row = this.contratos.length - 1
			this.nuevo = true
		},
		guardar() {
			let me= this

			if(!this.editable.fecha_presentacion) {
				me.$swal('Debe seleccionar una fecha')
				return
			}

			this.form.contrato_id= this.id
			this.form.fecha_presentacion = this.convertDate(this.editable.fecha_presentacion)

			axios
            .post(base+'/revisiones', this.form)
            .then(function(response)
            {
                me.index()
                me.nuevo = false
                me.$swal(response.data.message)
            })
            .catch(function(error){ 
            	me.$swal('ERROR');
            })

		},
		editar(row) {
			let me= this
			row.fecha_devolucion = this.editable.fecha_devolucion? this.convertDate(this.editable.fecha_devolucion):row.fecha_devolucion
			row.motivo_devolucion = this.editable.motivo_devolucion? this.editable.motivo_devolucion:row.motivo_devolucion
			row.fecha_reingreso = this.editable.fecha_reingreso? this.convertDate(this.editable.fecha_reingreso):row.fecha_reingreso
			row.fecha_egreso = this.editable.fecha_egreso? this.convertDate(this.editable.fecha_egreso):row.fecha_egreso

			axios
            .put(base+'/revisiones/' + row.id, row)
            .then(function(response)
            {
                me.index()
                me.$swal(response.data.message)
                me.estado_inicial()
                me.editable = {}
            })
            .catch(function(error){ 
            	me.$swal('ERROR');
            })

		},
		clic(row, index, column) {
			this.edit= true
			this.row= index
			this.column= column
		},
		estado_inicial() {
			this.edit= false
			this.row= null
			this.column= null
		},
		valida_presentacion() {
			for(let i=0; i<this.contratos.length; i++) {
				if(this.contratos[i].fecha_egreso == null) {
					this.disabled = true
				} else {
					this.disabled = false
				}

			}
		}


	},
	mounted() {
		this.index()
	}
}	
</script>