<template>
	<div>
		<div class="row">
            <div class="col-md-4">
                <label for="codigo">Buscar Contratos</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" v-model="codigo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="search"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<!--<template v-for="(item,index) in contratos" >
        		<div class="col-md-4" :key="index">
        			<div class="card" style="width: 18rem;">
        				<div class="card-body">
        					<h5 class="card-title">Contrato</h5>
        					<h6 class="card-subtitle mb-2 text-muted">{{item.numero}}</h6>
        					<p class="card-text">{{item.objeto}}</p>
        					<router-link :to="{name:'detallerevision',params:{contrato_id:item.id}}" class="card-link">Detalle de revisión de contrato</router-link>
        				</div>
        			</div>
        		</div>
        	</template>
            <template>
                <div v-if="contratos.length == 0" class="row">
                    <strong>No existe contratos</strong>
                </div>
            </template> -->
            <b-table
                show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="contratos"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(id)="row">
                    <router-link v-if="row.item.tbl_actas_de_inicio == null" 
                        :to="{name:'detallerevision',params:{contrato_id:row.item.id}}" 
                            class="btn btn-primary">Detalle de revisión de contrato</router-link>
                </template>
                <template #cell(valor_contrato)="row">
                    $ {{row.item.valor_contrato|currency}}
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
        </div>
	</div>
</template>
<script>
import fn from "../functions/currency";
import devoluciones from '../functions/devoluciones'; 
export default {
    filters:{
		currency:function(value){
			return fn.formatCurrency(value);
		}
	},
    components: {
        devoluciones
    },
	data() {
		return {
			codigo: '',
            contratos: [],
            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "objeto", label: "objeto", sortable: true },
				{ key: "numero", label: "number", sortable: true },
			]
		}
	},
	methods: {
        index(valor) {
			let me = this
            let url = '/contratos/todos'
            if(valor) {
                url = '/contratos/todos?buscar='+valor
            }

			axios
            .get(base+url)
            .then(function(response)
            {
                me.contratos = response.data.data
            })
            .catch(function(error){ })
		},
		search() {
			this.index(this.codigo)
		}
	},
	mounted() {
        this.base=base
        this.index()
	}
}
</script>