<template>
    <div>
        <form @submit.prevent="guardar">
            <div class="row">
                <div class="col-md-4">
                    <label>Número de acuerdo</label>
                    <input type="number" min="1" v-model="form.acuerdo_numero" id="acuerdo_numero" name="acuerdo_numero" class="form form-control"/>                    
                </div>
                <div class="col-md-4">
                    <label>Fecha de acuerdo</label>
                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.acuerdo_fecha"></vuejs-datepicker>
                </div>
                <div class="col-md-4">
                    <label>Fecha de solicitud de CDP</label>
                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.solicitud_fecha"></vuejs-datepicker>
                </div>
                <div class="col-md-12">
                    <label>Acta autorización de la junta</label>
                    <textarea rows="5" v-model="form.acta_autorizacion" id="acta_autorizacion" name="acta_autorizacion" class="form form-control">
                    </textarea>
                </div>
            </div>
            <br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">CDP (Certificado de Disponibilidad Presupuestal)</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-6">
                    <label>Numero</label>
                    <input type="text" v-model="form.cdp_no" id="cdp_no" name="cdp_no" class="form form-control" required/>
                </div>
                <div class="col-md-6">
                    <label>Rubro</label>
                    <input type="text" v-model="form.cdp_rubro" id="cdp_rubro" name="cdp_rubro" class="form form-control" required/>
                </div>
                <div class="col-md-6">
                    <label>Fecha</label>
                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.cdp_fecha" :required="true"></vuejs-datepicker>
                </div>
                <div class="col-md-6">
                    <label>Valor</label>
                    <input type="text" v-model="form.cdp_valor" id="cdp_valor" name="cdp_valor" class="form form-control" required/>
                </div>
                <div class="col-md-12">
                    <br>
                    <button class="btn btn-success" :disabled="!disabled"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import fn from './../functions/currency'
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker
    },
    watch:{
        'form.cdp_valor'(value)
        {
            this.form.cdp_valor = fn.formatCurrency(value);
        }
    },
    data()
    {
        return {
            es: es,
            disabled:false,
            form:{
                estudios_previos_id:'',
                contrato_id:'',
                acta_autorizacion:'',
                acuerdo_numero:'',
                acuerdo_fecha:'',
                solicitud_fecha:'',
                cdp_no:'',
                cdp_rubro:'',
                cdp_fecha:'',
                cdp_valor:'',
            }
        }
    },
    methods:{
        guardar()
        {
            let me = this;
            if($('form').valid())
            {
                me.disabled=false;
                axios
                .post(base+'/contratos',me.form)
                .then((response)=>{
                    if(response.data.validate)
                    {
                        me.$swal('CDP ha sido registrado');
                        me.$router.push({name:'cdpasignar'});
                    }
                    else{
                        me.$swal("Error", response.data.data, "error");
                        me.disabled=true;
                    }
                })
                .catch((response)=>{
                    console.log(response.response);
                    me.$swal("Error", response.response.data.data, "error");
                    me.disabled=true;
                })
            }
                
        },
        load()
        {
            let me = this;
            me.disabled=true;
            axios
            .get(base+'/contratos/showCDP/'+me.form.estudios_previos_id)
            .then ((response)=>
            {
                if(response.data.data!=null)
                { 
                    let temp = response.data.data;
                    me.form.cdp_valor = temp.valor_numero
                    me.form.cdp_valor = fn.formatCurrency(me.form.cdp_valor);
                }
                else{
                    me.$router.push({name:'cdpasignar'});
                }
            })
            .catch((response)=>
            {
                me.$router.push({name:'cdpasignar'});
            });
        }
    },
    mounted()
    {
        let me = this;
        $('form').validate();
        me.form.estudios_previos_id=me.$route.params.estudios_previos_id;
        me.load();
    }
}
</script>

<style>

</style>