<template>
	<div>
		<div>
			<div class="row">
				<div class="col-md-6">
					<label for="filterInput">Ingrese el valor a buscar</label>
					<div class="input-group mb-3">
						<input type="text" v-model="filter" class="form-control" placeholder="Buscar">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button" :disabled="filter==''" @click="filter=''">Limpiar</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<label for="perPage">Seleccione el numero de registros a ver</label>
					<select class="form form-control" name="perPage" id="perPage" v-model="perPage">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
			</div>
			<b-table
				show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
				>
				<template #cell(tbl_contratos_cdp)="row">
				<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2" :disabled="row.item.tbl_contratos_cdp!==null">
					<b-dropdown-item v-if="row.item.tbl_contratos_cdp==null" :to="{name:'asignarCDP',params:{estudios_previos_id:row.item.id}}"><i class="fas fa-money-check-alt"></i> Asignar CDP</b-dropdown-item>
				</b-dropdown>
                </template>
            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            ></b-pagination>
        </div>
    </div>
</template>


<script>
export default {
  data() {
    return {
      base: "",
      dataArray: [],
      codigo: "",

      totalRows: 0,
      currentPage: "",
      perPage: 5,
      filter: "",
      fields: [
        { key: "tbl_contratos_cdp", label: "Opciones", sortable: false },
        {
          key: "tbl_estudios_previos_tipo.nombre",
          label: "Modalidad de selección",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "fecha_estudios_previos",
          label: "Fecha de estudio previo",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "lugar_ejecucion",
          label: "Lugar de ejecución",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "tbl_contratos_cdp.cdp_fecha",
          label: "Fecha CDP",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "tbl_contratos_cdp.cdp_no",
          label: "Numero CDP",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "tbl_contratos_cdp.cdp_rubro",
          label: "Rubro",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "valor_letras",
          label: "Valor",
          sortable: true,
          sortDirection: "desc",
        },
      ],
    };
  },
  filters: {
    searchMore(value) {
      return value.substring(0, 100) + (value.length > 100 ? ".." : "");
    },
  },
  methods: {
    list() {
      return;
      let me = this;
      axios.get(this.base + "/contratos").then((response) => {
        me = response.data.data;
      });
    },
    buscarEstudioPrevio() {
      let me = this;
      axios
        .post(base + "/contratos/searchcodigo", { codigo: me.codigo })
        .then(function (response) {
          me.dataArray = response.data.data;
          me.totalRows = me.dataArray.length;
        })
        .catch(function (response) {});
    },
  },
  mounted() {
    this.base = base;
    this.list();
    this.buscarEstudioPrevio();
  },
};
</script>
