<template>

        <div class="col-md-12">
            <div class="card" v-if="contrato!=''">
                <template>
                    <div class="card-header"><h4>Datos del contrato No: {{contrato.numero}}</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Valor</label>
                                <p>$ {{contrato.valor_contrato|formatCurrencyPipe}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Forma de pago</label>
                                <p>{{contrato.tbl_formas_de_pago.nombre}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Vigencia desde</label>
                                <p>{{contrato.vigencia_desde|dateFormat}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Vigencia hasta</label>
                                <p>{{contrato.vigencia_hasta|dateFormat}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Procede liquidación</label>
                                <p>{{contrato.procede_liquidacion==0?'No':'Si'}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Plazo de ejecución</label>
                                <p>{{contrato.tbl_estudios_previos.plazo_ejecucion}}</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Porcentaje de ejecución</label>
                                <p>{{porcentajeEjecucion.porcentaje}} %</p>
                            </div>
                            <div class="col-md-3">
                                <label for="">Valor ejecutado</label>
                                <p>$ {{porcentajeEjecucion.valor_ejecutado|formatCurrencyPipe}}</p>
                            </div>
                            <div class="col-md-12">
                                <label for="">Objeto</label>
                                <p>{{contrato.objeto}}</p>
                            </div>
                            <template v-if="contrato.tbl_otros_si.length>0">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <template v-for="(value,index) in contrato.tbl_otros_si">
                                <div class="col-md-12">
                                    <h4>Otro sí número {{index+1}}</h4>
                                </div>
                                        <div class="col-md-3">
                                        <label for="">Vigencia desde</label>
                                        <p>{{value.desde}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Vigencia hasta</label>
                                        <p>{{value.hasta}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Fecha de CDP</label>
                                        <p>{{value.fecha_cdp}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Valor</label>
                                        <p>$ {{value.valor|formatCurrencyPipe}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Numero CDP</label>
                                        <p>{{value.no_cdp}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Registro presupuestal</label>
                                        <p>{{value.registro_presupuestal}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Fecha de registro presupuestal</label>
                                        <p>{{value.fecha_registro_presupuestal}}</p>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="">Otras modificaciones</label>
                                        <p>{{value.otras_modificaciones}}</p>
                                    </div>
                                </template>
                                <div class="col-md-12">

                                <hr>
                                </div>
                            </template>
                            
                            <hr>
                            <div class="col-md-6">
                                <h4>Contratista</h4>
                                <label for="">Nombre: </label>
                                {{contrato.tbl_contratistas.nombre_primero}}
                                {{contrato.tbl_contratistas.nombre_segundo}}
                                {{contrato.tbl_contratistas.apellido_primero}}
                                {{contrato.tbl_contratistas.apellido_segundo}}
                                <br>
                                <label for="">Documento:</label> {{contrato.tbl_contratistas.documento|formatCurrencyPipe}}
                                <br>
                                <label v-if="contrato.tbl_contratistas.establecimiento_nombre !=null">
                                    Nombre del establecimiento: {{contrato.tbl_contratistas.establecimiento_nombre}} <br>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <h4>Supervisores</h4>
                                    <template v-for="(data,idx) in contrato.supervisores">
                                        <label :key="'0'+idx" for="">Nombre: </label>
                                        {{data.tbl_recursos_humanos.nombre_primero}}
                                        {{data.tbl_recursos_humanos.nombre_segundo}}
                                        {{data.tbl_recursos_humanos.apellido_primero}}
                                        {{data.tbl_recursos_humanos.apellido_segundo}}<br :key="'1'+idx" >
                                        <label  :key="'2'+idx" for="">Documento: </label>:{{data.tbl_recursos_humanos.documento}}
                                        <hr :key="'3'+idx" >
                                    </template>
                                <br>
                                <div v-if="false">

                                <label for="">Documento:</label> {{contrato.tbl_recursos_humanos_supervisor.documento|formatCurrencyPipe}}<br>
                                <label>tipo de vinculación: {{contrato.tbl_recursos_humanos_supervisor.tbl_cargos.nombre}}</label>
                                </div>
                            </div>
                            <hr/>
                            <div class="col-md-12">
                                <router-link :to="{name:'archivos',params:{id:id_contrato}}"><i class="fas fa-folder-plus"></i> Ver archivos</router-link>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
</template>

<script>
import fn from './../functions/currency'
export default {
    props:['id_contrato'],
    name :'contratodata',
    filters:{
        dateFormat(value)
        {
            return value.split(' ')[0];
        },
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        }
    },
    data()
    {
        return {
            contrato:'',
            porcentajeEjecucion:'',
        }
    },
    methods:{
        loadData(){
            let me = this;
            let url = base+'/contratos/show/'+me.id_contrato;
            axios
            .get(url)
            .then((response)=>{
                me.contrato = response.data.data;
                url = base+'/contratos/porcentaje/ejecucion';
                axios
                .post(url,{id_contrato:me.id_contrato})
                .then((response)=>{
                    me.porcentajeEjecucion = response.data.data;
                })
            })
            
        }
    },
    mounted()
    {
        this.loadData();
    }

}
</script>

<style>

</style>