<template>
	<div>
		<div class="modal fade" 
			:id="'modal-devoluciones'+id" 
			tabindex="-1" 
			role="dialog" 
			aria-labelledby="devolucionModalLabel" 
			aria-hidden="true">
			<div class="modal-dialog" role="document">
			    <div id="content_modal">
					
				<div class="modal-content">
				    <div class="modal-header">
				        <h5 class="modal-title" id="devolucionModalLabel">Nueva Devolución</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				    </div>
				    <div class="modal-body">
				      	<div class="row">
					        <div class="col-md-12"> 
				                <label for="fecha_devolucion">Fecha de devolución</label> 
				                <vuejs-datepicker datepicker 
				                	:language="es" 
				                	:input-class="'form-control'" 
				                	format="dd-MM-yyyy"
				                	v-model="form.fecha_devolucion" 
				                	:required="true">
			                	</vuejs-datepicker>
			                	<small v-if="error['fecha_devolucion']" class="text-danger">
			                		{{error['fecha_devolucion']}}
			                	</small>
				            </div>
				      	</div>
				      	<div class="row">
					        <div class="col-md-12"> 
				                <label for="motivo_devolucion">Motivo de devolución</label> 
				                <input type="text" class="form-control" name="motivo_devolucion" v-model="form.motivo_devolucion">
				            </div>
				      	</div>
				    </div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal" @click.prevent="cerrar">Cerrar</button>
				        <button type="button" class="btn btn-primary" @click.prevent="guardar">Guardar</button>
				    </div>
			    </div>

				</div>
		  	</div>
		</div>
		
		<button v-if="!button" @click="nuevoModal" type="button" class="btn btn-info"> <!--data-toggle="modal" :data-target="'#modal-devoluciones'+id">-->
		  Nueva Devolución
		</button>
		<div v-else>
			<b-dropdown-item data-toggle="modal" :data-target="'#modal-devoluciones'+id">
				<i class="fas fa-retweet"></i> Nueva devolución
			</b-dropdown-item>
		</div>
	</div> 
</template>
<script>
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';

export default {
	components: {
        vuejsDatepicker  
    },
	props: {
		button:true,
		id: {required: true},
		tipo_from: { required: true },
		tipo_to: { required: true }
	},
	data() {
		return {
			es: es,
			form: {
				id:'',
				tipo_to_id:'',
				tipo_from_id:'',
				fecha_devolucion:''
			},
			error: {}
		}
	},
	methods:
	{
		nuevoModal()
		{
			let me = this;
			me.$swal.fire({
				title: 'Nueva devolución',
				html:	'<div class="col-md-12"><label>Fecha de devolución</label><input id= "fecha_egreso" class="form form-control"></div>' +
					 	'<div class="col-md-12"><label>Motivo de devolución</label><input id="motivo" class="form form-control"></div>' ,
				onBeforeOpen: () => {
					$('#fecha_egreso').datepicker();
				},
				focusConfirm: false,
				preConfirm: () => {
					me.form.fecha_devolucion	= 	$('#fecha_egreso').val();
					me.form.motivo_devolucion 	= 	$('#motivo').val();
					me.guardar();
				}
			})
		},
		guardar() 
		{
			let me = this
			me.form.id 				 = me.id
			me.form.tipo_from_id 	 = me.tipo_from;
			me.form.tipo_to_id 		 = me.tipo_to;
			me.form.fecha_devolucion = me.convertDate(me.form.fecha_devolucion);
			axios
            .post(base+'/devoluciones', me.form)
            .then(function(response)
            {
                me.cerrar()
				me.$swal(response.data.message);
				me.$emit('recargar');
				
            })
            .catch(function(error){ 
                me.$swal('ERROR');
            })
		},
		cerrar() {
			$('#modal-devoluciones'+this.id).modal('hide')
			this.form = {}
		}
	},
	mounted()
	{
	}
}
</script>