<template>
    <div>
        <contratodata v-if="contrato!=''" :id_contrato="contrato.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.contrato_id"></contratodata>
         <form @submit.prevent="save">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h4>Orden de pago</h4>
                    <h4>número de orden de pago <template v-if="contrato!=''">{{contrato.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</template></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de ingreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de egreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_egreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    data()
    {
        return {
            disabled:false,
            es:es,
            contrato:'',
            form:{
                id:'',
                registro_presupuestal_id:'',
                fecha_egreso:'',
                fecha_ingreso:''
            }
        }
    },
    watch:{

    },
    methods:{
        save()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/firmaadministracion';
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.contrato=response.data.data;
                    me.$swal('Guardado con éxito')
                    me.$router.push({name:'administracionindex'});
                })
                .catch((response)=>{
                    console.clear();
                    console.warn(response);
                    me.disabled=false;
                    me.$swal('Error al guardar')
                })
            }
        },
        loadData()
        {
            let me = this;
            let url = base+'/registropresupuestal/'+me.form.registro_presupuestal_id;
            axios
            .get(url)
            .then((response)=>{
                me.contrato=response.data.data;
                if(me.contrato.tramite_actual!=null)
                {
                    me.form.id                       = me.contrato.tramite_actual.id
                    me.form.fecha_egreso             = me.contrato.tramite_actual.fecha_egreso==null?'':me.contrtao.tramite_actual.fecha_egreso;
                    me.form.fecha_ingreso            = me.contrato.tramite_actual.fecha_ingreso
                }
            })
            .catch((response)=>{
                console.warn(response);
                //me.$router.push({name:'administracionindex'});
            })
        }
    },
    mounted()
    {
        this.form.registro_presupuestal_id = this.$route.params.registro_presupuestal_id
        this.loadData();
        $('form').validate();
    }
}
</script>