<template>
    <div>
        <contratodata v-if="contrato!=''" :id_contrato="contrato.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.contrato_id"></contratodata>
         <form @submit.prevent="save">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Orden de pago</h4>
                        <h4>número de orden de pago {{contrato.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de ingreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4" v-if="false">
                                <label for="fecha_egreso">Fecha de egreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_egreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label for="fecha_cancelacion">Orden de pago cancelada</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_cancelacion" name="fecha_cancelacion" v-model="form.fecha_cancelacion" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <h4>ENVIO DE SOPORTES CANCELADOS AL AREA DE JURIDICA</h4>
                            </div>
                            <div class="col-md-4">
                                <label for="fecha_envio_area_juridica">Fecha de envio al area jurídica</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_envio_area_juridica" name="fecha_envio_area_juridica" v-model="form.fecha_envio_area_juridica" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-8">
                                <label for="fecha_egreso">Quien recibe del area jurídica</label>
                                <input class="form form-control"  id="quien_recibe_area_juridica" name="quien_recibe_area_juridica" v-model="form.quien_recibe_area_juridica" required>
                            </div>
                            
                            
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    data()
    {
        return {
            disabled:false,
            es:es,
            contrato:'',
            form:{
                contratatos_pagos_firma_gerencia_id:'',
                fecha_egreso:'',
                fecha_ingreso:'',
                fecha_cancelacion:'',
                fecha_envio_area_juridica:'',
                quien_recibe_area_juridica:''
            }
        }
    },
    watch:{

    },
    methods:{
        save()
        {
            if($('form').valid())
            {
                let me = this;
                //me.disabled=true;
                let url = base+'/tesoreria';
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.contrato=response.data.data;
                    me.$swal('Guardado con éxito')
                    //me.$router.push({name:'tesoreriaPagosindex'});
                })
                .catch((response)=>{
                    console.clear();
                    console.warn(response);
                    me.disabled=false;
                    me.$swal('Error al guardar')
                })
            }
        },
        loadData()
        {
            let me = this;
            let url = base+'/firmagerencia/'+me.form.contratatos_pagos_firma_gerencia_id;
            axios
            .get(url)
            .then((response)=>{
                me.contrato=response.data.data;
            })
            .catch((response)=>{
                console.clear();
                console.warn(response);
                me.$router.push({name:'tesoreriaPagosindex'});
            })
        }
    },
    mounted()
    {
        this.form.contratatos_pagos_firma_gerencia_id = this.$route.params.contratatos_pagos_firma_gerencia_id
        this.loadData();
        $('form').validate();
    }
}
</script>