<template>
    <div class="row">
        <div class="col-md-12">
            <!--<table class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Opciones</th>
                        <th>Número de<br>contrato</th>
                        <th>Número de<br>orden de pago</th>
                        <th v-if="false">Devolución</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in dataArray" :key="idx" style="text-align: end;">
                        <td>{{idx+1}}</td>
                        <td>
                            <b-dropdown text="Opciones">
                                <b-dropdown-item v-if="item.estado=='tramite'||item.estado=='devuelto'" :to="{name:'tesoreriaPagosCreate',params:{contratatos_pagos_firma_gerencia_id:item.id}}"><i class="fas fa-pen-square"></i> Generar cancelacion de orden de pago</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                            </b-dropdown>
                        </td>
                        <td>{{item.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.tbl_contratos.numero}}</td>
                        <td>{{item.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</td>
                        <td v-if="false">
                            <devoluciones v-on:recargar="loadData" :button="false" :id="item.id" :tipo_to="7" :tipo_from="8" v-if="item.estado=='tramite'||item.estado=='devuelto'" />
                        </td>
                        <td>
                            <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                            <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                            <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                        </td>
                    </tr>
                </tbody>
            </table> -->
            <p>
                <b-col lg="6">
                    <b-row>
                    <b-col lg="6">
                        <b-form-input placeholder="Buscar" v-model="filter">
                        </b-form-input>
                    </b-col>
                    </b-row>
                </b-col>
            </p>
            <b-table
                show-empty
				responsive
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(id)="row">
                    <b-dropdown text="Opciones">
                        <b-dropdown-item v-if="row.item.estado=='tramite'||row.item.estado=='devuelto'" :to="{name:'tesoreriaPagosCreate',params:{contratatos_pagos_firma_gerencia_id:row.item.id}}"><i class="fas fa-pen-square"></i> Generar cancelacion de orden de pago</b-dropdown-item>
                        <b-dropdown-item><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                        <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                    </b-dropdown>
                </template>
                <template #cell(numero_contrato)="row">
                    {{row.item.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.tbl_contratos.numero}}
                </template>
                <template #cell(numero_orden_pago)="row">
                    {{row.item.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}
                </template>
                <template #cell(nro_registro_contable)="row">
                    {{row.item.numero_registro_contable}}
                </template>
                <template #cell(estado)="row">
                    <label class="badge badge-success" v-if="row.item.estado=='aprobado'">{{row.item.estado}}</label>
                    <label class="badge badge-warning" v-if="row.item.estado=='tramite'">{{row.item.estado}}</label>
                    <label class="badge badge-danger" v-if="row.item.estado=='devuelto'">{{row.item.estado}}</label>
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>
        </div>
    </div>
</template>

<script>
import devoluciones from '../functions/devoluciones'; 
export default {
    components: {
        devoluciones,
    },
    data()
    {
        return {
            dataArray:[],
            totalRows: 0,
            currentPage: 1,
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "numero_contrato", label: "Nro de contrato", sortable: true },
                { key: "numero_orden_pago", label: "Nro de orden de pago", sortable: true },
                { key: "estado", label: "Estado", sortable: true },
			]
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base +'/firmagerencia/status/all';
            axios
            .get(url)
            .then((response)=>{
                me.dataArray=response.data.data;
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
    
}
</script>