<template>
    <form @submit.prevent="guardar">
        <div class="row">
            
            <div class="col-md-6">        
                <label>Documento</label>
                <input type="text" class="form form-control" @change="searchDocument" name="documento" id="documento" v-model="form.documento" required>
            </div>
            <div class="col-md-6">            
                <label>nombre primero</label>
                <input type="text" class="form form-control" name="nombre_primero" id="nombre_primero" v-model="form.nombre_primero" >
            </div>
            <div class="col-md-6">        
                <label>nombre segundo</label>
                <input type="text" class="form form-control" name="nombre_segundo" id="nombre_segundo" v-model="form.nombre_segundo" required>
            </div>
            <div class="col-md-6">        
                <label>apellido primero</label>
                <input type="text" class="form form-control" name="apellido_primero" id="apellido_primero" v-model="form.apellido_primero" >
            </div>
            <div class="col-md-6">        
                <label>apellido segundo</label>
                <input type="text" class="form form-control" name="apellido_segundo" id="apellido_segundo" v-model="form.apellido_segundo" required>
            </div>
            <div class="col-md-6">        
                <label>Celular</label>
                <input type="text" class="form form-control" name="celular" id="celular" v-model="form.celular" >
            </div>
            <div class="col-md-6">        
                <label>Email</label>
                <input type="text" class="form form-control" name="email" id="email" v-model="form.email" >
            </div>
            <div class="col-md-6">        
                <label>Direccion</label>
                <input type="text" class="form form-control" name="direccion" id="direccion" v-model="form.direccion" >
            </div>
            <div class="col-md-6">        
                <label>Fecha de remision</label>
                <input type="text" class="form form-control" name="fecha_remision" id="fecha_remision" v-model="form.fecha_remision" autocomplete="off">
            </div>            
            <div class="col-md-12">        
                <br>
                <button class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
            </div>

        </div>
    </form>
</template>

<script>
export default {
    data()
    {
        return {
            form:{
                nombre_primero:'',
                nombre_segundo:'',
                apellido_primero:'',
                apellido_segundo:'',
                documento:'',
                celular:'',
                email:'',
                direccion:'',
                fecha_remision:'',
                id_menor_cuantia:'',
                tipo_contrato:''
            },
            base:''
        }
    },
    methods:{
        guardar()
        {
            if($('form').valid())
            {
                let me = this;
                let url= base +'/oferente'
                axios
                .post(url,me.form)
                .then(function(response){
                    me.$swal('Oferente registrado');
                    me.$router.push({name:'contratosTipos',params:{name:me.form.tipo_contrato}});
                })
                .catch(function(response){
                    me.$swal('Este oferente ya ha sido registrado a este contrato');
                })
            }   
        },
        searchDocument()
        {
            let me = this;
            let url = base + '/oferente/documento'
            axios
            .post(url,{documento:me.form.documento})
            .then(function(response){
                if(response.data.data!==null)
                {
                    me.form.nombre_primero   = response.data.data.nombre_primero;
                    me.form.nombre_segundo   = response.data.data.nombre_segundo;
                    me.form.apellido_primero = response.data.data.apellido_primero;
                    me.form.apellido_segundo = response.data.data.apellido_segundo;
                    me.form.documento        = response.data.data.documento;
                    me.form.celular          = response.data.data.celular;
                    me.form.email            = response.data.data.email;
                    me.form.direccion        = response.data.data.direccion;
                }
            })
            .catch(function(response){

            })
        }
    },
    mounted() {
        let me = this;
        $('form').validate();
        if(me.$route.params.tipo_contrato!='menorcuantia' && me.$route.params.tipo_contrato!='convocatoriapublica')
        {
            me.$router.push({name:'error404'});
        }
        me.form.tipo_contrato=me.$route.params.tipo_contrato;
        me.form.id_menor_cuantia=me.$route.params.id
        $('#fecha_remision').datepicker({
            onSelect: function(dateText, inst)
            {
                me.form.fecha_remision = $(this).val();
            }
        });

    },
}
</script>