<template>
    <div>
        <contratodata v-if="contrato!=''" :id_contrato="contrato.contrato_id"></contratodata>
        <form @submit.prevent="save">
                
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header"><h4>Orden de pago</h4></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="fecha_egreso">Fecha de ingreso</label>
                                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                                </div>
                                <div class="col-md-3">
                                    <label for="fecha_egreso">Fecha de egreso</label>
                                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_egreso" :required="true"></vuejs-datepicker>
                                </div>
                                <div class="col-md-3">
                                    <label for="valor">No orden pago</label>
                                    <input type="text" class="form form-control" id="valor" name="valor" v-model="form.numero_orden_pago" required/>
                                </div>
                                <div class="col-md-3">
                                    <label for="valor">Valor</label>
                                    <input type="text" class="form form-control" id="valor" name="valor" v-model="form.valor" required/>
                                </div>
                                <div class="col-md-6">
                                    <label for="valor_contrato">Valor del contrato</label>
                                    <input type="text" class="form form-control" id="valor_contrato" name="valor_contrato" v-model="form.valor_contrato" required readonly style="background-color: #FFF;"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="valor_ejecutado">Valor ejecutado</label>
                                    <input type="text" class="form form-control" id="valor_ejecutado" name="valor_ejecutado" v-model="form.valor_ejecutado" required/>
                                </div>
                                <div class="col-md-4">
                                    <label for="valor_pagado">Valor pagado</label>
                                    <div class="input-group">
                                        <input type="text" class="form form-control" id="valor_pagado" name="valor_pagado" v-model="form.valor_pagado" :required="form.fecha_egreso!=''"/>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"  v-b-modal="'my-modal'">
                                                <i class="fas fa-money-check-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <b-modal id="my-modal">
                                        <div class="container-fluid">
                                            <div class="col-md-12" v-for="(item,idx) in form.impuestosArray" :key="idx">
                                                <label>
                                                    <input type="checkbox" v-model="item.select" @change="calcular">
                                                    {{item.nombre}} ({{item.valor}})
                                                </label>
                                            </div>
                                        </div>
                                    </b-modal>
                                </div>
                                <div class="col-md-4">
                                    <label for="saldo_contrato">Saldo del contrato</label>
                                    <input type="text" class="form form-control" id="saldo_contrato" name="saldo_contrato" v-model="form.saldo_contrato" required/>
                                </div>
                                <div class="col-md-4">
                                    <label for="porcentaje">Porcentaje</label>
                                    <input type="text" class="form form-control" id="porcentaje" name="porcentaje" v-model="form.porcentaje" required/>
                                </div>
                                <div class="col-md-12">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea class="form form-control" id="observaciones" name="observaciones" rows="5" v-model="form.observaciones"  :required="form.fecha_egreso!=''"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <br>
                                    <button class="btn btn-success" :disabled="disabled">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Pagos</div>
                        <div class="card-body">
                            <table border="1" class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Ingreso</th>
                                    <th>No Orden</th>
                                    <th>Valor</th>
                                </tr>
                                <tr v-for="(item,idx) in arrayPagos" :key="idx">
                                    <td>{{idx+1}}</td>
                                    <td>{{item.fecha_ingreso|dateFormat}}</td>
                                    <td>{{item.numero_orden_pago}}</td>
                                    <td>${{item.valor|formatCurrency}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import fn from './../functions/currency'
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    filters: {
        formatCurrency: function (value) {
            if (value=='') {return ''}
            else{
                return fn.formatCurrency(value)
            }
        },
        dateFormat:function(value)
        {
            return value.split(' ')[0];
        }
    },
    data()
    {
        return {
            disabled:false,
            es:es,
            contrato:'',
            arrayPagos:[],
            form:{
                id:'',
                impuestosArray:[],
                revisiones_tramites_id:'',
                numero_orden_pago:'',
                valor:'',
                valor_contrato:'',
                valor_ejecutado:'',
                valor_pagado:'',
                saldo_contrato:'',
                porcentaje:'',
                observaciones:'',
                fecha_egreso:'',
                fecha_ingreso:'',
            }
        }
    },
    watch:{
        'form.impuestosArray':function(value)
        {
            
        },
        'form.valor':function(value)
        {
            let me = this;
            me.form.valor_ejecutado = fn.deleteFormatCurrency(me.form.valor_ejecutado);
            me.form.saldo_contrato  = fn.deleteFormatCurrency(me.form.saldo_contrato);
            me.form.valor_contrato  = fn.deleteFormatCurrency(me.form.valor_contrato);
            me.form.porcentaje      = fn.deleteFormatCurrency(me.form.porcentaje);
            value                   = fn.deleteFormatCurrency( (''+value+'').trim()==''?0:value);
            if(me.form.id=='')
            {
                me.form.valor_ejecutado = value + me.contrato.ejecutado;
            }
            else{
                console.log({por1:me.form.porcentaje})
                me.form.valor_ejecutado = value + me.contrato.ejecutado-me.contrato.tramite_actual.valor;
            }
            me.form.saldo_contrato  = me.form.valor_contrato - me.form.valor_ejecutado;
            me.form.porcentaje      = parseFloat(me.form.valor_ejecutado)*100/parseFloat(me.form.valor_contrato);
            me.form.valor_ejecutado = fn.formatCurrency(me.form.valor_ejecutado);    
            me.form.saldo_contrato  = fn.formatCurrency(me.form.saldo_contrato);    
            me.form.valor_contrato  = fn.formatCurrency(me.form.valor_contrato);
            me.form.porcentaje      = fn.formatCurrency(me.form.porcentaje);
            me.form.valor           = fn.formatCurrency(value);
            me.calcular();
        },
        'form.valor_pagado':function(value)
        {
            this.form.valor_pagado = fn.formatCurrency(value);
        }
        
    },
    methods:{
        verPagos(){
            let url = base+'/ordenes-de-pago/realizados/'+this.form.revisiones_tramites_id
            axios
            .get(url)
            .then(response=>{
                this.arrayPagos=response.data.data;
            })
        },
        calcular()
        {
            let me = this;
            let valor = fn.deleteFormatCurrency(me.form.valor);
            let impuestos = 0;
            me.form.impuestosArray.forEach(value=>
            {
                if(value.select)
                {
                    impuestos=impuestos+value.valor;
                }
            });
            impuestos = 100-impuestos;
            valor = valor*(impuestos/100);
            me.form.valor_pagado = fn.formatCurrency(valor);
        },
        save()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/ordenes-de-pago';
                axios
                .post(url,me.form)
                .then((response)=>{                
                    me.$swal('Se ha guardado el pago con éxito');
                    me.$router.push({name:'ordenesPagoindex'});
                })
                .catch((response)=>{
                    me.disabled=false;
                    me.$swal('Error al guardar',response.response.data.data,'error');
                })
            }
        },
        loadImpuestos()
        {
            let me = this;
            let url = base+'/impuestos';
            axios
            .get(url)
            .then((response)=>{

                let temp = response.data.data;
                temp.forEach(value=>{
                me.form.impuestosArray.push({
                    select : false,
                    nombre : value.nombre,
                    valor  : value.valor

                })
                });
            })

        },
        loadDataContrato()
        {
            let me = this;
            let url = base+'/ordenes-de-pago/'+me.form.revisiones_tramites_id;
            axios
            .get(url)
            .then((response)=>{
                me.contrato                = response.data.data;
                me.form.numero_orden_pago  = me.contrato.numero_sugerido;
                me.form.valor_ejecutado    = parseFloat(me.contrato.ejecutado);
                me.form.valor_contrato     = me.contrato.tbl_contratos.valor_contrato
                me.form.saldo_contrato     = parseFloat(me.form.valor_contrato) - parseFloat(me.form.valor_ejecutado);
                me.form.porcentaje         = parseFloat(me.form.valor_ejecutado)*100/parseFloat(me.form.valor_contrato);
                   
                me.form.valor_contrato     = fn.formatCurrency(me.form.valor_contrato);
                me.form.valor_ejecutado    = fn.formatCurrency(me.form.valor_ejecutado);
                me.form.saldo_contrato     = fn.formatCurrency(me.form.saldo_contrato);
                me.form.porcentaje         = fn.formatCurrency(me.form.porcentaje);
                if(me.contrato.tramite_actual != null)
                {
                    me.form.id                = me.contrato.tramite_actual.id;  
                    me.form.numero_orden_pago = me.contrato.tramite_actual.numero_orden_pago;
                    me.form.valor             = me.contrato.tramite_actual.valor;
                    me.form.valor_contrato    = me.contrato.tramite_actual.valor_contrato;
                    me.form.valor_ejecutado   = me.contrato.tramite_actual.valor_ejecutado;
                    me.form.valor_pagado      = me.contrato.tramite_actual.valor_pagado;
                    me.form.saldo_contrato    = me.contrato.tramite_actual.saldo_contrato;
                    me.form.porcentaje        = me.contrato.tramite_actual.porcentaje;
                    me.form.observaciones     = me.contrato.tramite_actual.observaciones;
                    me.form.fecha_egreso      = me.contrato.tramite_actual.fecha_egreso;
                    me.form.fecha_ingreso     = me.contrato.tramite_actual.fecha_ingreso;

                }
            })
            .catch((response)=>{
                console.clear();
                console.warn(response);
                me.$router.push({name:'ordenesPagoindex'});
            })
        }
    },
    mounted()
    {
        this.form.revisiones_tramites_id=this.$route.params.id_revisiones_tramites
        this.loadDataContrato();
        this.loadImpuestos();
        this.verPagos();
        $('form').validate();
    }
}
</script>

<style>

</style>