<template>
    <div class="row">
        <div class="col-md-4">
            <label for="contrato_numero">Numero de contrato</label>
            <div class="input-group mb-3">
                <input class="form form-control" type="text" v-model="contrato_numero">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
            </div>
            <router-link v-if="false" class="btn btn-success" :to="{name:'ordenesPagoCreate'}"> Nuevo</router-link>
            <br>
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" border="1">
                <thead>
                <tr>
                    <th>#</th>
                    <th v-if="permisos.orden_pago_create || permisos.orden_pago_update || permisos.orden_pago_delete">Opciones</th>
                    <th>Fecha de suscripcion<br>del acta de inicio</th>
                    <th>Numero de contrato</th>
                    <template  v-if="false"> <th v-if="permisos.orden_pago_create">Devoluciones</th></template>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody  style="text-align: end;">
                    <template v-for="(item1,id) in dataArray">
                        <template v-for="(item,idx) in item1">
                            <tr v-if="idx==0">
                                <td colspan="1">
                                    <button v-if=" buttons[id]" @click="show(id)" class="btn btn-success">+</button>
                                    <button v-if="!buttons[id]" @click="show(id)" class="btn btn-warning">-</button>
                                </td>
                                <td colspan="1">{{item1.length}} registros</td>
                                <td colspan="4" style="text-align: left;">Contrato número {{id}}</td>
                            </tr>
                            <tr v-if="buttons[id]">  
                                <td>{{idx+1}}</td>
                                <td v-if="permisos.orden_pago_create || permisos.orden_pago_update || permisos.orden_pago_delete">
                                    <b-dropdown text="Opciones">
                                        <b-dropdown-item v-if="(item.estado=='tramite'||item.estado=='devuelto') && permisos.orden_pago_create" :to="{name:'ordenesPagoCreate', params:{id_revisiones_tramites:item.id}}"><i class="fas fa-check-circle"></i> Elaboracion de orden de pago</b-dropdown-item>
                                        <b-dropdown-item v-if="permisos.orden_pago_update && false"><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                                        <b-dropdown-item v-if="permisos.orden_pago_delete && false"><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                                    </b-dropdown>
                                </td>
                                <td>{{item.fecha_presentacion}}</td>
                                <td>{{item.tbl_contratos.numero}}</td>
                                <template v-if="false">
                                <td v-if="permisos.orden_pago_create">
                                    <devoluciones v-on:recargar="loadData" :button="false" :id="item.id" :tipo_from="3" :tipo_to="9"  v-if="item.estado=='tramite'||item.estado=='devuelto'" />
                                </td></template>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <!--<b-table
                show-empty
				responsive
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template v-for="(item,idx) in row">
                    <template #cell(id)="row">
                        <tr v-if="idx==0" :key="idx">
                            <td colspan="1">
                                <button v-if=" buttons[index]" @click="show(index)" class="btn btn-success">+</button>
                                <button v-if="!buttons[index]" @click="show(index)" class="btn btn-warning">-</button>
                            </td>
                            <td colspan="1">{{item1.length}} registros</td>
                            <td colspan="4" style="text-align: left;">Contrato número {{index}}</td>
                        </tr>
                    </template>
                    <template #cell(fecha_suscripcion_acta_inicio)="row">
                        {{row.length}} registros
                    </template>
                    <template #cell(numero_contrato)="row">
                        Contrato número {{index}}
                    </template>
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination> -->
        </div>
    </div>
</template>

<script>
import devoluciones from '../functions/devoluciones'; 
export default {
    components: {
        devoluciones,
    },
    data()
    {
        return {
            buttons:[],
            contrato_numero:'',
            dataArray:[],
            /*totalRows: 0,
            currentPage: 1,
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "fecha_suscripcion_acta_inicio", label: "Fecha de suscripción del acta de inicio", sortable: true },
                { key: "numero_contrato", label: "Numero de contrato", sortable: true },
                { key: "estado", label: "Estado", sortable: true },
			]*/
        }
    },
    methods:{
        show(id)
        {
            this.buttons[id]=!(this.buttons[id]);
            this.$forceUpdate();
        },
        loadData()
        {
            let me = this;
            let url=base+"/revisiones/aprobada"
            axios
            .get(url)
            .then((response)=>{
                me.dataArray=response.data.data;
                $.each(me.dataArray,(index,value)=>{
                    me.buttons[index]=false;
                })
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
    
}
</script>