<template>
    <div class="row">
        <contratodata v-if="contrato_id!=''" :id_contrato="contrato_id"></contratodata>
        <div class="col-md-12">
            <h4>Ordenes de pago aprobadas por tesorería</h4>
        </div>
        <div class="col-md-6">
            <div class="card" v-for="(data,idx) in dataArray" :key="idx">
                <div class="card-header"><h4>Número de orden de pago ({{data.numero_orden_pago}})</h4></div>
                <div class="card-body">       
                    <div class="col-md-12">
                        <label for="">VALOR EJECUTADO:</label>
                        $ {{data.valor_ejecutado|formatCurrencyPipe}}
                    </div>  
                    
                    <div class="col-md-12">
                        <label for="">VALOR PAGADO:</label>
                        ${{data.valor_pagado|formatCurrencyPipe}}
                    
                    </div>  
                    
                    <div class="col-md-12">
                        <label for="">SALDO DEL CONTRATO:</label>
                        ${{data.saldo_contrato|formatCurrencyPipe}}
                    </div>  
                            
                    <div class="col-md-12">
                        <label for="">EJECUCION/VALOR TOTAL:</label>
                        {{data.porcentaje}}%
                    </div>  
                    
                    <div class="col-md-12">
                        <label for="">OBSERVACIONES:</label>
                        <p>{{data.observaciones}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import fn from './../functions/currency'
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata,
    },
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        }
    },
    data()
    {
        return {
            contrato_id:'',
            dataArray:[],
            id_tesoreria:''
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base+'/tesoreria/'+me.contrato_id
            axios
            .get(url)
            .then((response)=>
            {
                me.dataArray = response.data.data;
            })
            .catch((response)=>{
                console.clear();
                console.warn(response)
            })
        }
    },
    mounted()
    {
        this.contrato_id=this.$route.params.id_contrato
        this.loadData();
    }
}
</script>

<style>

</style>