<template>
    <div>
        <div class="row">
            <div class="col-md-4">
                <label for="codigo">Número de contrato</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" v-model="codigo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" ><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <template v-for="(item,index) in dataArray" >
            <div class="col-md-4" :key="index">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Número de contrato {{item.tbl_contratatos_pagos_firma_gerencia.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.tbl_contratos.numero}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Orden de pago: {{item.tbl_contratatos_pagos_firma_gerencia.tbl_contratatos_pagos_firma_administracion.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</h6>
                        <router-link :to="{name:'pagosejecutadosDetail',params:{id_contrato:item.id}}">Ver pagos</router-link>
                    </div>
                </div>
                <br>
            </div>
            </template>
        </div>
    </div>
</template>

<script>
export default {

    data()
    {
        return {
            base:'',
            dataArray:[],
            codigo:'0'
        }
    },
    filters:{
    },
    methods:{
        loadData()
        {
            let me  = this;
            let url = base+'/tesoreria/status/aprobado';
            axios
            .get(url)
            .then((response)=>
            {
                me.dataArray=response.data.data;
            })
            .catch((response)=>{

            })
        }
    },
    mounted(){
        this.base=base;
        this.loadData()
    }
}
</script>
