<template>
    <div class="row">
        <contratodata v-if="contrato_id!=''" :id_contrato="contrato_id"></contratodata>
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" v-if="data.actaInicio!=null">
                    <div class="card">
                        <div class="card-header">Acta de inicio</div>
                        <div class="card-body">
                            <label for="">Fecha de suscripción</label>
                            <br>{{data.actaInicio.fecha_suscripcion}}
                        </div>
                    </div>
            </div>
            <div :class="(data.actaInicio==null)?'col-md-6':'col-md-8'" v-if="data.ActaSuspecion.length>0">
                    <div class="card">
                        <div class="card-header">Acta de suspensión</div>
                        <div class="card-body">
                            <table border="1" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Tiempo</th>
                                        <th>Motivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,idx) in data.ActaSuspecion" :key="idx">
                                        <td>{{idx+1}}</td>
                                        <td>{{item.fecha}}</td>
                                        <td>{{item.tiempo}} {{item.tipo_tiempo}}</td>
                                        <td>{{item.motivo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            <div :class="(data.actaInicio==null)?'col-md-6':'col-md-12'" v-if="data.ActaReinicio.length>0">
                    <div class="card">
                        <div class="card-header">Acta de reinicio</div>
                        <div class="card-body">
                            <table border="1" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fecha</th>
                                        <th>Fecha de registro<br> al sistema</th>
                                        <th>Motivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,idx) in data.ActaReinicio" :key="idx">
                                        <td>{{idx+1}}</td>
                                        <td>{{item.fecha}}</td>
                                        <td>{{item.created_at|formatDateHour}}</td>
                                        <td>{{item.motivo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="5">Presentacion de las cuentas y demas soportes - Revisión y Tramite</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de presentacion</th>
                                <th>Fecha de egreso</th>
                                <th>Fecha de registro al sistema</th>
                                <th>Estado actual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.tramites" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_presentacion}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="7">Elaboración de orden de pago y trámite de cancelación</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Número de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.ordenPago" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="8">Registro contable</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Número de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Numero de<br>registro contable</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.registroContable" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.numero_registro_contable}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="10">Registro presupuestal</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Número de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Numero de<br>registro contable</th>
                                <th>Codigo<br>presupuestal</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.registroPresupuestal" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.numero_registro_contable}}</td>
                                <td>{{item.codigo_presupuestal}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="9">Firma de profesional universitario de administracion</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Numero de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Numero de<br>registro contable</th>
                                <th>Codigo<br>presupuestal</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.firmaAdministracion" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.numero_registro_contable}}</td>
                                <td>{{item.codigo_presupuestal}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="9">Firma de Gerencia</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Numero de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Numero de<br>registro contable</th>
                                <th>Codigo<br>presupuestal</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.firmaGerencia" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.numero_registro_contable}}</td>
                                <td>{{item.codigo_presupuestal}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <table class="table table-hover" width="100%" border="1">
                        <thead>
                            <tr>
                                <th colspan="9">Tesorería</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Fecha de<br>ingreso</th>
                                <th>Numero de<br>orden de pago</th>
                                <th>Valor del pago</th>
                                <th>Numero de<br>registro contable</th>
                                <th>Codigo<br>presupuestal</th>
                                <th>Fecha de<br>egreso</th>
                                <th>Fecha de registro<br>al sistema</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item,idx) in data.tesoreria" :key="idx" style="text-align: end;">
                                <td>{{idx+1}}</td>
                                <td>{{item.fecha_ingreso}}</td>
                                <td>{{item.numero_orden_pago}}</td>
                                <td>$ {{item.valor|formatCurrencyPipe}}</td>
                                <td>{{item.numero_registro_contable}}</td>
                                <td>{{item.codigo_presupuestal}}</td>
                                <td>{{item.fecha_egreso}}</td>
                                <td>{{item.created_at|formatDateHour}}</td>
                                <td>
                                    <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                                    <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                                    <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                                    <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" v-if="
            !(data.liquidaciones.liquidacion==null&&
            data.liquidaciones.revision_inicial==null&&
            data.liquidaciones.firma_gerencia==null&&
            data.liquidaciones.observaciones_post_contracuales==null)
            ">
                <div class="card-header"><h4>Etapa de liquidación</h4></div>
                <div class="card-body">
                    <div>
                        <h4>Liquidación</h4>
                        <div v-if="data.liquidaciones.liquidacion.procede_liquidacion!=null">
                            <label for="">Procede liquidación:</label>
                            {{data.liquidaciones.liquidacion.procede_liquidacion==1?'Si':'No'}}
                        </div>
                        <div>
                            <label for="">Tipo de liquidacion:</label>
                            {{data.liquidaciones.liquidacion.tipo_liquidacion}}
                        </div>
                        <div>
                            <label for="">Fecha de registro al sistema:</label>
                            {{data.liquidaciones.liquidacion.created_at|formatDateHour}}
                        </div>
                        <div>
                            <label for="">Observaciones</label><br>
                            <p>{{data.liquidaciones.liquidacion.observacion}}</p>
                        </div>
                    </div>
                    <div v-if="data.liquidaciones.revision_inicial!=null">
                    <hr>
                        <h4>Revisión inicial</h4>
                        <div>
                            <label>Fecha de ingreso:</label>
                            {{data.liquidaciones.revision_inicial.fecha_ingreso}}
                        </div>
                        <div>
                            <label>Fecha de egreso:</label>
                            {{data.liquidaciones.revision_inicial.fecha_egreso}}
                        </div>
                        <div>
                            <label>Numero de radicado:</label>
                            {{data.liquidaciones.revision_inicial.radicado}}
                        </div>
                        <div>
                            <label>Estado:</label>
                            {{data.liquidaciones.revision_inicial.estado}}
                        </div>
                        <div>
                            <label>Fecha de ingreso al sistema:</label>
                            {{data.liquidaciones.revision_inicial.created_at|formatDateHour}}
                        </div>
                    </div>
                    <div v-if="data.liquidaciones.firma_gerencia!=null">
                        <hr>
                        <h4>Firma de gerencia</h4>
                        <div>
                            <label>Fecha de ingreso:</label>
                            {{data.liquidaciones.firma_gerencia.fecha_ingreso}}
                        </div>
                        <div>
                            <label>Fecha de egreso:</label>
                            {{data.liquidaciones.firma_gerencia.fecha_egreso}}
                        </div>
                        <div>
                            <label>Fecha de firma:</label>
                            {{data.liquidaciones.firma_gerencia.fecha_firma}}
                        </div>
                        <div>
                            <label>Número de radicado:</label>
                            {{data.liquidaciones.firma_gerencia.radicado}}
                        </div>
                        <div>
                            <label>Estado:</label>
                            {{data.liquidaciones.firma_gerencia.estado}}
                        </div>
                        <div>
                            <label>Fecha de registro al sistema:</label>
                            {{data.liquidaciones.firma_gerencia.created_at|formatDateHour}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" v-if="data.liquidaciones.observaciones_post_contracuales!=null">
                <div class="card-header"><h4>Observaciones post-contractuales</h4></div>
                <div class="card-body">
                    <div>
                        <label>Saldo a liberar:</label>
                        ${{data.liquidaciones.observaciones_post_contracuales.saldoliberar|formatCurrencyPipe}}
                    </div>
                    <div>
                        <label>Observaciones</label><br>
                        <p>{{data.liquidaciones.observaciones_post_contracuales.observaciones}}</p>
                    </div>
                    <div>
                        <label>Concepto de cumplimiento</label><br>
                        <p>{{data.liquidaciones.observaciones_post_contracuales.conceptocumplimiento}}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</template>

<script>
import fn from './../functions/currency'
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata
    },
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        },
        formatDateHour(value)
        {
            let f = new Date(value)
            return f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0':'')+(f.getMonth() +1) + "-" +(f.getDate()<10?'0':'')+f.getDate() 
            +' '+((f.getHours()>12?(f.getHours()-12):f.getHours())<10?'0':'')+(f.getHours()>12?(f.getHours()-12):f.getHours())+':'+(f.getMinutes()<10?'0':'')+f.getMinutes()+' '
            + ((f.getHours()>12)?'A.M':'P.M.')
        }
    },
    data()
    {
        return {
            contrato_id:'',
            data:{
                actaInicio:[],
                ActaSuspecion:[],
                ActaReinicio:[],
                tramites:[],
                ordenPago:[],
                registroContable:[],
                firmaAdministracion:[],
                firmaGerencia:[],
                tesoreria:[],
                liquidaciones:[]
            }

        }
    },
    methods:{
        loadData()
        {
            let me  = this;
            let url = base +'/contratos/detalle/'+me.contrato_id
            axios
            .get(url)
            .then((response)=>{
                let temp = response.data.data;
                me.data.actaInicio              = temp.actaInicio;
                me.data.ActaSuspecion           = temp.ActaSuspecion;
                me.data.ActaReinicio            = temp.ActaReinicio;
                me.data.tramites                = temp.tramites;
                me.data.ordenPago               = temp.ordenPago;
                me.data.registroContable        = temp.registroContable;
                me.data.registroPresupuestal    = temp.registroPresupuestal;
                me.data.firmaAdministracion     = temp.firmaAdministracion;
                me.data.firmaGerencia           = temp.firmaGerencia;
                me.data.tesoreria               = temp.tesoreria;
                me.data.liquidaciones           = temp.liquidaciones;
            })
            .catch((response)=>{

            })
        }
    },
    mounted()
    {
        this.contrato_id=this.$route.params.contrato_id
        this.loadData();
    }
}
</script>

<style>

</style>