<template>
	<div>
		<router-link class="btn btn-success" :to="{ name: 'estudiosprevioCreate'}"><i class="far fa-edit"></i> Nuevo</router-link>
		<select class="" name="" id="" @change="verContrato" v-model="option">
            <option value="">Todos</option>
            <option value="directa">Contratacion directa</option>
            <option value="menorcuantia">Menor Cuantia</option>
            <option value="convocatoriapublica">Convocatoria pública</option>
        </select>
		<br>
		<br>
		<div id="scroll_bar">
			<template v-if="$route.params.name=='directa'">
				<h3>Contratacion Directa</h3>
				<table border="1" class="table table-striped">
					<thead>
						<tr>
							<th>No</th>
							<th>Opciones</th>
							<th>Codigo</th>
							<th>Municipio</th>
							<th>Vigencia</th>
							<th>Fecha</th>
							<th>Objeto</th>
							<th>Quien suscribe</th>
							<th>Apoyo técnico</th>
							<th>Apoyo jurídico</th>
							<th>Valor</th>
							<th>Causal</th>
							<th>Observacion</th>
						</tr>
					</thead>
					<tr v-for="(data,index) in dataArray" :key="index">
						
						<td>{{index+1}}</td>
						<td>
							<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
								<b-dropdown-item :to="{name:'estudiosprevioUpdate',params:{id:data.id}}"><i class="far fa-edit"></i> Editar</b-dropdown-item>
								<b-dropdown-item :to="{name:'contratacionDirectaIndex',params:{id:data.id}}" 			 v-if="false/*data.estudios_previos_tipo_id==1*/"> <i class="fas fa-scroll"></i> Contratacion directa</b-dropdown-item>
								<b-dropdown-item :to="{name:'contratacionMenorCuantiaIndex',params:{id:data.id}}" 		 v-if="false/*data.estudios_previos_tipo_id==2*/"> Menor cuantia</b-dropdown-item>
								<b-dropdown-item :to="{name:'contratacionConvocatoriaPublicaIndex',params:{id:data.id}}" v-if="false/*data.estudios_previos_tipo_id==3*/"> Convocatoria pública</b-dropdown-item>
								<b-dropdown-divider></b-dropdown-divider>
								<b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
							</b-dropdown>
						</td>
						<td>{{data.codigo}}</td>
						<td>
							<template v-for="(item,index) in data.tbl_estudios_previos_municipios">
								{{item.tbl_municipios.nombre}}<br :key="index">
							</template>
						</td>
						<td>{{data.vigencia}}</td>
						<td>{{data.fecha_estudios_previos}}</td>
						<td>{{data.objeto}}</td>
						<td style="min-width:300px">
							<template v-for="(item,idx) in data.tbl_estdios_previos_quien_suscribe">
								{{item.tbl_recursos_humano.nombre_primero}}
								{{item.tbl_recursos_humano.nombre_segundo}}
								{{item.tbl_recursos_humano.apellido_primero}}
								{{item.tbl_recursos_humano.apellido_segundo}}<span :key="idx" v-if="idx<(data.tbl_estdios_previos_quien_suscribe.length-1)">,<br></span><span v-else>.</span>
							</template>
						</td>
						<td style="min-width:300px">
							<template v-for="(item,idx) in data.tbl_estdios_previos_apoyos_tecnicos">
								{{item.tbl_recursos_humano.nombre_primero}}
								{{item.tbl_recursos_humano.nombre_segundo}}
								{{item.tbl_recursos_humano.apellido_primero}}
								{{item.tbl_recursos_humano.apellido_segundo}}<span :key="idx" v-if="idx<(data.tbl_estdios_previos_apoyos_tecnicos.length-1)">,<br></span><span v-else>.</span>
							</template>
						</td>
						<td style="min-width:300px">
							<template v-for="(item,idx) in data.tbl_estdios_previos_apoyo_juridico">
								{{item.tbl_recursos_humano.nombre_primero}}
								{{item.tbl_recursos_humano.nombre_segundo}}
								{{item.tbl_recursos_humano.apellido_primero}}
								{{item.tbl_recursos_humano.apellido_segundo}}<span :key="idx" v-if="idx<(data.tbl_estdios_previos_apoyo_juridico.length-1)">,<br></span><span v-else>.</span>
							</template>
						</td>
						<td style="white-space: initial;min-width: 200px;text-align: end;">$ {{data.valor_numero|formaNumeric}}<br>{{data.valor_letras}}</td>
						<td>
							<span v-if="data.causales==null">N/A</span>
							<span v-else>{{data.causales.causal}}</span>
						</td>
						<td>
							<span v-if="data.causales==null">N/A</span>
							<span v-else>{{data.causales.observacion}}</span>
						</td>
					</tr>
				</table>
			</template>
			<template v-if="$route.params.name=='menorcuantia'">
				<h3>Contratacion de menor cuantia</h3>
				<table border="1" class="table-striped">
					<thead>
						<tr>
							<th>No</th>
							<th>Opciones</th>
							<th>Codigo de<br>estudio previo</th>
							<th>Oferentes</th>
							<th>Proponentes</th>
							<th>Comite evaluador</th>
							<th>Municipio</th>
							<th>Vigencia</th>
							<th>Codigo</th>
							<th>Quien suscribe</th>
							<th>Apoyo técnico</th>
							<th>Apoyo jurídico</th>
							<th>Fecha</th>
							<th>Objeto</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tr v-for="(data,index) in dataArray" :key="index">

						<td>{{index+1}}</td>
						<td>
							<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
								<b-dropdown-item :to="{name:'estudiosprevioUpdate',			params:{id:data.id,tipo_contrato:'menorcuantia'}}"><i class="far fa-edit"></i> Editar</b-dropdown-item>
								<b-dropdown-item :to="{name:'oferenteCreate',				params:{id:data.id,tipo_contrato:'menorcuantia'}}" ><i class="fas fa-chalkboard-teacher"></i> Agregar oferente</b-dropdown-item>
								<b-dropdown-item :to="{name:'proponenteCreate',				params:{id:data.id,tipo_contrato:'menorcuantia'}}" ><i class="fas fa-user-shield"></i> Agregar proponente</b-dropdown-item>
								<b-dropdown-item :to="{name:'ComiteEvaluadorCreate',		params:{id:data.id,tipo_contrato:'menorcuantia'}}" ><i class="fas fa-user-shield"></i> Agregar miembro de comite evaluador</b-dropdown-item>
								<b-dropdown-divider></b-dropdown-divider>
								<b-dropdown-item :to="{name:'folder',						params:{id:data.id}}" ><i class="far fa-folder-open"></i>Agregar archivos</b-dropdown-item>
								<b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
							</b-dropdown>
						</td>
						<td style="text-align: center;">{{data.codigo}}</td>
						<td style="vertical-align: top !important;">
							<span  v-if="data.tbl_oferentes.length==0">N/A</span>
							<table v-if="data.tbl_oferentes.length>0" border="1" class="table_into">
								<tr>
									<th>Nombres</th>
									<th>Documento</th>
									<th>Direccion</th>
									<th>Correo</th>
									<th>Telefono</th>
									<th>Fechas de remisión</th>
								</tr>
								<tr v-for="(datas, index1) in data.tbl_oferentes" :key="index1">
									<td>
										<button v-if="validarOferente(datas,data.tbl_proponentes)" @click="agregarProponente(datas.tbl_oferentes.id,datas.tbl_oferentes,data.id)" class="btn btn-success">
											<i class="fas fa-user-check"></i>
										</button>
										<button v-else class="btn btn-dark" style="cursor: not-allowed;">
											<i class="fas fa-user-check"></i>
										</button>
										
										{{datas.tbl_oferentes.nombre_primero}}
										{{datas.tbl_oferentes.nombre_segundo}}
										{{datas.tbl_oferentes.apellido_primero}}
										{{datas.tbl_oferentes.apellido_segundo}}
									</td>
									<td>{{datas.tbl_oferentes.documento}}</td>
									<td>{{datas.tbl_oferentes.direccion}}</td>
									<td>{{datas.tbl_oferentes.email}}</td>
									<td>{{datas.tbl_oferentes.celular}}</td>
									<td>{{datas.fecha_remision_invitaciones}}</td>
								</tr>
							</table>
						</td>
                        <td style="vertical-align: top !important;">
							<span  v-if="data.tbl_proponentes.length==0">N/A</span>
							<table v-if="data.tbl_proponentes.length>0"  border="1"  class="table_into">

								<tr>
									<th style="min-width: 210px;">Nombres</th>
									<th>Documento</th>
									<th style="min-width: 210px;">Direccion</th>
									<th>Correo</th>
									<th>Telefono</th>
								</tr>
								<tr style="height: 41px;" v-for="(datas, index1) in data.tbl_proponentes" :key="index1">
									<td>
										{{datas.tbl_proponente.nombre_primero}}
										{{datas.tbl_proponente.nombre_segundo}}
										{{datas.tbl_proponente.apellido_primero}}
										{{datas.tbl_proponente.apellido_segundo}}
									</td>
									<td>{{datas.tbl_proponente.documento}}</td>
									<td>{{datas.tbl_proponente.direccion}}</td>
									<td>{{datas.tbl_proponente.email}}</td>
									<td>{{datas.tbl_proponente.celular}}</td>
								</tr>
							</table>
						</td>
                        <td style="vertical-align: top !important;">
							<span  v-if="data.tbl_comite_evaluador.length==0">N/A</span>
							<table v-if="data.tbl_comite_evaluador.length>0" border="1"  class="table_into">
								<tr>
									<th style="min-width: 210px;">Nombres</th>
									<th>Documento</th>
									<th style="min-width: 210px;">Direccion</th>
									<th>Correo</th>
									<th>Telefono</th>
								</tr>
								<tr v-for="(datas, index1) in data.tbl_comite_evaluador" :key="index1">
									<td style="height: 41px !important;">
										{{datas.tbl_comite_evaluador.nombre_primero}}
										{{datas.tbl_comite_evaluador.nombre_segundo}}
										{{datas.tbl_comite_evaluador.apellido_primero}}
										{{datas.tbl_comite_evaluador.apellido_segundo}}
									</td>
									<td>{{datas.tbl_comite_evaluador.documento}}</td>
									<td>{{datas.tbl_comite_evaluador.direccion}}</td>
									<td>{{datas.tbl_comite_evaluador.email}}</td>
									<td>{{datas.tbl_comite_evaluador.celular}}</td>
								</tr>

							</table>
                        </td>
						<td>
							<template v-for="(item,index) in data.tbl_estudios_previos_municipios">
								{{item.tbl_municipios.nombre}}<br :key="index">
							</template>
						</td>
						<td>{{data.vigencia}}</td>
						<td>{{data.codigo}}</td>
						<td>
						<template v-for="(res,idx) in data.tbl_estdios_previos_quien_suscribe">
							<hr v-if="idx>0" :key="idx">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
						</template>
						</td>
						<td>

						<template v-for="(res,idx) in data.tbl_estdios_previos_apoyos_tecnicos">
							<hr v-if="idx>0" :key="idx">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
						</template>
						</td>
						<td>

						<template v-for="(res,idx) in data.tbl_estdios_previos_apoyo_juridico">
							<hr v-if="idx>0" :key="idx">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
						</template>
						</td>
						<td>{{data.fecha_estudios_previos}}</td>
						<td>{{data.objeto}}</td>
						<td style="white-space: initial;min-width: 200px;text-align: end;">$ {{data.valor_numero|formaNumeric}}<br>{{data.valor_letras}}</td>
					</tr>
				</table>
			</template>
			<template v-if="$route.params.name=='convocatoriapublica'">
				<h3>Contratacion de convocatoria publica</h3>
				<table border="1" class="table-striped">
					<thead>
						<tr>
							<th>No</th>
							<th>Opciones</th>
							<th>Codigo de<br>estudio previo</th>
							<th>Oferentes</th>
							<th>Proponentes</th>
							<th>Comite evaluador</th>
							<th>Municipio</th>
							<th>Vigencia</th>
							<th>Codigo</th>
							<th>Quien suscribe</th>
							<th>Apoyo técnico</th>
							<th>Apoyo jurídico</th>
							<th>Fecha</th>
							<th>Objeto</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tr v-for="(data,index) in dataArray" :key="index">
						<td>{{index+1}}</td>
						<td>
							<b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
								<b-dropdown-item :to="{name:'estudiosprevioUpdate', params:{id:data.id,tipo_contrato:'convocatoriapublica'}}"> <i class="far fa-edit"></i> 				 Editar								 </b-dropdown-item>
								<b-dropdown-item :to="{name:'oferenteCreate',		params:{id:data.id,tipo_contrato:'convocatoriapublica'}}"> <i class="fas fa-chalkboard-teacher"></i> Agregar oferente					 </b-dropdown-item>
								<b-dropdown-item :to="{name:'proponenteCreate',		params:{id:data.id,tipo_contrato:'convocatoriapublica'}}"> <i class="fas fa-user-shield"></i> 		 Agregar proponente					 </b-dropdown-item>
								<b-dropdown-item :to="{name:'ComiteEvaluadorCreate',params:{id:data.id,tipo_contrato:'convocatoriapublica'}}"> <i class="fas fa-user-shield"></i> 		 Agregar miembro de comite evaluador </b-dropdown-item>
								<b-dropdown-divider></b-dropdown-divider>
								<b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
							</b-dropdown>
						</td>
						<td>{{data.codigo}}</td>
						<td style="vertical-align: top !important;">
							<span  v-if="data.tbl_oferentes.length==0">N/A</span>
							<table v-if="data.tbl_oferentes.length>0" border="1" class="table_into">
								<tr>
									<th>Nombres</th>
									<th>Documento</th>
									<th>Direccion</th>
									<th>Correo</th>
									<th>Telefono</th>
									<th>Fechas de remision de las invitaciones</th>
								</tr>
								<tr v-for="(datas, index1) in data.tbl_oferentes" :key="index1">
									<td style="height: 41px;">
										{{datas.tbl_oferentes.nombre_primero}}
										{{datas.tbl_oferentes.nombre_segundo}}
										{{datas.tbl_oferentes.apellido_primero}}
										{{datas.tbl_oferentes.apellido_segundo}}
									</td>
									<td>{{datas.tbl_oferentes.documento|formaNumeric}}</td>
									<td>{{datas.tbl_oferentes.direccion}}</td>
									<td>{{datas.tbl_oferentes.email}}</td>
									<td>{{datas.tbl_oferentes.celular}}</td>
									<td>{{datas.fecha_remision_invitaciones}}</td>
								</tr>
							</table>
						</td>
						<td style="vertical-align: top !important;">
							<span  v-if="data.tbl_proponentes.length==0">N/A</span>
							<table v-else border="1"  class="table_into">

								<tr >
									<th style="min-width: 210px;">Nombres</th>
									<th>Documento</th>
									<th style="min-width: 210px;">Direccion</th>
									<th>Correo</th>
									<th>Telefono</th>
								</tr>
								<tr v-for="(datas, index1) in data.tbl_proponentes" :key="index1">
									<td style="height: 41px;">
										{{datas.tbl_proponente.nombre_primero}}
										{{datas.tbl_proponente.nombre_segundo}}
										{{datas.tbl_proponente.apellido_primero}}
										{{datas.tbl_proponente.apellido_segundo}}
									</td>
									<td>{{datas.tbl_proponente.documento|formaNumeric}}</td>
									<td>{{datas.tbl_proponente.direccion}}</td>
									<td>{{datas.tbl_proponente.email}}</td>
									<td>{{datas.tbl_proponente.celular}}</td>
								</tr>
							</table>
						</td>
                        <td>
							<span v-if="data.tbl_comite_evaluador.length===0">N/A</span>
							<table v-else border="1"  class="table_into">
								<tr>
									<th style="min-width: 210px;">Nombres</th>
									<th>Documento</th>
									<th style="min-width: 210px;">Direccion</th>
									<th>Telefono</th>
									<th>Correo</th>
								</tr>
								<tr v-for="(val,index3) in data.tbl_comite_evaluador" :key="index3">
									<td style="height: 41px;">{{val.tbl_comite_evaluador.nombre_primero}} 
    								{{val.tbl_comite_evaluador.nombre_segundo}} 
    								{{val.tbl_comite_evaluador.apellido_primero}} 
    								{{val.tbl_comite_evaluador.apellido_segundo}}</td> 
    								<td>{{val.tbl_comite_evaluador.documento|formaNumeric}}</td> 
    								<td>{{val.tbl_comite_evaluador.direccion}}</td>
    								<td>{{val.tbl_comite_evaluador.celular}}</td> 
    								<td>{{val.tbl_comite_evaluador.email}}</td>
								</tr>
							</table>
                        </td>
						<td>
							<template v-for="(item,index) in data.tbl_estudios_previos_municipios">
								{{item.tbl_municipios.nombre}}<br :key="index">
							</template>
						</td>
						<td>{{data.vigencia}}</td>
						<td>{{data.codigo}}</td>
						<td>
						<template v-for="(res,idx) in data.tbl_estdios_previos_quien_suscribe">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
							<br :key="idx">
						</template>
						</td>
						<td>

						<template v-for="(res,idx) in data.tbl_estdios_previos_apoyos_tecnicos">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
							<br :key="idx">

						</template>
						</td>
						<td>

						<template v-for="(res,idx) in data.tbl_estdios_previos_apoyo_juridico">
							{{res.tbl_recursos_humano.nombre_primero}}
							{{res.tbl_recursos_humano.nombre_segundo}}
							{{res.tbl_recursos_humano.apellido_primero}}
							{{res.tbl_recursos_humano.apellido_segundo}}
							<br :key="idx">
						</template>
						</td>
						<td>{{data.fecha_estudios_previos}}</td>
						<td>{{data.objeto}}</td>
						<td style="white-space: initial;min-width: 200px;text-align: end;">$ {{data.valor_numero|formaNumeric}}<br>{{data.valor_letras}}</td>
					</tr>
				</table>
			</template>
		</div>
	</div>
</template>

<script>
export default {
	data()
    {
        return {
            base:'',
			dataArray:[],
			option:''
        };  
    },
    watch:{
        '$route.params.name' (data)
        {
			let me = this;
			me.dataArray=[];
        	me.listData();
			switch(me.$route.params.name)
			{
				case "menorcuantia":this.$route.meta.title='Contratos de menor cuantia';
					break;
				case "convocatoriapublica":this.$route.meta.title='Contratos de convocatoria pública';
					break;
				case "directa":this.$route.meta.title='Contratos de contratación directa';
					break;
			}
        }
    },
    filters:
    {
        formaNumeric: function (value)
        {
			value = value.split('.00').join('');
			return (typeof value == 'undefined' || value == null )?'0':value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
		}
    },
    methods:{
		validarOferente(data,proponente){
			return true;
		},
		verContrato()
		{
			let me = this;
			me.dataArray=[];
			switch(me.option)
			{
				case '':me.$router.push({name:'estudiosprevioIndex'});break;
				default:me.$router.push({name:'contratosTipos',params:{name:me.option}});break;
			}
		},
		agregarProponente(oferente_id,datos,id_menor_cuantia)
		{
			let me = this;
			me.$swal({
					title: 'Nuevo proponente',
                    text: '¿Desea agregar a '+datos.nombre_primero+' '+datos.apellido_primero+' como proponente?',
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Si, agregar como proponente',
					cancelButtonText: 'Cancelar'
			})
			.then((result) => 
			{
				if (result.value) 
				{
					let form = {
						nombre_primero:datos.nombre_primero,
						nombre_segundo:datos.nombre_segundo,
						apellido_primero:datos.apellido_primero,
						apellido_segundo:datos.apellido_segundo,
						documento:datos.documento,
						celular:datos.celular,
						email:datos.email,
						direccion:datos.direccion,
						id_menor_cuantia:id_menor_cuantia,
						tipo_contrato:'menorcuantia'
					}
					let url= base +'/proponente'
					axios
					.post(url,form)
					.then(function(response){
						me.$swal('Proponente registrado');
						me.listData();
					})
					.catch(function(response){
						me.$swal('Este proponente ya ha sido registrado a este contrato');
					})
				}
				else if (result.dismiss === "cancel")
				{
				}
			})
		},
        listData()
        {
			let me = this;
            let url = base + '/contratacion/tipos/'+me.$route.params.name
            axios
            .get(url)
            .then(function(response){
                me.dataArray = response.data;
            })
            .catch(function(response){
                me.dataArray=[];
            })
        }
    },
    mounted(){
		this.base = base;
		this.option = this.$route.params.name;
		this.dataArray=[];
        this.listData();
    }
}
</script>
<style>
	.table_into { width: 100%; margin: -2px}
	.table_into tr th {background-color: #5a5c6980}
	table tr th{white-space: nowrap; text-align: center; background-color: #c3c3c34a}
</style>