<template>
    <div>
        <formulario @guardar="save"></formulario>
    </div>
</template>

<script>
import formulario from '../estudiosprevio/form'
export default {
    components:{formulario},
    data()
    {
        return {}
    },
    methods:{
        save(form)
        {
            let me = this;
            let url = base+'/estudiosprevios'
            axios
            .post(url,form)
            .then(function(response){
                me.$swal('Guardado con éxito');
                if(form.estudios_previos_tipo_id==1)
                {
                    me.$router.push({ name: "contratacionDirecta",params:{id:response.data.id} });
                }
                else
                {
                    me.$router.push({ name: "folder",params:{id:response.data.id} });
                }
            })
            .catch(function(response){
                if(response.response.status==401)
                {
                    me.$swal('Este codigo ya se encuentra regitrado');
                }
                else{
                    me.$swal('Se ha presentado un error');
                }
            })
        }
    },
    mounted()
    {
        this.base = base;
    }
}
</script>