<template>
    <form @submit.prevent="guardar" id="form">
        <div class="row">
            <div class="col-md-4">
                <label for="vigencia">Año de vigencia</label>
                <input class="form form-control" type="number" min="2018" id="vigencia" name="vigencia" v-model="form.vigencia" required>
            </div>
            <div class="col-md-8">
                <label for="plan_anual_adquisicion">Plan anual de adquisición</label>
				<autocomplete
                v-if="plan_anual_adquisicion_texto!=''"
					:source="base+'/plananualadquisicion/search?data='"
                    :initialDisplay="plan_anual_adquisicion_texto"
					input-class="form-control"
					@selected="selectePAA"
					@nothingSelected="nothingSelected"
					@clear="nothingSelected"
				>
				</autocomplete>
            </div>
            <div class="col-md-4" v-if="false">
                <label for="codigo">Numero de contrato</label>
                <input disabled class="form form-control" type="text" id="numero_contrato" name="numero_contrato" v-model="form.numero_contrato" autocomplete="off" required>
            </div>
            <div class="col-md-4">
                <label for="estudios_previos_tipo_id">Modalidad de selección</label>
                <select class="form form-control" id="estudios_previos_tipo_id" name="estudios_previos_tipo_id" v-model="form.estudios_previos_tipo_id" required>
                    <option value="">Seleccione</option>
                    <option v-for="(data,index) in estudiosprevioTipoArray" :key="index" :value="data.id">{{data.nombre}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="tipologias_contractuales">Tipologías contractuales</label>
					<b-form-select
						v-model="form.tipologias_contractuales_id"
						class="collection-input"
						id="tipologias_contractuales">
						<b-form-select-option style="display:none" value="">Seleccione</b-form-select-option>
						<b-form-select-option v-for="(item,index) in arrayTipologiasContractuales" :key="index" :value="item.id">{{item.nombre}}</b-form-select-option>
					</b-form-select>
            </div>
            <div class="col-md-4">
                <label for="fecha">Plazo de ejecucion</label>
                <input class="form form-control" type="text" v-model="form.plazo_ejecucion" name="plazo_ejecucion" id="plazo_ejecucion" autocomplete="off">
            </div>
            <div class="col-md-4">
                <label for="tipologias_contractuales">Garantías</label>
				<b-form-select
					v-model="form.garantias_id"
					class="collection-input"
					id="garantias_id"
					>
					<b-form-select-option style="display:none" value="">Seleccione</b-form-select-option>
					<b-form-select-option v-for="(item,index) in arrayGarantias" :key="index" :value="item.id">{{item.nombre}}</b-form-select-option>
			    </b-form-select>
            </div>
            <div class="col-md-4">
                <label for="">Lugar de ejecucion</label>
                <input type="text" class="form form-control" id="lugar_ejecucion" name="lugar_ejecucion" v-model="form.lugar_ejecucion" required>
            </div>
            <div class="col-md-4">
                <label for="">Fecha de suscripcion del estudio previo</label>
                <input class="form form-control  disabled-active" type="text" id="fecha" name="fecha" v-model="form.fecha_estudios_previos" autocomplete="off" readonly required>
            </div>
			<div class="col-md-4">
			    <label for="recursos_humano_quien_suscribe_id"><b-button v-b-modal.modal-1>+</b-button>Quien suscribe al estudio</label>
                    <ejs-multiselect 
			    	v-model="form.recursos_humano_quien_suscribe_id"
                    :dataSource="arrayRecursosHumanos" 
                    :fields="{ text: 'nombre_completo', value: 'id' }"
                    mode="CheckBox" 
                    id="multiselect" 
                    ></ejs-multiselect>
			</div>
			<div class="col-md-4">
				<label for="recursos_humano_apoyo_tecnicos_id"><b-button v-b-modal.modal-1>+</b-button>Apoyos técnicos</label>

                    <ejs-multiselect
			    	v-model="form.recursos_humano_apoyo_tecnicos_id"
                    :dataSource="arrayRecursosHumanos"
                    :fields="{ text: 'nombre_completo', value: 'id' }"
                    mode="CheckBox"
                    id="multiselect"
                    ></ejs-multiselect>
			</div>
			<div class="col-md-4">
				<label for="recursos_humano_apoyo_juridico_id"><b-button v-b-modal.modal-1>+</b-button>Apoyo jurídico</label>
                <ejs-multiselect
			    	v-model="form.recursos_humano_apoyo_juridico_id"
                    :dataSource="arrayRecursosHumanos"
                    :fields="{ text: 'nombre_completo', value: 'id' }"
                    mode="CheckBox"
                    id="multiselect"
                    ></ejs-multiselect>
    			</div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="id_departamento">Deparmanto</label>
                    <select class="form form-control disabled-active" id="id_departamento" name="id_departamento" v-model="id_departamento" @change="form.municipio_id=[]" disabled required>
                        <option value="">Seleccione</option>
                        <option v-for="(data,index) in DepartamentoArray" :key="index" :value="data.id">{{data.nombre}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="municipio_id">Municipio</label>
                    <ejs-multiselect 
                    v-model="form.municipio_id"
                    :dataSource="municipioArrayShow" 
                    :fields="{ text: 'nombre', value: 'id' }"
                    mode="CheckBox" 
                    id="multiselect" 
                    ></ejs-multiselect>
                </div>
            </div>
            <div class="row">
			<div class="col-md-12">
            <hr>
            </div>
			<div class="col-md-12">
                <h4>
                    Criterios de selección
                </h4>
			</div>
			<div class="col-md-4">
			    <label for="experiencia">Experiencia</label>
				<b-form-input
					class="collection-input"
					v-model="form.experiencia"
					id="experiencia"
					type="text">
				</b-form-input>
			</div>
			<div class="col-md-4">
				<label for="idoneidad">Idoneidad</label>
				<b-form-input
					class="collection-input"
					v-model="form.idoneidad"
					id="idoneidad"
					type="text">
				</b-form-input>
			</div>
			<div class="col-md-4">
			    <label for="otros">Otros</label>
			    <b-form-input
			    	class="collection-input"
			    	v-model="form.otros"
			    	id="otros"
			    	type="text">
			    </b-form-input>
			</div>

            <div class="col-md-12">
                <label for="objeto">Objeto</label>
                <textarea class="form form-control" rows="10" id="objeto" name="objeto" v-model="form.objeto" required></textarea>
            </div>
            <div :class="(form.forma_de_pago_id=='' || form.forma_de_pago_id==3)?'col-md-8':'col-md-4'" >
				<label for="forma_pago">Forma de pago</label>
				<b-form-select
					v-model="form.forma_de_pago_id"
					class="collection-input"
					id="forma_pago"
					required>
					 <b-form-select-option value="">Seleccione</b-form-select-option>
					 <b-form-select-option v-for="(item,index) in arrayFormasPago" :key="index" :value="item.id">{{item.nombre}}</b-form-select-option>
				</b-form-select>
            </div>
			<div class="col-md-4" v-if="form.forma_de_pago_id!==3 && form.forma_de_pago_id!=''">
				<label for="cuotas">Número de cuotas</label>
				<b-form-input
				:readonly="form.forma_de_pago_id==3"
				v-model="form.numero_cuotas"
					class="collection-input"
					id="cuotas"
					type="number"
					min="1"
                    max="100">
				</b-form-input>
			</div>
            <div class="col-md-4">
                <label for="valor_numero">Valor</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input class="form form-control" type="text" id="valor_numero" name="valor_numero" v-model="form.valor_numero" required>
                </div>
                <br><strong>{{form.valor_letras}}</strong>
            </div>
            <div class="col-md-12" v-if="form.cuotas.length>0">
				<table class="table-hover">
					<tr>
						<td>Cuota</td>
						<td>Valor</td>
					</tr>
				<template v-for="(item,index) in form.cuotas">
					<tr :key="index">
						<td>{{item.cuota}}</td>
						<td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <b-input v-model="item.valor" @keyup="formatCuota(index)"></b-input>
                            </div>
						</td>
					</tr>
				</template>
				</table>
                <span class="badge badge-danger" v-if="numberConvert(form.valor_numero)!=numberConvert(valor_suma)">La suma no concuerda ${{(numberConvert(form.valor_numero)-numberConvert(valor_suma))|formatCurrencyPipe}}</span>
			</div>
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" :disabled="disabled"><i class="fas fa-save"></i> Guardar</button>
            </div>
            <b-modal ref="modal-1" id="modal-1" title="Nuevo integrante" hide-footer>
                <recursoHumano v-bind:boton="false" v-on:close="cerrar"/>
            </b-modal>
        </div>
    </form>
</template>

<script>
import fn from './../functions/currency'
import numeroLetras from './../functions/textoLetras'
import Autocomplete from 'vuejs-auto-complete'
import recursoHumano from '../recursoshumanos/Create'
export default {
    props:['forms'],
    components: {
    	Autocomplete,recursoHumano
  	},
    watch:{
        forms:function(data)
        {
            let me = this;
            //const resultado                           = me.municipioArray.find( municipio => municipio.id === me.forms.municipio_id )
            me.form.id                                = me.forms.id;
            //me.id_departamento                        = resultado.id_departamento;
            me.form.valor_numero                      = fn.formatCurrency(me.forms.valor_numero);
            me.form.numero_cuotas                     = me.forms.numero_cuotas;
            me.form.vigencia                          = me.forms.vigencia;
            me.form.garantias_id                      = me.forms.garantias_id;
            me.form.estudios_previos_tipo_id         = me.forms.estudios_previos_tipo_id;
            me.form.plan_anual_adquisicion_id         = me.forms.plan_anual_adquisicion_id;
            me.plan_anual_adquisicion_texto           = '';
            me.form.codigo                            = me.forms.codigo;
            me.form.fecha_estudios_previos            = me.forms.fecha_estudios_previos;
            me.form.objeto                            = me.forms.objeto;
			me.form.recursos_humano_quien_suscribe_id = me.forms.recursos_humano_quien_suscribe_id;
			me.form.recursos_humano_apoyo_tecnicos_id = me.forms.recursos_humano_apoyo_tecnicos_id;
			me.form.recursos_humano_apoyo_juridico_id = me.forms.recursos_humano_apoyo_juridico_id;
            me.form.valor_numero                      = me.forms.valor_numero;
            me.form.valor_letras                      = me.forms.valor_letras;
            me.forms.tbl_estudios_previos_municipios.forEach((value,index)=>{
                me.form.municipio_id.push(value.id);
            });
            me.form.id_estudiosprevio_estado          = me.forms.id_estudiosprevio_estado;
            me.form.tipologias_contractuales_id       = me.forms.tipologias_contractuales_id;
            me.form.forma_de_pago_id                  = me.forms.forma_de_pago_id;
            me.form.plazo_ejecucion                   = me.forms.plazo_ejecucion;
            me.form.experiencia                       = me.forms.experiencia;
            me.form.idoneidad                         = me.forms.idoneidad;
            me.form.otros                             = me.forms.otros;
            me.form.lugar_ejecucion                   = me.forms.lugar_ejecucion;
            setTimeout(()=>
            {
                me.form.cuotas= [];
                me.form.cuotas = me.forms.cuotas;
                me.plan_anual_adquisicion_texto=me.forms.tbl_plan_anual_adquisicion.nombre;
                me.form.cuotas.forEach((value,idx)=>{
                    me.formatCuota(idx);
                })
            },3);
        },
        'form.valor_numero':function(valor_numero)
        {
            this.form.valor_numero = fn.formatCurrency(this.form.valor_numero);
            valor_numero= (''+valor_numero+'').split(',').join('');
            this.form.valor_letras=valor_numero.trim()==''?'':numeroLetras.convertirNumeroEnLetras(valor_numero);
            this.calcularCuotas();
        },
        'form.numero_cuotas':function()
		{
			this.calcularCuotas();
		},
		'form.forma_de_pago_id':function()
		{
			this.calcularCuotas();
        },
        'id_departamento':function(id_departamento)
        {
            let me = this;
            this.municipioArray.forEach(function(value)
            {
                if(value.id_departamento==id_departamento)
                {
                    me.municipioArrayShow.push(value);
                }
            })
        },
        'municipioArray':function()
        {
            let me = this;
            me.municipioArray.forEach(function(value)
            {
                if(value.id_departamento==me.id_departamento && value.activo=='1')
                {
                    me.municipioArrayShow.push(value);
                }
            })
        }
    },
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        }
    },
    data() {
        return {
            base:'',
            plan_anual_adquisicion_texto:null,
            arrayTipologiasContractuales:[],
            arrayFormasPago:[],
            arrayGarantias:[],
			arrayRecursosHumanos: [],
            arrayCDP:[1],
            disabled:false,
            municipioArray:[],
            municipioArrayShow:[],
            DepartamentoArray:[],
            estudiosprevioTipoArray:[],
            estudiosprevioEstadoArray:[],
            id_departamento:'',
            valor_suma:'',
            form:{
                id:'',
                vigencia:'',
                garantias_id:'',
                estudios_previos_tipo_id:'',
                plan_anual_adquisicion_id:'',
                codigo:'',
                fecha_estudios_previos:'',
                objeto:'',
				recursos_humano_quien_suscribe_id: [],
				recursos_humano_apoyo_tecnicos_id: [],
				recursos_humano_apoyo_juridico_id: [],
                valor_numero:'',
                valor_letras:'',
                municipio_id:[],
                numero_cuotas:'',
                id_estudiosprevio_estado:'',
                tipologias_contractuales_id:'',
                forma_de_pago_id:'',
                plazo_ejecucion:'',
                experiencia:'',
                idoneidad:'',
                otros:'',
                lugar_ejecucion:'',
				cuotas:[],
            }           
        }
    },
    methods:{
        start()
        {
            let me = this;
            me.id_departamento   = 19;
            me.loadMunicipio();
            me.loadDepartamento();
            me.loadestudiosprevioTipo();
            me.loadestudiosprevioEstado();
            me.loadTipologiasContractuales();
            me.loadFormasPago();
            me.loadGarantias();
            me.loadRecursosHumanos();
            $('#form').validate();
            $('#fecha').datepicker({changeMonth: true,changeYear: true, onSelect: function(dateText, inst) {me.form.fecha_estudios_previos = $(this).val();}});
            me.form.municipio_id.push(236);
        },
        cerrar()
        {
            this.loadRecursosHumanos();
            this.$refs['modal-1'].hide()
        },
        currency(){
            this.form.valor_numero = fn.formatCurrency(this.form.valor_numero);
        },
        formatCuota(id)
        {
            let me = this;
            me.form.cuotas[id].valor=fn.formatCurrency(me.form.cuotas[id].valor);
            me.valor_suma=0;
            me.form.cuotas.forEach((value,idx)=>{
                let temp=parseFloat((''+value.valor+'').split(',').join(''));
                me.valor_suma=me.valor_suma+(Number.isNaN(temp)?0:temp);
            })
        },
        numberConvert(value)
        {
            value = parseFloat((''+value+'').split(',').join(''));
            return value;
        },
        guardar()
        {
            let me = this;
            if($('#form').valid())
            {
                me.disabled=true;
                me.$emit('guardar',me.form);
            }
        },
		loadRecursosHumanos()
		{
			let me = this;
			axios.get(base+'/recursoshumanos').then( (response) => {
				me.arrayRecursosHumanos = response.data.data;
			});
		},
        loadFormasPago()
		{
			let me = this;
			axios
			.get(base+'/formaspago')
			.then((response)=>{
				me.arrayFormasPago=response.data;
			});
		},
        loadDepartamento()
        {
            let me = this;
            let url = base + '/departamento';
            axios
            .get(url)
            .then(function(response)
            {
                me.DepartamentoArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadMunicipio()
        {
            let me = this;
            let url = base + '/municipio';
            axios
            .get(url)
            .then(function(response)
            {
                me.municipioArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadestudiosprevioTipo()
        {
            let me = this;
            let url = base + '/estudiospreviostipo';
            axios
            .get(url)
            .then(function(response)
            {
                me.estudiosprevioTipoArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadestudiosprevioEstado()
        {
            let me = this;
            let url = base + '/estudiospreviosestado';
            axios
            .get(url)
            .then(function(response)
            {
                me.estudiosprevioEstadoArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadTipologiasContractuales()
		{
			let me = this;
			axios
			.get(base+'/tipologiascontractuales')
			.then((response)=>{
				me.arrayTipologiasContractuales=response.data;
			});
        },
        loadGarantias()
		{
			let me = this;
			axios.get(base+'/garantias').then( (response) => {
				me.arrayGarantias = response.data.data;
			});
		},
		calcularCuotas()
		{
			let me = this;
            let valor = (''+me.form.valor_numero+'').split(',').join('');
            me.form.cuotas=[];
			switch(parseInt(me.form.forma_de_pago_id))
			{
				case 1:
                    for(let i =0;i<parseInt(me.form.numero_cuotas);i++)
					{
                        me.form.cuotas.push({cuota:(i+1),valor:''})
					}
				break;
				case 2:
                    for(let i =0;i<parseInt(me.form.numero_cuotas);i++)
					{
                        me.form.cuotas.push({cuota:(i+1),valor:fn.formatCurrency(valor/me.form.numero_cuotas)})
					}
				break;
				case 3:
					me.form.numero_cuotas=1;
					me.form.cuotas=[];
				break;
            }
            me.form.cuotas.forEach((value,idx)=>{
                me.formatCuota(idx);
            })
		},
        selectePAA(data)
		{
			this.form.plan_anual_adquisicion_id=data.value;
		},
		nothingSelected(data)
		{
			this.form.plan_anual_adquisicion_id='';
		},
    },
    mounted() {
        let me = this;
        me.base=base;
        me.start();
    },
}
</script>
<style>
@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-vue-dropdowns/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css"
</style>