


<template>
    <div>
        <iframe v-if="urliframe!=''" :src="urliframe" frameborder="0" width="100%" height="500px"></iframe>
    </div>
</template>

<script>
export default {
     name: 'Archivos',

    data: function () {
    return {
            base:'',
            id:'',
            urliframe:''
        }
    },
    methods:{

    },
    mounted(){
        let me = this;
        me.base = base;
        me.id=me.$route.params.id;
        if(me.$route.path.search("archivos")>0)
        {
            me.urliframe=base+'/ef/index.php?dir='+me.id
        }
        if(me.$route.path.search("folder")>0)
        {
            me.urliframe=base+'/ef/index.php?asd='+me.id
        }
    }
}
</script>