<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <router-link v-if="permisos.estudios_previos_create" class="btn btn-success" :to="{ name: 'estudiosprevioCreate'}"><i class="far fa-edit"></i> Nuevo</router-link>
                <select class="" name="" id="" @change="verContrato" v-model="option">
                    <option value="">Todos</option>
                    <option value="directa">Contratacion directa</option>
                    <option value="menorcuantia">Menor Cuantia</option>
                    <option value="convocatoriapublica">Convocatoria pública</option>
                </select>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="scroll_bar">

                    <table border="1" class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Opciones</th>
                                <th>Tipo de contratación</th>
                                <th>Estado del estudio previo</th>
                                <th>Municipio</th>
                                <th>Vigencia</th>
                                <th>Fecha</th>
                                <th>Objeto</th>
                                <th>Duración</th>
                                <th>Forma de pago</th>
                                <th>Quien suscribe</th>
                                <th>Apoyo técnico</th>
                                <th>Apoyo jurídico</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data,index) in dataArray" :key="index">
                                <td style="text-align: right;">{{index+1}}</td>
                                <td>
                                    <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                                        <b-dropdown-item :to="{params:{id:data.id}, name:'estudiosprevioUpdate',}" :disabled="data.tbl_contratos_cdp!=null"  v-if="permisos.estudios_previos_update">                             <i class="far fa-edit"               ></i>  Editar</b-dropdown-item>    
                                        <b-dropdown-item :to="{params:{estudios_previos_id:data.id}, name:'asignarCDP',}" v-if="data.tbl_contratos_cdp==null">                           <i class="fas fa-file-invoice-dollar"></i>  Asignar CDP</b-dropdown-item>    
                                        <b-dropdown-item :to="{params:{id:data.id}, name:'contratacionDirecta',}"                  v-if="/*data.tbl_estudios_previos_tipo.id==1*/false"> <i class="fas fa-scroll"             ></i>  Contratacion directa</b-dropdown-item>
                                        <b-dropdown-item :to="{params:{id:data.id}, name:'contratacionMenorCuantiaIndex',}"        v-if="/*data.tbl_estudios_previos_tipo.id==2*/false"> <i class="fas fa-scroll"             ></i>  Menor cuantia</b-dropdown-item>
                                        <b-dropdown-item :to="{params:{id:data.id}, name:'contratacionConvocatoriaPublicaIndex',}" v-if="/*data.tbl_estudios_previos_tipo.id==3*/false"> <i class="fas fa-scroll"             ></i>  Convocatoria pública</b-dropdown-item>
                                        <b-dropdown-item :to="{params:{id:data.id}, name:'folder'}">                                                                            <i class="fas fa-folder-plus"></i> Archivos</b-dropdown-item>
                                        <b-dropdown-divider  v-if="data.tbl_estudios_previos_tipo.id!==1"></b-dropdown-divider>
                                        <b-dropdown-item :to="{params:{id:data.id,tipo_contrato:(data.estudios_previos_tipo_id==3?'convocatoriapublica':'menorcuantia')}, name:'proponenteCreate'}" v-if="data.tbl_estudios_previos_tipo.id!==1"><i class="fas fa-scroll"></i> Agregar proponente</b-dropdown-item>
                                        <b-dropdown-item :to="{params:{id:data.id,tipo_contrato:(data.estudios_previos_tipo_id==3?'convocatoriapublica':'menorcuantia')}, name:'oferenteCreate'}"   v-if="data.tbl_estudios_previos_tipo.id!==1"><i class="fas fa-scroll"></i> Agregar oferente</b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>                                        
                                    </b-dropdown>
                                </td>
                                <td>{{data.tbl_estudios_previos_tipo.nombre}}</td>
                                <td>{{data.tbl_estudios_previos_estado.nombre}}</td>
                                <td>
                                    <template v-for="(temp,idx) in data.tbl_estudios_previos_municipios">
                                        {{temp.tbl_municipios.nombre}}<br :key="idx">
                                    </template>
                                </td>
                                <td style="text-align: right;">{{data.vigencia}}</td>
                                <td style="white-space:nowrap">{{data.fecha_estudios_previos}}</td>
                                <td style="min-width: 500px;">{{data.objeto}}</td>
                                <td>{{data.plazo_ejecucion}}</td>
                                <td>{{data.tbl_formas_de_pago.nombre}}</td>
                                <td>
                                    <template v-for="(item,idx) in data.tbl_estdios_previos_quien_suscribe">
                                        {{item.tbl_recursos_humano.id}}
                                        {{item.tbl_recursos_humano.nombre_primero}}
                                        {{item.tbl_recursos_humano.apellido_primero}}<span v-if="idx<(data.tbl_estdios_previos_quien_suscribe.length -1)" :key="idx">,</span>
                                    </template>
                                    <template v-if="data.tbl_estdios_previos_quien_suscribe.length==0">
                                        N/A
                                    </template>
                                </td>
                                <td>
                                    <template v-for="(item,idx) in data.tbl_estdios_previos_apoyos_tecnicos">
                                        {{item.tbl_recursos_humano.id}}
                                        {{item.tbl_recursos_humano.nombre_primero}}
                                        {{item.tbl_recursos_humano.apellido_primero}}<span v-if="idx<(data.tbl_estdios_previos_apoyos_tecnicos.length -1)" :key="idx">,</span>
                                    </template>
                                    <template v-if="data.tbl_estdios_previos_apoyos_tecnicos.length==0">
                                        N/A
                                    </template>
                                </td>
                                <td>
                                    <template v-for="(item,idx) in data.tbl_estdios_previos_apoyo_juridico">
                                        {{item.tbl_recursos_humano.id}}
                                        {{item.tbl_recursos_humano.nombre_primero}}
                                        {{item.tbl_recursos_humano.apellido_primero}}<span v-if="idx<(data.tbl_estdios_previos_apoyo_juridico.length -1)" :key="idx">,</span>
                                    </template>
                                    <template v-if="data.tbl_estdios_previos_apoyo_juridico.length==0">
                                        N/A
                                    </template>
                                </td>
                                
                                <td style="text-align: right;">$ {{data.valor_numero|formaNumeric}}<br>{{data.valor_letras}}</td>
                            </tr>
                            <tr v-if="dataArray.length==0">
                                <td colspan="13" style="background-color:#c3c3c326">
                                    <center><h4>No hay registros</h4></center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            base:'',
            dataArray:'',
            option:''
        };  
    },
    filters:
    {
        formaNumeric: function (value)
        {
            return value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
        }
    },
    methods:{
        aprobar(data)
        {
            let me = this;
            let length=100;
            me.$swal({
                title: "¿Desea aprobarlo?",
                text: "Objeto:"+data.objeto.substr(0,length)+(data.objeto.length>length?'...':''),
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            })
            .then((willDelete) =>
            {
                if (typeof willDelete.value != 'undefined')
                {
                    axios
                    .get()
                    .then((response)=>{
                        swal("A sido aprobado con exito", {
                        });
                    })
                    .catch((response)=>
                    {
                        me.$swal({title: "Se presento un error inexperado"});
                        //console.clear();console.warn(response);
                    });
                }
            });
        },
        listData()
        {
            let me = this;
            let url = base + '/estudiosprevios'
            axios
            .get(url)
            .then(function(response){
                me.dataArray = response.data;
            })
            .catch(function(response){

            })
        },
		verContrato()
		{
			let me = this;
			switch(me.option)
			{
				case '':me.$router.push({name:'estudiosprevioIndex'});break;
				default:me.$router.push({name:'contratosTipos',params:{name:me.option}});break;
			}
		},
    },
    mounted(){
        this.base = base;
        this.listData();
    }
}
</script>