<template>
    <formulario @guardar="save" v-bind:forms="forms"></formulario>
</template>

<script>
import formulario from '../estudiosprevio/form'
export default {
    components:{formulario},
    data()
    {
        return {
            forms:null
        }
    },
    methods:{
        save(form)
        {
            let me = this;
            let url = base+'/estudiosprevios/'+me.$route.params.id
            axios
            .put(url,form)
            .then(function(response){
                me.$swal('Guardado con éxito');
                me.$router.push({ name: "estudiosprevioIndex" });
            })
            .catch(function(response){
                me.$swal('Se ha presentado un error');
            })
        },
        detail()
        {
            let me = this;
            let url = base+'/estudiosprevios/'+me.$route.params.id
            axios
            .get(url)
            .then(function(response){
                me.forms=response.data;
                me.forms.cuotas=[];
                let valor = me.forms.valor_numero;
                me.forms.tbl_estudios_previos_cuotas.forEach((value)=>
				{
                    me.forms.cuotas.push({cuota:value.cuota,valor:value.valor})
                })
            })
            .catch(function(response){
                console.warn(response)
                me.$router.push({ name: "noAutorizate" });
                me.$swal('Se ha presentado un error');
            })
        }
    },
    mounted()
    {
        this.detail();
    }
}
</script>