<template>
<form @submit.prevent="save">
	<div class="row">
		<div class="col-md-6">
			<label for="tipo_documento">Tipo de documento</label>
			<select
				class="form-control" v-model="form.documento_tipo_id"
				id="tipo_documento"
				name="tipo_documento"
				required>
				<option value="" style="display:none">Seleccione</option>
				<option v-for="(item,idx) in arrayDocumentoTipo" :key="idx" :value="item.id">{{item.nombre}}</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="documento">Documento</label>
			<input
				class="form-control" v-model="form.documento"
				id="documento"
				name="documento"
				type="text"
				placeholderhide="Ingresa el código de documento"
				required>
		</div>
		<div class="col-md-6">
			<label for="primer_nombre">Primer nombre</label>
			<input
				class="form-control" v-model="form.nombre_primero"
				id="primer_nombre"
				name="primer_nombre"
				type="text"
				placeholderhide="Ingresa el primer nombre"
				required>
		</div>
		<div class="col-md-6">
			<label for="segundo_nombre">Segundo nombre</label>
			<input
				class="form-control" v-model="form.nombre_segundo"
				id="segundo_nombre"
				name="segundo_nombre"
				type="text"
				placeholderhide="Ingresa el segundo nombre"
				>
		</div>
		<div class="col-md-6">
			<label for="primer_apellido">Primer apellido</label>
			<input
				class="form-control" v-model="form.apellido_primero"
				id="primer_apellido"
				name="primer_apellido"
				type="text"
				placeholderhide="Ingresa el primer apellido"
				required>
		</div>
		<div class="col-md-6">
			<label for="segundo_apellido">Segundo apellido</label>
			<input
				class="form-control" v-model="form.apellido_segundo"
				id="segundo_apellido"
				name="segundo_apellido"
				type="text"
				placeholderhide="Ingresa el segundo apellido">
		</div>
		<div class="col-md-6">
			<label for="email">Correo electronico</label>
			<input
				class="form-control" v-model="form.email"
				id="email"
				name="email"
				type="email"
				placeholderhide="Ingresa el correo electronico"
				required>
		</div>
		<div class="col-md-6">
			<label for="direccion">Dirección</label>
			<input
				class="form-control" v-model="form.direccion"
				id="direccion"
				name="direccion"
				type="text"
				rows="3"
				placeholderhide="Dirección"
				required>
		</div>
		<div class="col-md-4">
			<label for="celular">Celular</label>
			<input
				class="form-control" v-model="form.celular"
				id="celular"
				name="celular"
				type="text"
				placeholderhide="Ingresa el nro de celular"
				required>
		</div>
		<div class="col-md-4">
			<label for="cargo">tipo de vinculación</label>
			<select
				class="form-control" v-model="form.cargo_id"
				id="cargo"
				name="cargo"
				required>
				<option value="">Seleccione</option>
				<option v-for="(item,index) in arrayCargos" :key="index" :value="item.id">{{ item.nombre}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="isActive">Activo</label>
			<b-form-checkbox v-model="form.activo" id="isActive" name="isActive" switch size="lg">
			</b-form-checkbox>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
		<button type="submit" class="btn btn-success">
		<i class="fa fa-save"></i>  Guardar
		</button>
		</div>
	</div>
</form>
</template>

<script>
	import {
		required,
        email,
        minLength,
        sameAs
    } from "vuelidate/lib/validators";
	export default {
	props:['boton'],
	data() {
		return {
			button:true,
			arrayCargos: [],
			arrayDocumentoTipo:[],
			form: {
				nombre_primero:'',
				nombre_segundo:'',
				apellido_primero:'',
				apellido_segundo:'',
				documento:'',
				direccion:'',
				documento_tipo_id:'',
				celular:'',
				email:'',
				cargo_id:'',
				activo:true,
			}
		}
	},
	validations: {
        form: {
            nombre_primero: 	{required},
			//nombre_segundo: 	{required},
			apellido_primero: 	{required},
			//apellido_segundo: 	{required},
			documento: 			{required},
			direccion: 			{required},
			documento_tipo_id: 	{required},
			celular: 			{required},
			cargo_id: 			{required},
        }
    },
	methods: {
		loadDocumentoTipo()
		{
			let me = this;
			axios
			.get(base+'/documentotipo')
			.then( (response) => {
				me.arrayDocumentoTipo = response.data.data;
			});
		},
		loadCargos()
		{
			let me = this;
			axios
			.get(base+'/cargos')
			.then( (response) => {
				me.arrayCargos = response.data.data;
			});
		},
		save()
		{
			this.$v.$touch();
			if (this.$v.$invalid) {
                return;
            }
			else
			{
				let me = this;
				axios
				.post(base+'/recursoshumanos',this.form)
				.then( (response) => {
					me.$swal('Se ha guardado con exito');
					if(this.button)
					{
						me.$router.push({ name: "RecursoHumanoIndex"});
					}
					else{
						me.$emit('close')
					}
				})
				.catch((error)=>{
					me.$swal('Error al guardar','Revise si no se encuentra registrado en el sistema','error');
				})
			}
		}
	},

	mounted() {
		this.button=(typeof this.boton =='undefined');
		console.log({button:this.button})
		$('form').validate();
		this.loadCargos();
		this.loadDocumentoTipo();
	},
}
</script>