<template v-if="permisos.recursos_humanos_index">
    <div class="row">
        <div class="col-md-12">
            <router-link v-if="permisos.recursos_humanos_create" :to="{name:'RecursoHumanoCreate'}" class="btn btn-success" ><i class="fas fa-user-plus"></i> Nuevo</router-link>
            <br>
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Direccion</th>
                        <th>Celular</th>
                        <th>Email</th>
                        <th>tipo de vinculación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in dataArray" :key="idx">
                        <td>{{idx+1}}</td>
                        <td>
                            {{item.nombre_primero}}
                            {{item.nombre_segundo}}
                            {{item.apellido_primero}}
                            {{item.apellido_segundo}}
                        </td>
                        <td>{{item.tbl_documento_tipo.nombre_corto}}:{{item.documento}}</td>
                        <td>{{item.direccion}}</td>
                        <td>{{item.celular}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.tbl_cargos.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            dataArray:[]
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            axios
            .get(base+'/recursoshumanos')
            .then((response)=>{
                if(response.data.validate)
                {
                    me.dataArray=response.data.data;
                }
            })
            .catch((response)=>{

            })
        }
    },
    mounted:function()
    {
        this.loadData();
    }

}
</script>