<template>
    <div>
        <contratodata v-if="contrato!=''" :id_contrato="contrato.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.contrato_id"></contratodata>
         <form @submit.prevent="save">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Orden de pago</h4>
                        <h4>número de orden de pago {{contrato.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de ingreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label for="fecha_egreso">Fecha de egreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'"  id="fecha_egreso" name="fecha_egreso" v-model="form.fecha_egreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    data()
    {
        return {
            disabled:false,
            es:es,
            contrato:'',
            form:{
                contratatos_pagos_firma_administracion_id:'',
                fecha_egreso:'',
                fecha_ingreso:''
            }
        }
    },
    watch:{

    },
    methods:{
        save()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/firmagerencia';
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.contrato=response.data.data;
                    me.disabled=false;
                    me.$swal('Guardado con éxito')
                    me.$router.push({name:'gerenciaFirmaindex'});
                })
                .catch((response)=>{
                    console.clear();
                    console.warn(response);
                    me.disabled=false;
                    me.$swal('Error al guardar')
                })
            }
        },
        loadData()
        {
            let me = this;
            let url = base+'/firmaadministracion/'+me.form.contratatos_pagos_firma_administracion_id;
            axios
            .get(url)
            .then((response)=>{
                me.contrato=response.data.data;
                if(me.contrato.estado!='tramite'&&me.contrato.estado!='devuelto')
                {
                    me.$swal('Ya no se encuentra en trámite')
                    me.$router.push({name:'gerenciaFirmaindex'});
                }
                if(me.contrato.tbl_contratatos_pagos_firma_gerencia.length)
                {
                    let firma=me.contrato.tbl_contratatos_pagos_firma_gerencia[0];
                    me.form.fecha_ingreso=firma.fecha_ingreso;
                }
            })
            .catch((response)=>{
                console.clear();
                console.warn(response);
                me.$router.push({name:'gerenciaFirmaindex'});
            })
        }
    },
    mounted()
    {
        this.form.contratatos_pagos_firma_administracion_id = this.$route.params.contratatos_pagos_firma_administracion_id
        this.loadData();
        $('form').validate();
    }
}
</script>

<style>

</style>