<template>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form form-control">
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" border="1">
                <thead>

                <tr>
                    <th>#</th>
                    <th>Opciones</th>
                    <th>Numero contrato</th>
                    <th>Numero<br>orden de pago</th>
                    <th v-if="false">Devolución</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in dataArray" :key="idx" style="text-align: end;">
                        <td>{{idx+1}}</td>
                        <td>
                            <b-dropdown text="Opciones">
                                <b-dropdown-item v-if="item.estado=='tramite'||item.estado=='devuelto'" :to="{name:'gerenciaFirmaCreate',params:{contratatos_pagos_firma_administracion_id:item.id}}"><i class="fas fa-pen-square"></i> Agregar firma gerencia</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-pen-square"></i> Editar</b-dropdown-item>
                                <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                            </b-dropdown>
                        </td>
                        <td>{{item.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.tbl_revision_tramite.tbl_contratos.numero}}</td>
                        <td>{{item.tbl_contratatos_pagos_registro_presupuestal.tbl_contratatos_pagos_registro_contable.tbl_contratatos_pagos_orden.numero_orden_pago}}</td>
                        <td v-if="false">
                            <devoluciones v-on:recargar="loadData" :button="false" :id="item.id" :tipo_to="6" :tipo_from="7" v-if="item.estado=='tramite'||item.estado=='devuelto'" />
                        </td>
                        <td>
                            <label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                            <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                            <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import devoluciones from '../functions/devoluciones'; 
export default {
    components: {
        devoluciones,
    },
    data()
    {
        return {
            dataArray:[]
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base + '/firmaadministracion/status/all'
            axios
            .get(url)
            .then((response)=>{
                me.dataArray=response.data.data;
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
    
}
</script>