<template>
<div>
    <contratodata v-if="contrato_id!=''" :id_contrato="contrato_id"></contratodata>
    <form @submit.prevent="save()">
        <div  class="container-fluid" >
            <div class="row">
                <div class="col-md-11">
                    <label for="fecha_poliza">Fecha de aprobación de poliza</label>
                    <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="fecha_poliza" :required="true"></vuejs-datepicker>
                </div>
                <div class="col-md-1">
                    <label for="" style="color:#FFF">1</label>
                    <button class="form form-control" type="button" @click="addForm()">+</button>
                </div>
            </div>
            <div v-for="(item,index) in form" :key="index">
                <div class="row">
                    <div class="col-md-4">
                        <label for="clase_cobertura">Clase cobertura</label>
                        <input type="text" id="clase_cobertura" name="clase_cobertura" v-model="item.clase_cobertura" class="form form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fecha_inicio">Fecha de inicio</label>
                        <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="item.fecha_inicio" :required="true"></vuejs-datepicker>
                    </div>
                    <div class="col-md-4">
                        <label for="fecha_final">Fecha final</label>
                        <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="item.fecha_final" :required="true"></vuejs-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <b-button type="submit" class="mt-3">Guardar</b-button>
        </div>
    </form>
</div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
import fn from './../functions/currency'
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        vuejsDatepicker,contratodata
    },
    data()
    {
        return {
            base:'',
            es:es,
            contrato_id:'',
            fecha_poliza: '',
            form: [],
            dataArray: {
                clase_cobertura: '',
                fecha_inicio: '',
                fecha_final: '',
                contrato_id: ''
            }
        }
    },
    methods:{
        save()
        {
            let me = this;
            if($('form').valid())
            {
                let form = {
                    fecha_poliza:this.fecha_poliza,
                    contrato_id:this.contrato_id,
                    data:this.form
                };
                me.disabled=true;
                axios.post(base+'/coberturas',form).then(response => 
                {
                    me.$swal('La cobertura ha sido registrada.');
                    me.disabled = true;
                    me.form = [];
                    me.addForm();
                })
                .catch((response)=>{
                    me.$swal('ERROR');
                    me.disabled=false;
                })
            }
        },
        addForm(){
            this.form.push(this.dataArray);
        },
    },
    mounted:function()
    {
        this.base=base;
        this.contrato_id = this.$route.params.contrato_id;
        this.dataArray.contrato_id = this.$route.params.contrato_id;
        this.addForm();
        $('form').validate();
    }

}
</script>

<style>

</style>