<template>
    <form @submit.prevent="guardar" id="form">
        <div class="row">
            <div class="col-md-12">
                <label for="">Describir la causal</label>
                <input type="text" v-model="form.causal" class="form form-control" required>
            </div>
            <div class="col-md-12">
                <label for="">Observacion</label>
                <textarea name="" v-model="form.observacion" class="form form-control" id="" cols="30" rows="10" required></textarea>
            </div>
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" :disabled="disabled"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    watch:{
        forms:function(data)
        {
            let me = this;
            me.form.id          = data.id;
            me.form.causal      = data.causal;
            me.form.observacion = data.observacion;
        }
    },
    props:['forms'],
    data() {
        return {
            disabled:false,
            form:{
                id:'',
                causal:'',
                observacion:''
            }           
        }
    },
    methods:{
        start()
        {
            let me = this;
            $('#form').validate();
        },
        guardar()
        {
            let me = this;
            if($('#form').valid())
            {
                me.disabled=true;
                me.$emit('guardar',me.form);
            }
        }
    },
    mounted() {
        let me = this;
        me.start();
    },
}
</script>