<template>
    <div>
        <router-link class="btn btn-success" :to="{ name: 'contratacionDirectaCreate',params:{id:$route.params.id}}"><i class="far fa-edit"></i> Nuevo</router-link>
        <br>
        <br>
        <table border="1" class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Opcionse</th>
                    <th>Causal</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tr v-for="(data,index) in dataArray" :key="index">
                <td>{{index+1}}</td>
                <td>
                    <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                        <b-dropdown-item :to="{name:'contratacionDirectaUpdate',params:{id:data.id}}"><i class="far fa-edit"></i> Editar</b-dropdown-item>    
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item><i class="fas fa-trash-alt"></i> Eliminar</b-dropdown-item>
                    </b-dropdown>
                </td>
                <td>{{data.causal}}</td>
                <td>{{data.observacion}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            base:'',
            dataArray:[]
        };  
    },
    filters:
    {
        formaNumeric: function (value)
        {
            return value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
        }
    },
    methods:{
        listData()
        {
            let me = this;
            let url = base + '/contratacion/directa/detail/'+me.$route.params.id
            axios
            .get(url)
            .then(function(response){
                me.dataArray = response.data;
            })
            .catch(function(response){

            })
        }
    },
    mounted(){
        this.base = base;
        this.listData();
    }
}
</script>