<template>
    <div class="row">
			<div class="col-xl-12 col-lg-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">Crear nuevo tipo de vinculación</h6>
					</div>
					<div class="card-body">
						<div class="container-fluid">
								<form  @submit.prevent="guardar">
									<b-row>

										<b-col lg="12">
											<b-form-group>
												<b-row>
													<b-col lg="2">
														<label class="mr-sm-2" for="nombre">Nombre</label>
													</b-col>
													<b-col lg="10">
														<input
															class="form form-control"
															id="nombre"
															type="text"
															v-model="form.nombre"
															placeholder="Ingrese el nombre del tipo de vinculación"
															required>
													</b-col>
												</b-row>
											</b-form-group>
										</b-col>

									</b-row>
									<hr>

									<b-row>
										<b-button variant="primary" @click="guardar()">
											Guardar
										</b-button>
									</b-row>

								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>

<script>
export default {
	data() {
		return {
			form:{
				nombre:'',
			}
		}
	},
	methods:{
		guardar(){
			let me = this;
			axios
			.post(base+'/cargos', this.form)
			.then(r=>{

            	me.$swal('Se ha registrado');
            	me.$router.push({name:'CargoIndex'});
			})
		}
	}
}
</script>