<template v-if="permisos.cargos_index">
    <div class="row">
        <div class="col-md-12" v-if="permisos.cargos_create">
            <router-link :to="{name:'CargoCreate'}" class="btn btn-success" ><i class="fas fa-clipboard-list"></i> Nuevo tipo de vinculacion</router-link>
            <br>
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" border="1">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                </tr>
                <tr v-for="(item,idx) in arrayCargos" :key="idx">
                    <td>{{idx+1}}</td>
                    <td>{{item.nombre}}</td>
                </tr>
            </table>
        </div>
        
    </div>
</template>

<script>
export default {
	data() {
		return {
			arrayCargos: []
		}
	},
	methods: {
		loadCargos()
		{
			let me = this;
			axios
			.get(base+'/cargos')
			.then( (response) => {
				me.arrayCargos = response.data.data;
			});
		},
	},

	mounted() {
		$('form').validate();
		this.loadCargos();
	},
}
</script>

<style>

</style>