<template>
	<div>
		<div class="row">
            <div class="col-md-4">
                <label for="codigo">Buscar Contratos</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" v-model="codigo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="search"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<table class="table table-hover" border="1">
				<thead>
					<tr>
						<th>#</th>
						<th>Fecha ingreso</th>
						<th>Fecha devolución</th>
						<th>Quien devuelve</th>
						<th>A quien devuelve</th>
						<th>Motivo de devolución</th>
						<th>Número de<br>contrato</th>
						<th>Estado<br>actual</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,idx) in contratos" :key="idx">
						<td>{{idx+1}}</td>
						<td>{{item.fecha_ingreso}}</td>
						<td>{{item.fecha_devolucion}}</td>
						<td>{{item.tbl_tipo_devolucion_from.nombre}}</td>
						<td> <label>{{item.tbl_tipo_devolucion_to.nombre}}</label></td>
						<td>{{item.motivo_devolucion}}</td>
						<td>{{item.numero}}</td>
						<td>
							<label class="badge badge-success" v-if="item.estado=='aprobado'">{{item.estado}}</label>
                            <label class="badge badge-warning" v-if="item.estado=='tramite'">{{item.estado}}</label>
                            <label class="badge badge-danger" v-if="item.estado=='devuelto'">{{item.estado}}</label>
                            <label class="badge badge-primary" v-if="item.estado==null">N/A</label>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
	</div>
</template>
<script>
import devoluciones from '../functions/devoluciones'; 
export default {
    components: {
        devoluciones,
    },
	data() {
		return {
			contratos: [],
			codigo:''
		}
	},
	methods: {
        index(valor) {
			let me = this
            let url = '/devoluciones/index'
			axios
            .get(base+url)
            .then(function(response)
            {
                me.contratos = response.data.data
            })
            .catch(function(error){ })
		},
		search() {
			this.index(this.codigo)
		}
	},
	mounted() {
        this.base=base
        this.index()
	}
}
</script>