<template>
    <div class="row">
        <div class="col-md-4">
            <label for="">Buscar contrato</label>
            <input type="text" class="form form-control">
            <br>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Opciones</th>
                        <th>Contrato</th>
                        <th>Fecha de<br>suscripcion</th>
                        <th>Vigencia<br>inicio</th>
                        <th>Vigencia<br>terminación</th>
                        <th>Valor</th>
                        <th>Liquidado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in dataArray" :key="idx" style="text-align: end;">
                        <td>{{idx+1}}</td>
                        <td>
                            <b-dropdown id="dropdown-1" text="Opciones" class="m-md-2">
                                <b-dropdown-item :to="{name:'contratoDetalle', params:{contrato_id:item.id}}"><i class="fas fa-file-contract"></i> Detalle de contrato</b-dropdown-item>    
                                <b-dropdown-item v-if="item.tbl_contratos_liquidacion==null" :to="{name:'liquidacionTipo', params:{contrato_id:item.id}}"><i class="far fa-edit"></i> Liquidar</b-dropdown-item>    
                                <b-dropdown-item v-if="item.tbl_contratos_liquidacion!=null" :to="{name:'liquidacionRevisionInicial', params:{contrato_liquidacion_id:item.tbl_contratos_liquidacion.id}}"><i class="far fa-edit"></i> Revisión inicial</b-dropdown-item>    
                                <b-dropdown-item><i class="fas fa-file-alt"></i> Observación</b-dropdown-item>    
                            </b-dropdown>
                        </td>
                        <td>{{item.numero}}</td>
                        <td>{{item.suscripcion_fecha | formatDate}}</td>
                        <td>{{item.vigencia_desde | formatDate}}</td>
                        <td>{{item.vigencia_hasta | formatDate}}</td>
                        <td>${{item.valor_contrato|formatCurrencyPipe}}</td>
                        <td>
                            <template v-if="item.tbl_contratos_liquidacion==null">Sin liquidar</template>
                            <template v-else>Liquidando</template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
import fn from './../functions/currency'
import devoluciones from '../functions/devoluciones'; 
export default {
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        },
        formatDate(value)
        {
            let f = new Date(value)
            return f.getFullYear() + "-" + ((f.getMonth() +1)<10?'0':'')+(f.getMonth() +1) + "-" +(f.getDate()<10?'0':'')+f.getDate();
        },
    },
    components: {
        devoluciones,
    },
    data()
    {
        return {
            dataArray:[]
        }
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base+'/contratos/liquidacion';
            axios
            .get(url)
            .then((response)=>{
                me.dataArray=response.data.data;
            })
        }
    },
    mounted()
    {
        this.loadData();
    }
    
}
</script>