<template>
    <div>
        <contratodata v-if="form.contrato_id!=''" :id_contrato="form.contrato_id"></contratodata>
        <div class="col-md-12">
            <form @submit.prevent="guardar">
                <div class="card">
                    <div class="card-header"><h4>OBSERVACIONES POST-CONTRACTUALES</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Saldo a liberar</label>
                                <input type="number" class="form form-control" id="saldoliberar" name="saldoliberar" v-model="form.saldoliberar">
                            </div>
                            <div class="col-md-12">
                                <label><i class="rq">*</i> Observaciones</label>
                                <textarea rows="10" class="form form-control" id="observaciones" name="observaciones" v-model="form.observaciones" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <label>Concepto de cumplimiento</label>
                                <textarea rows="10" class="form form-control" id="conceptocumplimiento" name="conceptocumplimiento" v-model="form.conceptocumplimiento"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<style>

</style>
<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        contratodata,
        vuejsDatepicker
    },
    data()
    {
        return {
            es:es,
            disabled:false,
            form:{
                contrato_id:'',
                saldoliberar:'',
                observaciones:'',
                conceptocumplimiento:'',
            }
        };
    },
    methods:{
        guardar()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/observaciones-postcontracuales'
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.$swal('Guardado con éxito');
                })
                .catch((response)=>{
                    me.$swal('ERROR');
                    console.clear();
                    console.warn(response.response.data);
                    me.disabled=false;
                })
            }
        }
    },
    mounted()
    {
        this.form.contrato_id=this.$route.params.contrato_id;
        $('form').validate();
    }
}
</script>