<template>
    <div>
        <contratodata v-if="form.contrato_id!=''" :id_contrato="form.contrato_id"></contratodata>
        <div class="col-md-12">
            <form @submit.prevent="guardar">
                <div class="card">
                    <div class="card-header"><h4>Revisión inicial</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Fecha de ingreso</label>
                                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha_ingreso" :required="true"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label>Fecha de egreso</label>
                                 <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha_egreso"></vuejs-datepicker>
                            </div>
                            <div class="col-md-4">
                                <label>Número de radicado</label>
                                <input type="text" class="form form-control" id="radicado" name="radicado" v-model="form.radicado" required/>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import contratodata from '../functions/datoscontrato';
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
export default {
    components: {
        contratodata,
        vuejsDatepicker
    },
    data()
    {
        return {
            es:es,
            disabled:false,
            form:{
                contrato_liquidacion_id:'',
                contrato_id:'',
                fecha_ingreso:'',
                fecha_egreso:'',
                radicado:''
            }
        };
    },
    methods:{
        loadData()
        {
            let me = this;
            let url = base+'/liquidacion/'+me.form.contrato_liquidacion_id
            axios
            .get(url)
            .then((response)=>{
                me.form.contrato_id=response.data.data.contrato_id;
            })
            .catch((response)=>{
                me.$swal('ERROR');
                console.clear();
                console.warn(response.response.data);
                me.disabled=false;
            })
        },
        guardar()
        {
            if($('form').valid())
            {
                let me = this;
                me.disabled=true;
                let url = base+'/liquidacion-revision-inicial'
                axios
                .post(url,me.form)
                .then((response)=>{
                    me.$swal('Guardado con éxito');
                })
                .catch((response)=>{
                    me.$swal('ERROR');
                    console.clear();
                    console.warn(response.response.data);
                    me.disabled=false;
                })
            }
        }
    },
    mounted()
    {
        this.form.contrato_liquidacion_id=this.$route.params.contrato_liquidacion_id;
        $('form').validate();
        this.loadData();
    }
}
</script>