<template>
    <div class="row">
        <contratodata v-if="form.contrato_id!=''" :id_contrato="form.contrato_id"></contratodata>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Liquidación
                </div>
                <div class="card-body">
                    <form @submit.prevent="guardar" id="form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Tipo</label>
                                <select id="tipo_liquidacion" name="tipo_liquidacion" v-model="form.tipo_liquidacion" type="text" class="form form-control" required>
                                    <option style="display:non" value="">Seleccione</option>
                                    <option value="unilateral">Unilateral</option>
                                    <option value="mutuoacuerdo">Mutuo acuerdo</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label>observacion</label>
                                <textarea id="observacion" name="observacion" v-model="form.observacion" type="text" class="form form-control" rows="10"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button class="btn btn-success" :disabled="disabled">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata,
    },
    data()
    {
        return {
            disabled:false,
            form:{
                contrato_id:'',
                tipo_liquidacion:'',
                observacion:'',
            }
        }
    },
    methods:{
        guardar()
        {
            let me = this;
            if($('form').valid())
            {
                me.disabled=true;
                axios
                .post(base+'/liquidacion', me.form)
                .then(response => { 
                    me.$swal('Guardado con éxito');
                })
                .catch((response)=>{
                    me.$swal('ERROR');
                    console.clear();
                    console.warn(response.response.data);
                    me.disabled=false;
                })
            }
        }
    },
    mounted()
    {
        this.form.contrato_id = this.$route.params.contrato_id
        $('form').validate()
    }
}
</script>