<template>
    <form @submit.prevent="save()">
        <div class="row">
            <div class="col-md-12">
                <h4>Datos de de la acta de suspensión</h4>
            </div>
            <div class="col-md-6">
                <label for="ncontrato">Número de contrato</label>
                <input type="number" id="ncontrato" name="ncontrato" min="0" @change="contratosValidos" v-model="form.ncontrato" class="form form-control" required>
            </div>
            <div class="col-md-6">
                <label for="fecha">Fecha</label>
                <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.fecha" :required="true"></vuejs-datepicker>
            </div>
            <div class="col-md-12">
                <br>
                <br>
            </div>
            <contratodata v-if="form.id_contrato!=''" :id_contrato="form.id_contrato"></contratodata>
            <div class="col-md-12">
                <label for="motivo">Motivo</label>
                <textarea id="motivo" rows="6" name="motivo" v-model="form.motivo" class="form form-control" required></textarea>
            </div>
            <div class="col-md-6">
                <label for="tiempo">Tiempo</label>
                <input type="number" id="tiempo" min="0" name="tiempo" v-model="form.tiempo" class="form form-control" required>
            </div>
            <div class="col-md-6">
                <label for="tipo_tiempo">Tipo tiempo</label>
                <select id="tipo_tiempo" name="tipo_tiempo" v-model="form.tipo_tiempo" class="form form-control" required>
                  <option value="">Seleccione una opción</option>
                  <option value="dias">Días</option>
                  <option value="meses">Meses</option>
                  <option value="anios">Años</option>
                </select>
            </div>
        </div>
            <b-button type="submit" class="mt-3" :disabled="!isValid">Guardar</b-button>
    </form>
</template>

<script>
import fn from './../functions/currency'
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata,
        vuejsDatepicker
    },
    data()
    {
        return {
            base:'',
            es:es,
            form: {
                id_contrato:'',
                fecha: '',
                ncontrato: '',
                motivo: '',
                tiempo: '',
                tipo_tiempo: ''
            },
            isValid: false,
        }
    },
    methods:{
      contratosValidos() {
        let me = this;
        axios.get(`${base}/actas-de-suspension/contratos-validos/${this.form.ncontrato}`).then( response => {
          if(response.data.count > 0) {
            me.isValid = true;
            me.form.id_contrato=response.data.data.id;
          } else {
            me.isValid = false;
          }
        });
      },
        save()
        {
            let me = this;
            if($('form').valid())
            {
                  me.disabled=true;
                  axios.get(`${base}/actas-de-suspension/contratos-validos/${this.form.ncontrato}`)
                  .then( response => {
                    if(response.data.count > 0) {
                      axios.post(base+'/actas-de-suspension',me.form).then(response => {
                          me.$swal('El acta de suspensión ha sido registrada.');
                          me.disabled=false;
                          me.isValid = false;
                          me.form = {fecha: '',ncontrato: '',motivo: '',tiempo:'',tipo_tiempo: ''};
                      })
                      .catch((response)=>{
                          console.warn(response);
                          me.$swal('ERROR');
                          me.disabled=false;
                      });
                    } else {
                      me.isValid = false;
                      me.$swal('Este numero de contrato no existe.');
                    }
                  });

            }
        },
    },
    mounted:function()
    {
        this.base=base;
        $('form').validate();
    }

}
</script>

<style>

</style>
