<template>
    <div>
        <div class="row">
            <div class="col-md-4">
              <router-link type="button" :to="{name:'asignaractasuspension'}" class="btn btn-success mb-3" name="button">Crear nueva acta de suspensión</router-link>
                <label for="codigo">Buscar acta de suspensión</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" v-model="codigo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" ><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <b-col lg="12">
                <label for="search">Filtrado</label>
                <div class="input-group mb-3">
                    <b-form-input placeholder="Buscar" v-model="filter">
                    </b-form-input>
                </div>
            </b-col>
        </div>
        <div class="row">
            <!--<template v-for="(item,index) in dataArray" >
            <div class="col-md-4" :key="index">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Número de contrato {{item.contrato_numero}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.fecha}}</h6>
                        <p class="card-text">
                            {{item.tiempo}} <span v-if="item.tipo_tiempo == 'anios' ">años</span>
                            <span v-else>{{item.tipo_tiempo}}</span>
                        </p>
												<p class="card-text">
                          {{item.motivo}}
                        </p>
                    </div>
                </div>
                <br>
            </div>
            </template> -->
            <b-table
                show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(time)="row">
                    {{row.item.tiempo}} {{ row.item.tipo_tiempo }}
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>

        </div>
    </div>
</template>

<script>
export default {

    data()
    {
        return {
            base:'',
            dataArray:[],
            codigo:'0',
            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
				//{ key: "id", label: "Opciones", sortable: false },
				//{ key: "contrato_numero", label: "Número de contrato", sortable: true },
				{ key: "fecha", label: "Fecha", sortable: true },
                { key: "time", label: "Tiempo", sortable: true },
                { key: "motivo", label: "Motivo", sortable: true },
			]
        }
    },
    filters:{
        /*searchMore(value)
        {
            return value.substring(0,100)+(value.length>100?'..':'');
        }*/
    },
    methods:{
        getContratos()
        {
            let me = this;

            axios.get(base+'/actas-de-suspension').then(response => {
								me.dataArray=response.data.data;
            })
            .catch(function(response){

            })
        }
    },
    mounted(){
        this.base=base;
        this.getContratos()
    }
}
</script>
