<template>
    <form @submit.prevent="save">
        <div class="row">
        <!--<div class="row"> -->
        <!-- FIN DATOS DEL CONTRATO -->
                <contratodata v-if="id_contrato!=''" :id_contrato="id_contrato"></contratodata>
                <div class="card">
                    <div class="card-header">
                        <h4>Datos de contrato </h4>
                    </div>
                    <div class="card-body">
                        <label for="suscripcion_fecha" >Fecha de suscripcion</label>
                        <vuejs-datepicker datepicker :language="es" :input-class="'form-control'" v-model="form.suscripcion_fecha"></vuejs-datepicker>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4> Datos del contratista</h4>
                    </div>
                    <div class="card-body">
                    <div class="row">

                        <div class="col-md-6">
                            <label>Documento</label>
                            <input type="number" min="1" class="form form-control" @change="searchDocumentContratista" name="documento" id="documento" v-model="form.contratista.documento" required>
                        </div>
                        <div class="col-md-6">
                            <label>Nombre del establecimiento (Si tiene)</label>
                            <input type="text" class="form form-control" name="establecimiento_nombre" id="establecimiento_nombre" v-model="form.contratista.establecimiento_nombre" >
                        </div>
                        <div class="col-md-6">
                            <label>Nombre primero</label>
                            <input type="text" class="form form-control" name="nombre_primero" id="nombre_primero" v-model="form.contratista.nombre_primero" required>
                        </div>
                        <div class="col-md-6">
                            <label>Nombre segundo</label>
                            <input type="text" class="form form-control" name="nombre_segundo" id="nombre_segundo" v-model="form.contratista.nombre_segundo">
                        </div>
                        <div class="col-md-6">
                            <label>Apellido primero</label>
                            <input type="text" class="form form-control" name="apellido_primero" id="apellido_primero" v-model="form.contratista.apellido_primero" required>
                        </div>
                        <div class="col-md-6">
                            <label>Apellido segundo</label>
                            <input type="text" class="form form-control" name="apellido_segundo" id="apellido_segundo" v-model="form.contratista.apellido_segundo">
                        </div>
                        <div class="col-md-6">
                            <label>Celular</label>
                            <input type="number" min="1" class="form form-control" name="celular" id="celular" v-model="form.contratista.celular" required>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="email" class="form form-control" name="email" id="email" v-model="form.contratista.email" required>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <h5>Ubicación</h5>
                        </div>
                        <div class="col-md-4">
                            <label>Direccion</label>
                            <input type="text" class="form form-control" name="direccion" id="direccion" v-model="form.contratista.direccion" required>
                        </div>
                        <div class="col-md-4">
                            <label>Departamento</label>
                            <select class="form form-control" name="direccion" id="direccion" v-model="id_departamento" required>
                                <option value="">Seleccione</option>
                                <option v-for="(data,index) in DepartamentoArray" :key="index" :value="data.id">{{data.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Municipio</label>
                            <select class="form form-control" name="direccion" id="direccion" v-model="form.contratista.municipio_id" required>
                                <option value="">Seleccione</option>
                                <template v-for="(data,index) in municipioArray">
                                <option v-if="data.id_departamento==id_departamento" :key="index" :value="data.id">{{data.nombre}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <h4> Datos del supervisor</h4>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Documento</label>
                            <input type="number" min="1" class="form form-control" @change="searchDocumentSupervisor" name="documento" id="documento" v-model="form.supervisor.documento" required>
                        </div>
                        <div class="col-md-6">
                            <label>tipo de vinculación</label>
                            <select class="form form-control" name="documento" id="documento" v-model="form.supervisor.cargo_id" required>
                                <option value="">Seleccione</option>
                                <option v-for="(data,index) in cargosArray" :key="index" :value="data.id">{{data.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Nombre primero</label>
                            <input type="text" class="form form-control" name="nombre_primero" id="nombre_primero" v-model="form.supervisor.nombre_primero" required>
                        </div>
                        <div class="col-md-6">
                            <label>Nombre segundo</label>
                            <input type="text" class="form form-control" name="nombre_segundo" id="nombre_segundo" v-model="form.supervisor.nombre_segundo">
                        </div>
                        <div class="col-md-6">
                            <label>Apellido primero</label>
                            <input type="text" class="form form-control" name="apellido_primero" id="apellido_primero" v-model="form.supervisor.apellido_primero" required>
                        </div>
                        <div class="col-md-6">
                            <label>Apellido segundo</label>
                            <input type="text" class="form form-control" name="apellido_segundo" id="apellido_segundo" v-model="form.supervisor.apellido_segundo">
                        </div>
                        <div class="col-md-6">
                            <label>Celular</label>
                            <input type="number" min="1" class="form form-control" name="celular" id="celular" v-model="form.supervisor.celular" required>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="email" class="form form-control" name="email" id="email" v-model="form.supervisor.email" required>
                        </div>
                        </div>

                    </div>
                </div>
            <div class="col-md-12">
                <br>
                <button class="btn btn-success" :disabled="disabled"><i v-if="!disabled" class="far fa-save"></i><img v-if="disabled" :src="base+'/image/load.gif'" alt="Loading" style="width: 15px;text-align: center;">  Guardar</button>
            </div>
        </div>
    </form>
</template>

<script>
import fn from './../functions/currency'
import vuejsDatepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import contratodata from '../functions/datoscontrato';
export default {
    components: {
        contratodata,
        vuejsDatepicker
    },
    filters:{
        formatCurrencyPipe(value)
        {
            return fn.formatCurrency(value);
        }
    },
    data()
    {
        return {
            base:'',
            es:es,
            DepartamentoArray:[],
            municipioArray:[],
            cargosArray:[],
            id_contrato:'',
            id_departamento:'',
            disabled:false,
            form:{
                suscripcion_fecha:'',
                id: '',
                contratista:{
                    id:'',
                    establecimiento_nombre:'',
                    nombre_primero:'',
                    nombre_segundo:'',
                    apellido_primero:'',
                    apellido_segundo:'',
                    documento:'',
                    celular:'',
                    email:'',
                    direccion:'',
                    municipio_id:'',
                },
                supervisor:{
                    id:'',
                    nombre_primero:'',
                    nombre_segundo:'',
                    apellido_primero:'',
                    apellido_segundo:'',
                    documento:'',
                    celular:'',
                    email:'',
                    direccion:'',
                    cargo_id:'',
                },

            }
        }
    },
    methods:{
        async getContrato() {
            let me = this;
          await axios.get(`${base}/actas-de-inicio/contrato/${this.$route.params.contrato_id}`)
          .then( response => {
                let temp=response.data.data;
                me.form.suscripcion_fecha=temp.fecha_suscripcion;
                this.loadContratista(temp.tbl_contratistas);
                this.loadSupervisor(temp.tbl_recursos_humanos_supervisor);
          }).catch(error => console.warn(error))
        },
        loadContratista(item) {
          let me = this;
          const resultado = me.municipioArray.find(municipios => municipios.id === item.municipio_id);
          me.form.contratista.establecimiento_nombre = item.establecimiento_nombre;
          me.form.contratista.nombre_primero         = item.nombre_primero;
          me.form.contratista.nombre_segundo         = item.nombre_segundo;
          me.form.contratista.apellido_primero       = item.apellido_primero;
          me.form.contratista.apellido_segundo       = item.apellido_segundo;
          me.form.contratista.documento              = item.documento;
          me.form.contratista.direccion              = item.direccion;
          me.form.contratista.celular                = item.celular;
          me.form.contratista.email                  = item.email;
          me.id_departamento                         = resultado.id_departamento;
          me.form.contratista.municipio_id           = item.municipio_id;
        },
        loadSupervisor(item) {
          let me = this;

          me.form.supervisor.nombre_primero         = item.nombre_primero;
          me.form.supervisor.nombre_segundo         = item.nombre_segundo;
          me.form.supervisor.apellido_primero       = item.apellido_primero;
          me.form.supervisor.apellido_segundo       = item.apellido_segundo;
          me.form.supervisor.documento              = item.documento;
          me.form.supervisor.direccion              = item.direccion;
          me.form.supervisor.celular                = item.celular;
          me.form.supervisor.email                  = item.email;
          me.form.supervisor.cargo_id               = item.cargo_id;
        },
        formatCurrency(idx)
        {
            this.form.cuotas[idx].valor = fn.formatCurrency(this.form.cuotas[idx].valor);
            this.$forceUpdate();
        },
        loadDepartamento()
        {
            let me = this;
            let url = base + '/departamento';
            axios
            .get(url)
            .then(function(response)
            {
                me.DepartamentoArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadMunicipio()
        {
            let me = this;
            let url = base + '/municipio';
            axios
            .get(url)
            .then(function(response)
            {
                me.municipioArray=response.data;
            })
            .catch(function(response)
            {
                console.warn(response)
            })
        },
        loadCargos()
        {
            let me = this;
            axios
            .get(base+'/cargos')
            .then((response)=>{
                if(response.data.validate)
                {
                    me.cargosArray=response.data.data;
                }
            })
            .catch((response)=>{
                me.$swal('ERROR');
                me.disabled=false;
            })
        },
        save()
        {
            let me = this;
            if($('form').valid())
            {
                me.disabled=true;
                me.form.id = me.$route.params.contrato_id;
                axios.post(base+'/actas-de-inicio', me.form).then(response => {
                    //me.disabled=false;
                    me.$swal('Guardado con éxito');
                })
                .catch((response)=>{
                    me.$swal('ERROR');
                    me.disabled=false;
                })
            }
        },
        searchDocumentContratista()
        {
            let me = this;
            axios
            .post(base+'/contratistas/searcdocumento',{documento:me.form.contratista.documento})
            .then((response)=>{

                if(response.data.data != null)
                {
                    const resultado = me.municipioArray.find(municipios => municipios.id === response.data.data.municipio_id);
                    me.form.contratista.establecimiento_nombre = response.data.data.establecimiento_nombre;
                    me.form.contratista.nombre_primero         = response.data.data.nombre_primero;
                    me.form.contratista.nombre_segundo         = response.data.data.nombre_segundo;
                    me.form.contratista.apellido_primero       = response.data.data.apellido_primero;
                    me.form.contratista.apellido_segundo       = response.data.data.apellido_segundo;
                    me.form.contratista.documento              = response.data.data.documento;
                    me.form.contratista.direccion              = response.data.data.direccion;
                    me.form.contratista.celular                = response.data.data.celular;
                    me.form.contratista.email                  = response.data.data.email;
                    me.id_departamento                         = resultado.id_departamento;
                    me.form.contratista.municipio_id           = response.data.data.municipio_id;
                } else {

                  //const resultado = me.municipioArray.find(municipios => municipios.id === response.data.data.municipio_id);
                  me.form.contratista.establecimiento_nombre = ''
                  me.form.contratista.nombre_primero         = ''
                  me.form.contratista.nombre_segundo         = ''
                  me.form.contratista.apellido_primero       = ''
                  me.form.contratista.apellido_segundo       = ''
                  //me.form.contratista.documento              = ''
                  me.form.contratista.direccion              = ''
                  me.form.contratista.celular                = ''
                  me.form.contratista.email                  = ''
                  me.id_departamento                         = ''
                  me.form.contratista.municipio_id           = ''
                }
            })
            .catch((response)=>{

            })
        },
        searchDocumentSupervisor()
        {
            let me = this;
            axios
            .post(base+'/recursoshumanos/documento',{documento:me.form.supervisor.documento})
            .then((response)=>{

                if(response.data.data != null)
                {
                    me.form.supervisor.nombre_primero         = response.data.data.nombre_primero;
                    me.form.supervisor.nombre_segundo         = response.data.data.nombre_segundo;
                    me.form.supervisor.apellido_primero       = response.data.data.apellido_primero;
                    me.form.supervisor.apellido_segundo       = response.data.data.apellido_segundo;
                    me.form.supervisor.documento              = response.data.data.documento;
                    me.form.supervisor.direccion              = response.data.data.direccion;
                    me.form.supervisor.celular                = response.data.data.celular;
                    me.form.supervisor.email                  = response.data.data.email;
                    me.form.supervisor.cargo_id               = response.data.data.cargo_id;
                } else {
                  me.form.supervisor.nombre_primero         = ''
                  me.form.supervisor.nombre_segundo         = ''
                  me.form.supervisor.apellido_primero       = ''
                  me.form.supervisor.apellido_segundo       = ''
                  //me.form.supervisor.documento            = ''
                  me.form.supervisor.direccion              = ''
                  me.form.supervisor.celular                = ''
                  me.form.supervisor.email                  = ''
                  me.form.supervisor.cargo_id               = ''
                }
            })
            .catch((response)=>{

            })
        },
    },
    mounted:function()
    {
        this.base=base;
        this.id_contrato=this.$route.params.contrato_id
        $('form').validate();
        this.loadCargos();
        this.loadDepartamento();
        this.loadMunicipio();
        this.getContrato();
    }

}
</script>

<style>
.card{
    margin-bottom: 10px;
}
</style>
