<template>
    <div>
        <div class="row">
            <div class="col-md-4">
                <label for="codigo">Buscar Contrato</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" v-model="codigo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" ><i class="fas fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>
            <b-col lg="8">
                <label for="search">Filtrado</label>
                <div class="input-group mb-3">
                    <b-form-input placeholder="Buscar" v-model="filter">
                    </b-form-input>
                </div>
            </b-col>
        </div>
        <div class="row">
            <!--<template v-for="(item,index) in dataArray" >
            <div class="col-md-4" :key="index">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tipo {{item.personeria_tipo}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{item.numero}}</h6>
                        <p class="card-text">
                            Valor {{item.valor_contrato}}
                        </p>
												<p class="card-text">
                            <b-badge v-if="item.tbl_actas_de_inicio !== null" variant="success">Con acta</b-badge>
														<b-badge v-if="item.tbl_actas_de_inicio == null" variant="danger">Por asignar</b-badge>
                        </p>
                        <router-link v-if="item.tbl_actas_de_inicio == null" :to="{name:'asignaractainicio',params:{contrato_id:item.id}}" class="card-link">Asignar acta</router-link>
                    </div>
                </div>
                <br>
            </div>
            </template> -->
            <b-table
                show-empty
				small
				stacked="md"
				:empty-filtered-text="'No se encontraron resultados'"
				:items="dataArray"
				:fields="fields"
				:current-page="currentPage"
				:per-page="perPage"
				:filter="filter"
            >
                <template #cell(id)="row">
                    <router-link v-if="row.item.tbl_actas_de_inicio == null" 
                        :to="{name:'asignaractainicio',params:{contrato_id:row.item.id}}" 
                            class="btn btn-primary">Asignar acta</router-link>
                </template>
                <template #cell(valor_contrato)="row">
                    $ {{row.item.valor_contrato|currency}}
                </template>
                <template #cell(tbl_actas_de_inicio)="row">
                    <b-badge v-if="row.item.tbl_actas_de_inicio !== null" variant="success">Con acta</b-badge>
                    <b-badge v-if="row.item.tbl_actas_de_inicio === null" variant="danger">Por asignar</b-badge>
                </template>

            </b-table>
            <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
            >
            </b-pagination>

        </div>
    </div>
</template>

<script>
import fn from "../functions/currency";
export default {
    filters:{
		currency:function(value){
			return fn.formatCurrency(value);
		}
	},
    data()
    {
        return {
            base:'',
            dataArray:[],
            codigo:'0',
            totalRows: 0,
            currentPage: "",
            perPage: 5,
            filter: "",
            fields:[
				{ key: "id", label: "Opciones", sortable: false },
				{ key: "personeria_tipo", label: "Tipo", sortable: true },
				{ key: "numero", label: "number", sortable: true },
                { key: "valor_contrato", label: "Valor del contrato", sortable: true },
                { key: "tbl_actas_de_inicio", label: "Cobertura", sortable: true },
			]
        }
    },
    filters:{
        /*searchMore(value)
        {
            return value.substring(0,100)+(value.length>100?'..':'');
        }*/
    },
    methods:{
        getContratos()
        {
            let me = this;

            axios.get(base+'/coberturas/contratos').then(response => {
								me.dataArray=response.data.data;
            })
            .catch(function(response){

            })
        }
    },
    mounted(){
        this.base=base;
        this.getContratos()
    }
}
</script>
